sales/n8n-workspace/SAAS/mottivme-platform/n8n-workflows/02-followup-24h.json
{
  "name": "PROPOSTAL - Follow-up 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "A cada 1 hora"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "supabase-url",
              "name": "supabase_url",
              "value": "https://bfumywvwubvernvhjehk.supabase.co",
              "type": "string"
            },
            {
              "id": "supabase-key",
              "name": "supabase_key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmdW15d3Z3dWJ2ZXJudmhqZWhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTQwMzc5OSwiZXhwIjoyMDY2OTc5Nzk5fQ.fdTsdGlSqemXzrXEU4ov1SUpeDn_3bSjOingqkSAWQE",
              "type": "string"
            },
            {
              "id": "ghl-location",
              "name": "ghl_location_id",
              "value": "cd1uyzpJox6XPt4Vct8Y",
              "type": "string"
            },
            {
              "id": "ghl-api",
              "name": "ghl_api_key",
              "value": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "config",
      "name": "⚙️ Configurações"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.supabase_url }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*,proposals(title,client_name)"
            },
            {
              "name": "status",
              "value": "eq.viewed"
            },
            {
              "name": "last_activity",
              "value": "lt.{{ $now.minus({hours: 24}).toISO() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.supabase_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "fetch-leads",
      "name": "Supabase - Buscar Leads sem Follow-up"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "id": "check-leads",
      "name": "Tem Leads para Follow-up?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [880, -100],
      "id": "split-leads",
      "name": "Separar cada Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('⚙️ Configurações').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('⚙️ Configurações').item.json.ghl_location_id }}\",\n  \"query\": \"{{ $json.email }}\",\n  \"pageLimit\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "id": "search-contact",
      "name": "GHL - Buscar Contato"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-contact",
              "leftValue": "={{ $json.contacts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, -100],
      "id": "check-contact",
      "name": "Contato Existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('⚙️ Configurações').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $json.contacts[0].id }}\",\n  \"message\": \"Oi {{ $('Separar cada Lead').item.json.name }}! Passando para saber se voc\u00ea teve tempo de analisar a proposta \\\"{{ $('Separar cada Lead').item.json.proposals.title }}\\\". Alguma d\u00favida que eu possa ajudar? \ud83d\ude0a\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -200],
      "id": "send-followup",
      "name": "GHL - Enviar Follow-up WhatsApp"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('⚙️ Configurações').item.json.supabase_url }}/rest/v1/leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Separar cada Lead').item.json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('⚙️ Configurações').item.json.supabase_key }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('⚙️ Configurações').item.json.supabase_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"engaged\",\n  \"last_activity\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -200],
      "id": "update-lead-status",
      "name": "Supabase - Atualizar Status Lead"
    },
    {
      "parameters": {
        "content": "## \u23f0 PROPOSTAL - Follow-up 24h\n\n### O que este workflow faz:\n1. Roda a cada 1 hora\n2. Busca leads que visualizaram proposta h\u00e1 mais de 24h\n3. Para cada lead, busca contato no GHL\n4. Envia mensagem de follow-up via WhatsApp\n5. Atualiza status do lead no Supabase\n\n### Configura\u00e7\u00e3o:\n- Altere as vari\u00e1veis no n\u00f3 \"\u2699\ufe0f Configura\u00e7\u00f5es\"\n- Ajuste o intervalo conforme necess\u00e1rio\n\n### Importante:\n- N\u00e3o envia follow-up para leads j\u00e1 \"engaged\" ou \"hot\"",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-300, -100],
      "typeVersion": 1,
      "id": "docs-note",
      "name": "\ud83d\udccc Documenta\u00e7\u00e3o"
    }
  ],
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "⚙️ Configurações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Configurações": {
      "main": [
        [
          {
            "node": "Supabase - Buscar Leads sem Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Buscar Leads sem Follow-up": {
      "main": [
        [
          {
            "node": "Tem Leads para Follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Leads para Follow-up?": {
      "main": [
        [
          {
            "node": "Separar cada Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar cada Lead": {
      "main": [
        [
          {
            "node": "GHL - Buscar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Buscar Contato": {
      "main": [
        [
          {
            "node": "Contato Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato Existe?": {
      "main": [
        [
          {
            "node": "GHL - Enviar Follow-up WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Enviar Follow-up WhatsApp": {
      "main": [
        [
          {
            "node": "Supabase - Atualizar Status Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
