mottivme-sales-total/projects/n8n-workspace/SAAS/mottivme-platform/n8n-workflows/03-chat-escalation-alert.json
{
  "name": "PROPOSTAL - Chat Escalation Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "propostal-chat-escalation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-trigger",
      "name": "Webhook - Chat Escalado",
      "webhookId": "propostal-chat-escalation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead-name",
              "name": "leadName",
              "value": "={{ $json.body.lead.name }}",
              "type": "string"
            },
            {
              "id": "lead-email",
              "name": "leadEmail",
              "value": "={{ $json.body.lead.email }}",
              "type": "string"
            },
            {
              "id": "lead-phone",
              "name": "leadPhone",
              "value": "={{ $json.body.lead.phone }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "userMessage",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "proposal-title",
              "name": "proposalTitle",
              "value": "={{ $json.body.proposal.title }}",
              "type": "string"
            },
            {
              "id": "owner-phone",
              "name": "ownerPhone",
              "value": "={{ $json.body.company.owner_phone }}",
              "type": "string"
            },
            {
              "id": "ghl-location",
              "name": "ghl_location_id",
              "value": "cd1uyzpJox6XPt4Vct8Y",
              "type": "string"
            },
            {
              "id": "ghl-api",
              "name": "ghl_api_key",
              "value": "pit-fe627027-b9cb-4ea3-aaa4-149459e66a03",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "set-variables",
      "name": "Preparar Dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $json.ghl_location_id }}\",\n  \"query\": \"{{ $json.leadEmail }}\",\n  \"pageLimit\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "search-lead",
      "name": "GHL - Buscar Lead"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contacts[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Dados').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"propostal\", \"chat-escalado\", \"urgente\", \"lead-quente\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "id": "update-tags",
      "name": "GHL - Adicionar Tags Urgente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Dados').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('GHL - Buscar Lead').item.json.contacts[0].id }}\",\n  \"message\": \"{{ $('Preparar Dados').item.json.leadName }}, entendi! Vou pedir para um especialista entrar em contato com voc\u00ea agora mesmo. \ud83d\ude4c\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "id": "send-lead-message",
      "name": "GHL - Mensagem para Lead"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Dados').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Preparar Dados').item.json.ghl_location_id }}\",\n  \"query\": \"{{ $('Preparar Dados').item.json.ownerPhone }}\",\n  \"pageLimit\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "id": "search-owner",
      "name": "GHL - Buscar Vendedor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-owner",
              "leftValue": "={{ $json.contacts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1320, 0],
      "id": "check-owner",
      "name": "Vendedor Existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Preparar Dados').item.json.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $json.contacts[0].id }}\",\n  \"message\": \"\ud83d\udea8 URGENTE - Lead Quente!\\n\\nNome: {{ $('Preparar Dados').item.json.leadName }}\\nProposta: {{ $('Preparar Dados').item.json.proposalTitle }}\\nMensagem: {{ $('Preparar Dados').item.json.userMessage }}\\n\\nO lead pediu para falar com um humano! Entre em contato AGORA.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -100],
      "id": "notify-owner",
      "name": "GHL - Notificar Vendedor WhatsApp"
    },
    {
      "parameters": {
        "content": "## \ud83d\udea8 PROPOSTAL - Chat Escalation Alert\n\n### O que este workflow faz:\n1. Recebe webhook quando chat \u00e9 escalado (lead quer falar com humano)\n2. Adiciona tags urgentes no contato\n3. Envia mensagem autom\u00e1tica para o lead\n4. Notifica o vendedor via WhatsApp com os detalhes\n\n### Triggers de Escala\u00e7\u00e3o:\n- \"quero fechar\"\n- \"desconto\"\n- \"falar com algu\u00e9m\"\n- \"muito caro\"\n- etc.\n\n### Configura\u00e7\u00e3o:\n- Altere as vari\u00e1veis no n\u00f3 \"Preparar Dados\"",
        "height": 340,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-300, -100],
      "typeVersion": 1,
      "id": "docs-note",
      "name": "\ud83d\udccc Documenta\u00e7\u00e3o"
    }
  ],
  "connections": {
    "Webhook - Chat Escalado": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "GHL - Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Buscar Lead": {
      "main": [
        [
          {
            "node": "GHL - Adicionar Tags Urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Adicionar Tags Urgente": {
      "main": [
        [
          {
            "node": "GHL - Mensagem para Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Mensagem para Lead": {
      "main": [
        [
          {
            "node": "GHL - Buscar Vendedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL - Buscar Vendedor": {
      "main": [
        [
          {
            "node": "Vendedor Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendedor Existe?": {
      "main": [
        [
          {
            "node": "GHL - Notificar Vendedor WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
