sales/n8n-workspace/SAAS/MIS Sentinel/n8n-workflows/01-sentinel-knowledge-agent.json
{
  "name": "SENTINEL Knowledge Agent - FAQ & Solutions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Run Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, insight_type, content, confidence_score, metadata, created_at\nFROM mottivme_intelligence_system.sentinel_insights\nWHERE processed_for_kb = false\n  AND insight_type IN ('pattern', 'solution', 'recommendation')\nORDER BY created_at DESC\nLIMIT 50",
        "options": {}
      },
      "id": "get-unprocessed-insights",
      "name": "Get Unprocessed Insights",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-insights",
      "name": "Process One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare prompt for agent\nconst item = $input.first().json;\n\nconst prompt = `Transforme este insight em uma entrada de Knowledge Base:\n\nTipo: ${item.insight_type || 'unknown'}\nConteúdo: ${item.content || ''}\nConfiança: ${item.confidence_score || 0}\nContexto: ${JSON.stringify(item.metadata || {})}\n\nResponda APENAS com JSON válido, sem markdown, sem explicações:\n{\n  \"category\": \"faq|solution|process|best_practice\",\n  \"title\": \"Título claro\",\n  \"content\": \"Conteúdo detalhado...\",\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"priority\": 3,\n  \"should_create\": true,\n  \"reason\": \"Motivo da decisão\"\n}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    insight_id: item.id,\n    original_content: item.content\n  }\n}];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Agent Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# IDENTIDADE E MISSÃO\n\nVocê é o SENTINEL Knowledge Agent. Sua função é transformar insights de análise de mensagens em entradas de Knowledge Base estruturadas.\n\n# REGRAS\n\n1. Determine a categoria: 'faq', 'solution', 'process', 'best_practice'\n2. Crie um título claro e objetivo (max 100 chars)\n3. Crie um conteúdo detalhado e útil\n4. Extraia tags relevantes (3-5 tags)\n5. Determine a prioridade (1-5, sendo 5 mais importante)\n\n# OUTPUT\n\nResponda SEMPRE em JSON válido SEM markdown, SEM ```json```:\n{\n  \"category\": \"faq|solution|process|best_practice\",\n  \"title\": \"Título claro\",\n  \"content\": \"Conteúdo detalhado...\",\n  \"tags\": [\"tag1\", \"tag2\"],\n  \"priority\": 3,\n  \"should_create\": true,\n  \"reason\": \"Motivo da decisão\"\n}\n\nSe o insight não for relevante para a Knowledge Base, retorne should_create: false"
        }
      },
      "id": "knowledge-agent",
      "name": "Knowledge Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "groq-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1050, 500],
      "credentials": {
        "groqApi": {
          "id": "WVbQ0d3w6cnLwPtX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response\nconst aiResponse = $input.first().json;\nconst preparedData = $('Prepare Agent Prompt').first().json;\n\nlet parsed;\ntry {\n  // Try to get output from agent\n  const content = aiResponse.output || aiResponse.text || aiResponse.content || JSON.stringify(aiResponse);\n  \n  // Remove markdown code blocks if present\n  let cleanContent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Find JSON in the response\n  const jsonMatch = cleanContent.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : null;\n} catch (e) {\n  parsed = null;\n}\n\nif (!parsed || !parsed.should_create) {\n  return [{\n    json: {\n      skip: true,\n      insight_id: preparedData.insight_id,\n      reason: parsed?.reason || 'Could not parse or not relevant'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    insight_id: preparedData.insight_id,\n    knowledge_entry: {\n      category: parsed.category,\n      title: parsed.title,\n      content: parsed.content,\n      tags: parsed.tags || [],\n      priority: parsed.priority || 3,\n      source: 'sentinel_ai',\n      source_insight_id: preparedData.insight_id,\n      status: 'published'\n    }\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-should-create",
      "name": "Should Create Entry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO mottivme_intelligence_system.knowledge_base (category, title, content, tags, priority, source, source_insight_id, status, helpful_count, not_helpful_count)\nVALUES (\n  '{{ $json.knowledge_entry.category }}',\n  '{{ $json.knowledge_entry.title }}',\n  '{{ $json.knowledge_entry.content }}',\n  ARRAY[{{ $json.knowledge_entry.tags.map(t => \"'\" + t + \"'\").join(',') }}]::text[],\n  {{ $json.knowledge_entry.priority }},\n  '{{ $json.knowledge_entry.source }}',\n  '{{ $json.knowledge_entry.source_insight_id }}'::uuid,\n  '{{ $json.knowledge_entry.status }}',\n  0,\n  0\n)\nRETURNING id",
        "options": {}
      },
      "id": "insert-knowledge",
      "name": "Insert to Knowledge Base",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 200],
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE mottivme_intelligence_system.sentinel_insights\nSET processed_for_kb = true, updated_at = NOW()\nWHERE id = '{{ $json.insight_id }}'::uuid",
        "options": {}
      },
      "id": "mark-processed",
      "name": "Mark Insight as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE mottivme_intelligence_system.sentinel_insights\nSET processed_for_kb = true, updated_at = NOW()\nWHERE id = '{{ $json.insight_id }}'::uuid",
        "options": {}
      },
      "id": "mark-processed-skipped",
      "name": "Mark Skipped as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1650, 400],
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels."
        }
      }
    }
  ],
  "connections": {
    "Run Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Unprocessed Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Insights": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [
          {
            "node": "Prepare Agent Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent Prompt": {
      "main": [
        [
          {
            "node": "Knowledge Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Analysis Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Should Create Entry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Entry?": {
      "main": [
        [
          {
            "node": "Insert to Knowledge Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Skipped as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Knowledge Base": {
      "main": [
        [
          {
            "node": "Mark Insight as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Insight as Processed": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Skipped as Processed": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "mis-sentinel"
  },
  "tags": [
    {
      "name": "SENTINEL"
    },
    {
      "name": "Knowledge"
    }
  ]
}
