mottivme-sales-total/projects/n8n-workspace/Fluxos n8n/Fluxos BASE - n8n do BPO da mottivme/2. MKT:Vendas/1. Marketing/Social Media Scheduling - Blotato __ For Viral LinkedIn Posts (n8n) - Skool Paid (1).json
{
  "name": "Social Media Scheduling - Blotato // For Viral LinkedIn Posts (n8n) - Skool Paid",
  "nodes": [
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIbzXQmBLhZ6xs8",
          "mode": "list",
          "cachedResultName": "Scraped Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIbzXQmBLhZ6xs8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comments": "={{ $('Split Out').first().json.engagement.comments }}",
            "Content": "={{ $('Split Out').first().json.content }}",
            "Link to Post": "={{ $('Split Out').first().json.linkedinUrl }}",
            "Media": "={{ $json.media }}",
            "Likes": "={{ $('Split Out').first().json.engagement.likes }}",
            "Shares": "={{ $('Split Out').first().json.engagement.shares }}",
            "Impressions": "={{ $('Split Out').first().json.engagement.impressions }}",
            "Origin Id": "={{ $('Split Out').first().json.id }}",
            "Type": "={{ $json.type }}",
            "Transcript": "={{ $json.transcript }}",
            "Creator": "=['{{ $('GetRecord').item.json.id }}']"
          },
          "matchingColumns": [
            "Origin Id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Origin Id",
              "displayName": "Origin Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Carousel",
                  "value": "Carousel"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Published",
              "displayName": "Date Published",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Shares",
              "displayName": "Shares",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "❗Custom Instructions",
              "displayName": "❗Custom Instructions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft Post",
              "displayName": "Draft Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3696,
        480
      ],
      "id": "9a6ba7d1-5cb2-4382-a503-4340c6bfde3f",
      "name": "UpdateLinkedinLeads",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Linkedin Profile Scraper - Extract Posts\nPull posts from a specific profile url\n[Apify Profile Posts Scraper](https://apify.com/harvestapi/linkedin-profile-posts) ($2.00 per 1k posts inc. engagements) \n2,500 scrapes free on the [Apify free plan](https://apify.com/?fpr=simonscrapes), sign up with code `25SIMON` for 25% off paid plans",
        "height": 976,
        "width": 3056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        0
      ],
      "id": "5a312836-6f07-4ef7-9d6e-38e4bb10c07e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1056,
        368
      ],
      "id": "1d9f5da9-917e-4f34-8a0c-a185b643e1b6",
      "name": "Once per week"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tbltZMsg00u64TzGF",
          "mode": "list",
          "cachedResultName": "Creator Pages",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s/tbltZMsg00u64TzGF"
        },
        "filterByFormula": "AND(   {❗Linkedin Profile URL} != '',   {Scrape} = 1 )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1264,
        368
      ],
      "id": "3f5dc220-dfda-4696-85f6-49efc3be4501",
      "name": "GetRecord",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tbltZMsg00u64TzGF",
          "mode": "list",
          "cachedResultName": "Creator Pages",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tbltZMsg00u64TzGF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "In progress"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "❗Linkedin Profile URL",
              "displayName": "❗Linkedin Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape",
              "displayName": "Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not started",
                  "value": "Not started"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Scraped",
              "displayName": "Last Scraped",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1424,
        304
      ],
      "id": "1be8166f-b8ae-43c1-8ced-b5535aa30b10",
      "name": "UpdateStatus1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/harvestapi~linkedin-profile-posts/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"targetUrls\": [\n    \"{{ $json['❗Linkedin Profile URL'] }}\"\n  ],\n  \"maxPosts\": {{ $json['Max Posts'] }},\n  \"includeQuotePosts\": false,\n  \"includeReposts\": false,\n  \"scrapeReactions\": false,\n  \"maxReactions\": 5,\n  \"scrapeComments\": false,\n  \"maxComments\": 5\n}",
        "options": {
          "timeout": 1000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        368
      ],
      "id": "9620cf08-e452-430e-b5ff-0f5f8dee5bdb",
      "name": "ScrapePosts",
      "retryOnFail": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "P9MmmnLnaQhG4ZQ7",
          "name": "apify"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Get creator profiles\nOnce per week\n",
        "height": 288,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        256
      ],
      "id": "7627b5ba-5491-46fd-b638-6d4cd3713624",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Scrape Posts\n\n",
        "height": 224,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        320
      ],
      "id": "5605828d-df6c-410d-89b8-285ba4f7a7a2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Post type\n\n",
        "height": 224,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        320
      ],
      "id": "e9b3e7cd-9d0d-49cc-b743-f6b035640a2a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tbltZMsg00u64TzGF",
          "mode": "list",
          "cachedResultName": "Creator Pages",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tbltZMsg00u64TzGF"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('GetRecord').item.json.id }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "❗Linkedin Profile URL",
              "displayName": "❗Linkedin Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scrape",
              "displayName": "Scrape",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not started",
                  "value": "Not started"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Scraped",
              "displayName": "Last Scraped",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2496,
        816
      ],
      "id": "55e8c15f-7bbc-4c66-b930-fb57e84eec17",
      "name": "UpdateCompleted",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIbzXQmBLhZ6xs8",
          "mode": "list",
          "cachedResultName": "Scraped Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIbzXQmBLhZ6xs8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origin Id": "={{ $json.fields[\"Origin Id\"] }}",
            "Date Published": "={{ $('ScrapePosts').first().json.postedAt.date.toDateTime() }}"
          },
          "matchingColumns": [
            "Origin Id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Origin Id",
              "displayName": "Origin Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Published",
              "displayName": "Date Published",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shares",
              "displayName": "Shares",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft Post",
              "displayName": "Draft Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3872,
        560
      ],
      "id": "6a51ed31-0ff1-4601-a03e-b335bb6ad32e",
      "name": "UpdateDate",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.postImages }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "9c36a8ed-1569-4c2f-8f03-c64491932902"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3941c720-2841-4a30-8fc2-de7d87de7f42",
                    "leftValue": "={{ $json.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carousel"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2000,
        368
      ],
      "id": "71120800-7c96-4960-bfab-1427e2a5c9e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Extract the text from this image. Output only the extracted text; nothing more.",
        "imageUrls": "={{ $('ScrapePosts').item.json.postImages[0].url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2496,
        160
      ],
      "id": "4be20533-b030-4bef-93a7-d3ded7493f0a",
      "name": "Analyze Text",
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "rcBu39KRH8GFsCNh",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "document.coverPages[0].imageUrls",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2480,
        480
      ],
      "id": "55cef3de-91cc-48fd-888e-2708617b6b60",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "Extract the text from this image. Output only the extracted text; nothing more.",
        "imageUrls": "={{ $json['document.coverPages[0].imageUrls'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2688,
        432
      ],
      "id": "cde84613-af01-4d39-adb2-6bab7a3bc250",
      "name": "Analyze image",
      "executeOnce": false,
      "credentials": {
        "googlePalmApi": {
          "id": "rcBu39KRH8GFsCNh",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.parts[0].text"
            },
            {
              "fieldToAggregate": "data.display_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3280,
        480
      ],
      "id": "7dd51e16-5603-4180-9e60-6a69b2e441ab",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48326449-05ae-44c3-8e72-bf8b05e5666b",
              "name": "transcript",
              "value": "={{ $json.text.map((t, i) => `## IMAGE ${i + 1}\\n${t}`).join('\\n\\n') }}",
              "type": "string"
            },
            {
              "id": "3b7a4213-8ab4-4d4a-a7a0-4bc0786a2925",
              "name": "media",
              "value": "={{ $('Aggregate').item.json.display_url.map((url, index) => ({ url: url, filename: `image_${index}.jpg` })) }}",
              "type": "array"
            },
            {
              "id": "411eb1d8-5263-414f-b9a8-59599644f032",
              "name": "type",
              "value": "Carousel",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3488,
        480
      ],
      "id": "7d9915fa-ae63-465a-9352-9eb48669a0c8",
      "name": "Image Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48326449-05ae-44c3-8e72-bf8b05e5666b",
              "name": "transcript",
              "value": "={{ $('Analyze Text').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "4b001e49-675a-47f3-bfa2-166ed060c0e9",
              "name": "type",
              "value": "Image",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2672,
        160
      ],
      "id": "39948bbd-e639-4c3c-bb57-481c8d8da276",
      "name": "Image Text1"
    },
    {
      "parameters": {
        "content": "### Single Images\nPull image text and download image",
        "height": 208,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        96
      ],
      "id": "5e10687f-a83b-4895-97e4-d2371be2988e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "### Carousels\nPull individual image text and download individual images\n\n",
        "height": 336,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        368
      ],
      "id": "15338910-8191-4598-a449-65b97a5e0638",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "### Upload to database\nAirtable can be replaced here for your own database of choice\n\n",
        "height": 336,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3440,
        368
      ],
      "id": "695e2b6d-13bb-4753-86fe-b2e53584f7f7",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "path": "draft-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1040,
        1232
      ],
      "id": "aaa008eb-2057-454e-ab9a-c3202746baed",
      "name": "Webhook",
      "webhookId": "f8b82971-624e-477a-87fa-05b1600605b7"
    },
    {
      "parameters": {
        "content": "## 2. Draft Posts for Linkedin (including carousel)\n",
        "height": 480,
        "width": 2656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        1040
      ],
      "id": "1b3bd974-684b-4eab-8ead-415b13a180a9",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIbzXQmBLhZ6xs8",
          "mode": "list",
          "cachedResultName": "Scraped Posts",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s/tblIbzXQmBLhZ6xs8"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1232,
        1232
      ],
      "id": "30e6ef23-fdda-4709-800c-c69252edecc3",
      "name": "Get a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIbzXQmBLhZ6xs8",
          "mode": "list",
          "cachedResultName": "Scraped Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIbzXQmBLhZ6xs8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comments": "={{ $('ScrapePosts').item.json.engagement.comments }}",
            "Content": "={{ $('ScrapePosts').item.json.content }}",
            "Link to Post": "={{ $('ScrapePosts').item.json.linkedinUrl }}",
            "Media": "={{ $('Set Image Array').item.json.media }}",
            "Likes": "={{ $('ScrapePosts').item.json.engagement.likes }}",
            "Shares": "={{ $('ScrapePosts').item.json.engagement.shares }}",
            "Impressions": "={{ $('ScrapePosts').item.json.engagement.impressions }}",
            "Origin Id": "={{ $('ScrapePosts').item.json.id }} ",
            "Type": "={{ $('Image Text1').item.json.type }}",
            "Transcript": "={{ $('Image Text1').item.json.transcript }}",
            "Creator": "=['{{ $('GetRecord').item.json.id }}']"
          },
          "matchingColumns": [
            "Origin Id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Origin Id",
              "displayName": "Origin Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Carousel",
                  "value": "Carousel"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Published",
              "displayName": "Date Published",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Shares",
              "displayName": "Shares",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "❗Custom Instructions",
              "displayName": "❗Custom Instructions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft Post",
              "displayName": "Draft Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3488,
        160
      ],
      "id": "17164246-a1cd-452e-8830-bfeef4442cda",
      "name": "UpdateLinkedinLeads1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIbzXQmBLhZ6xs8",
          "mode": "list",
          "cachedResultName": "Scraped Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIbzXQmBLhZ6xs8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Origin Id": "={{ $json.fields[\"Origin Id\"] }}",
            "Date Published": "={{ $('ScrapePosts').item.json.postedAt.date.toDateTime() }}"
          },
          "matchingColumns": [
            "Origin Id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Origin Id",
              "displayName": "Origin Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Published",
              "displayName": "Date Published",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shares",
              "displayName": "Shares",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Draft Post",
              "displayName": "Draft Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3664,
        160
      ],
      "id": "87df2e22-71f1-48e2-80f4-f241ba941cd8",
      "name": "UpdateDate1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "content": "### Upload to database\nAirtable can be replaced here for your own database of choice\n\n",
        "height": 208,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3424,
        96
      ],
      "id": "13ac9a4d-5bcf-4f2b-91e7-cec5a683fded",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "6cbacb2e-f980-4e4f-8d69-81294eb615d4",
      "name": "Get Image URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        160
      ],
      "notesInFlow": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "P9MmmnLnaQhG4ZQ7",
          "name": "apify"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('ScrapePosts').item.json.postImages[0].url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36\",\n  \"Accept\": \"*/*\",\n  \"Referer\": \"https://www.linkedin.com/\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        160
      ],
      "id": "baabcc68-bec5-4122-bb88-6ba4d23f872a",
      "name": "Extract Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "d7e559f5-fe4b-443a-babe-9482ec885ca0",
      "name": "Get Image URL1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        576
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpQueryAuth": {
          "id": "P9MmmnLnaQhG4ZQ7",
          "name": "apify"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Split Out').item.json['document.coverPages[0].imageUrls'] }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36\",\n  \"Accept\": \"*/*\",\n  \"Referer\": \"https://www.linkedin.com/\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        576
      ],
      "id": "e5ace181-3615-4ef7-8db5-06892be39a5e",
      "name": "Extract Image1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3088,
        480
      ],
      "id": "3f6d3749-c19b-46fe-ab87-87d070960570",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54c8831a-abf3-4458-a70f-3abe9a170087",
              "name": "media",
              "value": "={{ [{ \"url\": $('Get Image URL').item.json.data.url, \"filename\": \"image.jpg\" }] }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        160
      ],
      "id": "5208ef0c-8c27-46d3-8b33-213bd76bc936",
      "name": "Set Image Array"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2272,
        176
      ],
      "id": "d0cbb11d-19ea-4338-8292-52c56741e6c6",
      "name": "5 at a time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2272,
        464
      ],
      "id": "82b41312-59f3-4afc-be9d-54cb884e89cd",
      "name": "1 at a time"
    },
    {
      "parameters": {
        "content": "### Batching \nTo not overload memory\n\n",
        "height": 608,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        96
      ],
      "id": "b9fbd7d4-95eb-4a90-86c5-a6b3f68f79b5",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "### Update status\nStatus in database to `complete`",
        "height": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        752
      ],
      "id": "28c093fe-275e-4c2c-93e4-14871b478c83",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <meta name=\"description\" content=\"Success message displaying generation status\" />\n    <title>✅ Generating</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');\n\n        :root {\n            --color-bg-start: #a7c7e7; /* light blue */\n            --color-bg-end: #cdb4db; /* light purple */\n            --color-text: #1f2121;\n            --color-shadow: rgba(0, 0, 0, 0.15);\n        }\n\n        * {\n            box-sizing: border-box;\n        }\n\n        body, html {\n            height: 100%;\n            margin: 0;\n            font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,\n                Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;\n            background: linear-gradient(135deg, var(--color-bg-start), var(--color-bg-end));\n            color: var(--color-text);\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n            overflow: hidden;\n        }\n\n        main {\n            padding: 2rem 3rem;\n            background: rgba(255, 255, 255, 0.85);\n            border-radius: 1rem;\n            box-shadow: 0 10px 20px var(--color-shadow);\n            max-width: 90vw;\n            animation: fadeIn 1s ease forwards;\n            user-select: none;\n        }\n\n        .success-message {\n            font-weight: 600;\n            font-size: 3rem;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 0.6rem;\n            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            cursor: default;\n            transition: transform 0.3s ease;\n            outline: none;\n        }\n\n        .success-message:focus {\n            box-shadow: 0 0 0 3px #7b68ee;\n            border-radius: 0.5rem;\n        }\n\n        .success-message:hover {\n            transform: translateY(-2px) scale(1.02);\n        }\n\n        .checkmark {\n            font-size: 3.5rem;\n            line-height: 1;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(10px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n    </style>\n</head>\n<body>\n    <main>\n        <div\n            class=\"success-message\"\n            id=\"successMessage\"\n            tabindex=\"0\"\n            role=\"status\"\n            aria-label=\"Success: Generating\"\n            aria-live=\"polite\"\n        >\n            <span class=\"checkmark\">✅</span>\n            <span class=\"message-text\">Generating</span>\n        </div>\n    </main>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function () {\n            const successMessage = document.getElementById('successMessage');\n\n            // Accessibility announcement already handled by aria-live\n\n            // Keyboard focus styling is handled by CSS focus selector\n\n            // Optional debug log\n            console.log('Success message loaded successfully ✅');\n        });\n    </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1536,
        1136
      ],
      "id": "7bbd4ed1-ab78-480d-8345-c2355b217d5a",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblSCEQFDEhDCYNv5",
          "mode": "list",
          "cachedResultName": "Brand Guidelines",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblSCEQFDEhDCYNv5"
        },
        "id": "={{ $json['❗Brand Voice'][0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        1232
      ],
      "id": "99367881-ef23-4504-be96-c2618fec135a",
      "name": "Get Brand Guidelines",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "content": "## Capture inputs\nBrand guidelines + Original post contex",
        "height": 288,
        "width": 848,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        1120
      ],
      "id": "e5add014-456d-41f9-9610-fed9c1de67ee",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "maxOutputTokens": 64000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        1376
      ],
      "id": "7e4fdc19-b1ab-47e1-b805-3d0e40d19e0a",
      "name": "Gemini-2.5-pro",
      "credentials": {
        "googlePalmApi": {
          "id": "rcBu39KRH8GFsCNh",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-1-20250805",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.1"
        },
        "options": {
          "maxTokensToSample": 64000,
          "thinking": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2304,
        1376
      ],
      "id": "95809b76-95b7-441a-84a6-254f0d80bd4e",
      "name": "Opus-4.1-thinking",
      "credentials": {
        "anthropicApi": {
          "id": "nNkFTZpNoiBCbO1I",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-5-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-5-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2448,
        1392
      ],
      "id": "0cd6b981-62b1-4e07-a336-24cadbdd0d15",
      "name": "gpt-5-mini",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.variations",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2576,
        1152
      ],
      "id": "4f42c201-9bef-4ae7-8fd8-a97bae9cfb9c",
      "name": "Split Out Creatives"
    },
    {
      "parameters": {
        "content": "The highest ranking models in the [LLM Arena](https://beta.lmarena.ai/leaderboard/text/creative-writing) for creative writing as of 15.Oct.2025",
        "height": 208,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        1296
      ],
      "id": "f56666d6-da8c-4885-a458-44099af6d0da",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post Generation",
        "height": 416,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        1088
      ],
      "id": "9e943d5d-7a43-4569-8ec1-7b9487160425",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Inputs\n\n* **Reference Post Information:**\n    * Original Post Copy: `{{ $('Get a record').item.json.Content.toJsonString() }}`\n    * Original Image/Carousel Text: `{{ $('Get a record').item.json.Transcript.toJsonString() }}`\n* **Brand Details:**\n    * Brand Voice Guidelines: `{{ $('Get Brand Guidelines').item.json['Voice Guidelines'].toJsonString() }}`\n    * Product Information: `{{ $('Get Brand Guidelines').item.json['Product & Audience'].toJsonString() }}`\n    * Custom Instructions (optional): `{{ $('Get a record').item.json['❗Custom Instructions'] }}`",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=## Role\n\nYou are an expert LinkedIn content strategist with extensive experience in B2B and professional content creation. Your specialty is transforming reference LinkedIn posts into multiple creative variations while maintaining brand identity and optimizing for LinkedIn's professional audience.\n\n## Constraints\n\n* Generate exactly 3 creative variations, each with its own unique post body and accompanying image/carousel text set\n* Each variation must maintain 70-80% similarity to the reference while introducing 20-30% novel elements\n* Preserve the emotional hook and core value proposition from the reference post\n* Use double line breaks in post body sections for enhanced readability\n* Maintain consistent brand voice across all variations\n* Ensure each variation could stand alone as a complete LinkedIn post\n* Apply the Rule of Three: vary opening hooks, storytelling structure, and call-to-action placement across variations\n* Follow LinkedIn best practices (optimal length, hashtag usage, engagement patterns)\n* Never duplicate exact phrases between variations - rephrase while keeping meaning\n* Match the number of images from the reference post exactly (1-20 images possible)\n* For carousel posts with multiple images, format text sets as: ## IMAGE 1, ## IMAGE 2, etc., with each image's text following immediately after its header\n* For single image posts, provide single image text without numbered headers\n* Image/carousel text should complement the post body without duplicating \n* For tweet cards output, split text sensibly into array elements (e.g., headline separate from body text)\n\n## Inputs\n\n* **Reference Post Information:**\n    * Original Post Copy\n    * Original Image/Carousel Text\n* **Brand Details:**\n    * Brand Voice Guidelines\n    * Product Information\n    * Custom Instructions\n\n## Instructions\n\n1. **Analyze the Reference Post:**\n   * Identify the core message and key insights\n   * Extract main value propositions and takeaways\n   * Note the narrative structure and engagement hooks\n   * Identify successful opening lines and calls-to-action\n   * Determine the number of images in the original (single image or carousel with 2-20 images)\n\n2. **Understand Brand Adaptation Requirements:**\n   * Review brand voice guidelines thoroughly\n   * Align product information with post messaging\n   * Incorporate any custom instructions provided\n   * Extract tone and style from brand materials\n\n3. **Apply Creative Variation Techniques:**\n   * **Variation 1: Story-driven approach** - lead with narrative or case study angle\n   * **Variation 2: Insight-focused approach** - lead with key takeaway or industry insight\n   * **Variation 3: Question/problem-driven approach** - engage with thought-provoking question or common challenge\n\n4. **For Each Variation:**\n   * Craft a compelling opening hook (first 1-2 lines crucial for \"see more\" clicks)\n   * Structure content for easy scanning (short paragraphs, strategic line breaks)\n   * Tailor messaging to align with brand voice and product\n   * Create a natural, non-pushy call-to-action\n   * Develop corresponding image/carousel text that:\n     - Matches the exact number of images from the reference post\n     - Complements the post copy without duplicating it\n     - Works as standalone visual elements\n     - Maintains brand consistency\n     - Follows hierarchy principles (most important text largest/first)\n     - **For single image:** Provide text without ## IMAGE headers\n     - **For carousels (2-20 images):** Format as ## IMAGE 1, ## IMAGE 2, ..., ## IMAGE N with text flowing naturally after each header\n\n5. **Create tweet cards array output:**\n\n     * Split each image's text into sensible chunks (headlines, subheadings, body text as separate array elements)\n     * Ensure each element is tweet-card friendly (concise, readable, visually separable)\n     * Maintain logical flow when split across array elements\n     * Example: A title like \"4. High Emotional IQ\" becomes one element, and its description becomes another\n\n6. **Quality Checks:**\n   * Verify each variation aligns with brand voice guidelines and custom instructions\n   * Confirm core message consistency across all versions\n   * Ensure appropriate professional tone for LinkedIn\n   * Check that image/carousel text enhances rather than repeats post copy\n   * Verify the number of images matches the reference post exactly\n   * Confirm proper formatting: no headers for single image, ## IMAGE X headers for carousels\n   * Validate tweet cards array has sensible splits for visual card design\n\n## Conclusions\n\nOutput exactly 3 creative variations in matched pairs:\n* **Variation 1:** Post Body 1 + Image/Carousel Text Set 1 + Tweet Cards Array 1\n* **Variation 2:** Post Body 2 + Image/Carousel Text Set 2 + Tweet Cards Array 2\n* **Variation 3:** Post Body 3 + Image/Carousel Text Set 3 + Tweet Cards Array 3\n\n**Formatting rules:**\n* Single image: Plain text without image number headers\n* Carousel (2-20 images): Use ## IMAGE 1, ## IMAGE 2, etc. structure with text content following each header, matching the exact number of images in the reference\n* Tweet Cards Array: Array of text chunks split logically for tweet card design. Separate headlines/titles from body text. Each element should be concise and visually distinct. Can be more tweet cards than original carousel if text is too long.\n\n## Solutions\n\n* **If reference post is minimal:** Expand on the core idea while maintaining the original intent and incorporating brand guidelines\n* **If brand voice guidelines are vague:** Extract tone from product information and default to professional yet conversational style\n* **If custom instructions conflict with brand guidelines:** Prioritize custom instructions as they represent specific user needs\n* **If product information is unclear:** Focus on universal benefits and professional value propositions\n* **If original image text is missing:** Create complementary visual text based on post content and brand voice, maintaining the same number of images as indicated\n* **If custom instructions are absent:** Proceed using brand guidelines and reference post as primary direction\n* **If number of images is unclear:** Analyze the structure of the original image text (presence of multiple sections or ## IMAGE markers) to determine format\n* **If carousel has inconsistent image count across reference:** Use the most complete example as the standard and maintain that count across all variations\n* If text split for tweet cards is ambiguous: Prioritize headlines, numbered points, and section titles as separate elements from their descriptions\n* If single image post for tweet cards: Create a 2-3 element array with logical text hierarchy splits"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2096,
        1152
      ],
      "id": "bfca9b81-2ed4-4e46-af1f-c232aa6b340b",
      "name": "Post Generator",
      "executeOnce": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"variations\": {\n      \"type\": \"array\",\n      \"minItems\": 3,\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"variation_number\": {\n            \"type\": \"integer\"\n          },\n          \"post_body\": {\n            \"type\": \"string\"\n          },\n          \"image_carousel_text\": {\n            \"type\": \"string\"\n          },\n          \"tweet_cards\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\n          \"variation_number\",\n          \"post_body\",\n          \"image_carousel_text\",\n          \"tweet_cards\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"variations\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2400,
        1296
      ],
      "id": "d791178d-1d51-4429-92f6-4cf6e08630fb",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        2784,
        1152
      ],
      "id": "b038333b-96b0-445d-8982-db2c68e5d03c",
      "name": "Create video",
      "disabled": true
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        3008,
        1152
      ],
      "id": "852b89fc-65da-4c69-afa5-dac2c5a340b4",
      "name": "Get video",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3216,
        1152
      ],
      "id": "38a091a1-f235-4748-b3a4-4065a69f6de6",
      "name": "Wait 10 seconds",
      "webhookId": "82a777a5-58aa-485e-bb5b-87025dbf2f24"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1282aeec-ff72-4cd5-83dc-2c79779c20ef",
              "leftValue": "={{ $json.item.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3408,
        1152
      ],
      "id": "d6a80aa9-65f4-4b98-bf02-e7fdd953b79f",
      "name": "If Finished"
    },
    {
      "parameters": {
        "content": "## Post Generation",
        "height": 304,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        1088
      ],
      "id": "40e21b5f-099f-4347-8ca5-e9f9248dc673",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIgtemiB5mTwqzW",
          "mode": "list",
          "cachedResultName": "Draft Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIgtemiB5mTwqzW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post Body": "={{ $('Split Out Creatives').item.json.post_body }}",
            "Image Text": "={{ $('Split Out Creatives').item.json.image_carousel_text }}",
            "Scheduling Status": "Draft",
            "Link to Asset": "Test.com",
            "Card Text": "={{ $('Split Out Creatives').item.json.tweet_cards }}"
          },
          "matchingColumns": [
            "Origin Id"
          ],
          "schema": [
            {
              "id": "Post Id",
              "displayName": "Post Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post Body",
              "displayName": "Post Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Text",
              "displayName": "Image Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Card Text",
              "displayName": "Card Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Scheduling Status",
              "displayName": "Scheduling Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Asset",
              "displayName": "Link to Asset",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linked Post",
              "displayName": "Linked Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3888,
        1136
      ],
      "id": "fdd7e43b-0195-4aec-b9c8-b4cddc3f5c53",
      "name": "UpdateContent",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tblIgtemiB5mTwqzW",
          "mode": "list",
          "cachedResultName": "Draft Posts",
          "cachedResultUrl": "https://airtable.com/appicHzkELrK44u2N/tblIgtemiB5mTwqzW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Linked Post": "=['{{ $('Get a record').item.json.id }}']",
            "Attachments": "={{ $('Set Image Array1').item.json.media }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Post Id",
              "displayName": "Post Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post Body",
              "displayName": "Post Body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Text",
              "displayName": "Image Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Card Text",
              "displayName": "Card Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scheduling Status",
              "displayName": "Scheduling Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Uploaded",
                  "value": "Uploaded"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link to Asset",
              "displayName": "Link to Asset",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Linked Post",
              "displayName": "Linked Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link to Post",
              "displayName": "Link to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4080,
        1136
      ],
      "id": "14c25a22-1b7c-4fb9-a455-0d19805fa41b",
      "name": "UpdateLink",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "path": "scrape-now",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1008,
        608
      ],
      "id": "d762e083-8fc4-4bc3-aded-073bcbff716f",
      "name": "Webhook1",
      "webhookId": "f8b82971-624e-477a-87fa-05b1600605b7"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appJvrYg4AHcPTD7s",
          "mode": "list",
          "cachedResultName": "Viral Content Engine V2 - mtvm",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s"
        },
        "table": {
          "__rl": true,
          "value": "tbltZMsg00u64TzGF",
          "mode": "list",
          "cachedResultName": "Creator Pages",
          "cachedResultUrl": "https://airtable.com/appJvrYg4AHcPTD7s/tbltZMsg00u64TzGF"
        },
        "id": "={{ $json.query.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        608
      ],
      "id": "b7c6e5ef-ed6a-4980-a657-6a84302e8887",
      "name": "RetrieveDetails",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "Ct29AFjU5kldAr8c",
          "name": "vsl ben ai"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <meta name=\"description\" content=\"Success message displaying generation status\" />\n    <title>✅ Generating</title>\n    <style>\n        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');\n\n        :root {\n            --color-bg-start: #a7c7e7; /* light blue */\n            --color-bg-end: #cdb4db; /* light purple */\n            --color-text: #1f2121;\n            --color-shadow: rgba(0, 0, 0, 0.15);\n        }\n\n        * {\n            box-sizing: border-box;\n        }\n\n        body, html {\n            height: 100%;\n            margin: 0;\n            font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,\n                Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;\n            background: linear-gradient(135deg, var(--color-bg-start), var(--color-bg-end));\n            color: var(--color-text);\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n            overflow: hidden;\n        }\n\n        main {\n            padding: 2rem 3rem;\n            background: rgba(255, 255, 255, 0.85);\n            border-radius: 1rem;\n            box-shadow: 0 10px 20px var(--color-shadow);\n            max-width: 90vw;\n            animation: fadeIn 1s ease forwards;\n            user-select: none;\n        }\n\n        .success-message {\n            font-weight: 600;\n            font-size: 3rem;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 0.6rem;\n            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n            cursor: default;\n            transition: transform 0.3s ease;\n            outline: none;\n        }\n\n        .success-message:focus {\n            box-shadow: 0 0 0 3px #7b68ee;\n            border-radius: 0.5rem;\n        }\n\n        .success-message:hover {\n            transform: translateY(-2px) scale(1.02);\n        }\n\n        .checkmark {\n            font-size: 3.5rem;\n            line-height: 1;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(10px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n    </style>\n</head>\n<body>\n    <main>\n        <div\n            class=\"success-message\"\n            id=\"successMessage\"\n            tabindex=\"0\"\n            role=\"status\"\n            aria-label=\"Success: Generating\"\n            aria-live=\"polite\"\n        >\n            <span class=\"checkmark\">✅</span>\n            <span class=\"message-text\">Generating</span>\n        </div>\n    </main>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function () {\n            const successMessage = document.getElementById('successMessage');\n\n            // Accessibility announcement already handled by aria-live\n\n            // Keyboard focus styling is handled by CSS focus selector\n\n            // Optional debug log\n            console.log('Success message loaded successfully ✅');\n        });\n    </script>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        128
      ],
      "id": "df30f84b-5378-435f-810a-24668e2a99db",
      "name": "Respond Success1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54c8831a-abf3-4458-a70f-3abe9a170087",
              "name": "media",
              "value": "={{ $json.item.imageUrls.map((url, index) => ({ \n  url: url,\n  filename: `image_${index}.jpg`\n})) }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3680,
        1136
      ],
      "id": "3a1b652a-ca90-4a20-8af7-61c8c6d638af",
      "name": "Set Image Array1"
    },
    {
      "parameters": {
        "content": "## Setup instructions - [step-by-step video in Skool Classroom]\n1. Copy the Airtable base (link in Classroom)\n2. Set up an Airtable token (if you havent already) - [example video here](https://www.skool.com/scrapes/classroom/5cb99289?md=f95c49b01af544768c1e16bf968bcc79), [create tokens here](https://airtable.com/create/tokens)\n3. Give Token access to the base (same video as in #2)\n4. Give all Airtable nodes access to the correct base\n5. Add your Airtable inputs (Creator example, Your brand voice)\n6. Change the webhook names (to make them more secure!) - change them in n8n and in Airtable (in the relevant buttons)\n7. Set up [Apify](https://console.apify.com/sign-up?fpr=simonscrapes) account - Enter `25SIMON` at checkout for 25% off\n8. Get Apify key and set it up inside http request node using a Query auth credential (make sure all other http request are using this credential)\n9. Set up [Gemini](https://ai.google.dev/gemini-api/docs) and grab API key\n10. Test run & troubleshoot (first flow!)\n\n11. Set up [Blotato](https://blotato.com/?ref=simon) for carousel templates and scheduling and connect to an account (e.g. Linkedin)\n12. Pick your [blotato carousel template](https://my.blotato.com/videos/new) -> 'From Template (BETA)'\n13. Set up Openrouter (for the AI functionality)\n14. Test run & troubleshoot (second flow!)\n\n\n15. Create some content and enjoy the fruits of your labor!\n\n\nNow that you’ve built a system to auto‑generate high‑quality LinkedIn posts, what if you could plug those posts into a lead gen engine that scrapes and enriches leads for you — from Linkedin, Apollo, and even Google Maps? [Watch this next video](https://youtu.be/SyGZjjnV4b4) where I show you how to build a fully automated lead generation machine using 10 scrapers and one Airtable — so you never run out of warm leads again.",
        "height": 608,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fbe0b811-2163-4ca7-833b-050345144729",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "Once per week": [
      {
        "json": {
          "timestamp": "2025-10-13T14:52:27.816+01:00",
          "Readable date": "October 13th 2025, 2:52:27 pm",
          "Readable time": "2:52:27 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "13",
          "Hour": "14",
          "Minute": "52",
          "Second": "27",
          "Timezone": "Europe/London (UTC+01:00)"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-x3ktx-u28170.vm.elestio.app",
            "x-real-ip": "90.244.140.170",
            "x-forwarded-for": "90.244.140.170",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en-GB;q=0.9,en;q=0.8",
            "if-none-match": "W/\"cd3-e5xmpvXCvd4rSIo3nMflBaDdmWA\"",
            "priority": "u=0, i",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BafrxJLmwuXKIsfQpjbD9tf8PsqBJ9ufA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Bun6Mww8e8YkjM%2FUTMQFdIHqMy5ar8PpA%3D; ajs_anonymous_id=%22937ad884-b448-4279-a6cb-b4a81ce6e066%22; auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjkwYTUyZmI4LTAxMjctNDU5ZC1hMTgwLTQ1ZGE1MTRkMjhkYSIsImVtYWlsIjoic2ltb25jb3RvbjYwMkBnb29nbGVtYWlsLmNvbSIsInBhc3N3b3JkIjoiJDJiJDEwJEx0ekNFR3duM3ZGN3Y1YmI3bmdFOGVpN1pjN1haM3FMSnZFYUtaYUR2L3BlVEJXU0FQeTNXIiwicHJvdmlkZXJOYW1lIjoiTE9DQUwiLCJuYW1lIjpudWxsLCJsYXN0TmFtZSI6bnVsbCwiaXNTdXBlckFkbWluIjpmYWxzZSwiYmlvIjpudWxsLCJhdWRpZW5jZSI6MCwicGljdHVyZUlkIjpudWxsLCJwcm92aWRlcklkIjoiIiwidGltZXpvbmUiOjAsImNyZWF0ZWRBdCI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsInVwZGF0ZWRBdCI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImxhc3RSZWFkTm90aWZpY2F0aW9ucyI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImludml0ZUlkIjpudWxsLCJhY3RpdmF0ZWQiOnRydWUsIm1hcmtldHBsYWNlIjp0cnVlLCJhY2NvdW50IjpudWxsLCJjb25uZWN0ZWRBY2NvdW50IjpmYWxzZSwibGFzdE9ubGluZSI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImlwIjoiMTcyLjE4LjAuMSIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTVfNykgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzEzNS4wLjAuMCBTYWZhcmkvNTM3LjM2IiwiaWF0IjoxNzUwMjc2NDk2fQ.zLKSzL2wUMLL1qfuRneC6hIZUWTQ_a_juA16olJmJPk; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BTsR4zrHX2%2BVC6JsnAh4KJRZXYPbZB77ym25J19qd6xWPtBjNsvH2G2stzuEbZu%2BbMuD4zV9xGqQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19NXIPKoW9n6pQWQi9VTcY8RVA355lht7BpuviB6ziQSr5KjjJGEAeK9TrsKuJTWR3m2aKNPy9DMl5AgY4Dc3oxQTSWuHeRAJVltq3kZ3zzR0zzXMxAqArrbndz%2FfMTfrBElbIXi9CLhCM%2FJY%2BOIeAmsIFT6HvQDak%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2B8H%2BKJqCXjocLfHzyVzqZ24bdt1o9FhQe%2Bnqoj7LYiZXDIxPnP1HVi7i5IiqfWIW6nksDAP2UaGyCBRInWi3FKxIBnKzNCqHdhU7%2F9lGQxw%2FegZKzBBvXfGHzSxklpj6lUIH4WPrlQaxjnBdhvTr7u8ELIcr6MXPk%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FJ69dDxcDBKBikXmlBUm%2Fs7syD6T57E2HNiKm5%2BJH9FARSN0gOelK%2BhsRrA1LPbI46lwXL%2FrEgFOOCSzKLp7VaGZ739qbl81RGelUm1siFwSM4wLF7LKA%2BzfJQNUlFDdorZXimAd230Q%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22d05891c9c1c0cecb625804bb9d22a4440e272bd131c67e72279fe01a34de7800%235002df05-9e6f-4ecd-acf8-7b994ca318b6%22%2C%22%24sesid%22%3A%5B1760344507950%2C%220199dcb5-862e-7b32-a600-8fd840504840%22%2C1760344507950%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-4ixah-u29378.vm.elestio.app%2Fsignin%3Fredirect%3D%25252Fhome%25252Fworkflows%22%7D%7D"
          },
          "params": {},
          "query": {
            "recordId": "recpMuzRjMwVfd5xH"
          },
          "body": {},
          "webhookUrl": "https://n8n-x3ktx-u28170.vm.elestio.app/webhook/draft-post",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-x3ktx-u28170.vm.elestio.app",
            "x-real-ip": "90.244.140.170",
            "x-forwarded-for": "90.244.140.170",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en-GB;q=0.9,en;q=0.8",
            "if-none-match": "W/\"cd3-e5xmpvXCvd4rSIo3nMflBaDdmWA\"",
            "priority": "u=0, i",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2BafrxJLmwuXKIsfQpjbD9tf8PsqBJ9ufA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2Bun6Mww8e8YkjM%2FUTMQFdIHqMy5ar8PpA%3D; ajs_anonymous_id=%22937ad884-b448-4279-a6cb-b4a81ce6e066%22; auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjkwYTUyZmI4LTAxMjctNDU5ZC1hMTgwLTQ1ZGE1MTRkMjhkYSIsImVtYWlsIjoic2ltb25jb3RvbjYwMkBnb29nbGVtYWlsLmNvbSIsInBhc3N3b3JkIjoiJDJiJDEwJEx0ekNFR3duM3ZGN3Y1YmI3bmdFOGVpN1pjN1haM3FMSnZFYUtaYUR2L3BlVEJXU0FQeTNXIiwicHJvdmlkZXJOYW1lIjoiTE9DQUwiLCJuYW1lIjpudWxsLCJsYXN0TmFtZSI6bnVsbCwiaXNTdXBlckFkbWluIjpmYWxzZSwiYmlvIjpudWxsLCJhdWRpZW5jZSI6MCwicGljdHVyZUlkIjpudWxsLCJwcm92aWRlcklkIjoiIiwidGltZXpvbmUiOjAsImNyZWF0ZWRBdCI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsInVwZGF0ZWRBdCI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImxhc3RSZWFkTm90aWZpY2F0aW9ucyI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImludml0ZUlkIjpudWxsLCJhY3RpdmF0ZWQiOnRydWUsIm1hcmtldHBsYWNlIjp0cnVlLCJhY2NvdW50IjpudWxsLCJjb25uZWN0ZWRBY2NvdW50IjpmYWxzZSwibGFzdE9ubGluZSI6IjIwMjUtMDYtMThUMTk6NTQ6NTYuMDY2WiIsImlwIjoiMTcyLjE4LjAuMSIsImFnZW50IjoiTW96aWxsYS81LjAgKE1hY2ludG9zaDsgSW50ZWwgTWFjIE9TIFggMTBfMTVfNykgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzEzNS4wLjAuMCBTYWZhcmkvNTM3LjM2IiwiaWF0IjoxNzUwMjc2NDk2fQ.zLKSzL2wUMLL1qfuRneC6hIZUWTQ_a_juA16olJmJPk; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2FFcZEyt%2BQ6Wom75NLJ6ouilutnuz29cLmHtruzO8c7vYpnMK6zZlxEVVSM7WbXWM9z8xVnkzuK7g%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2B6lXMZWkFyMNqMPEHNtofeyXBJMi2A3huH%2B8dl4NkBam07kbXxtViF5SPRqgEYVgOl8KRPqCqqFM0xfgOKT6B333sLV0imOVdKx1UxVX2rSEY0uBrzpJ%2FDyIVVYWMlvK7RBLfmTHfDwHe3Le%2B2K52aoc8S6lAuXEI%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FPKK69lu0rRxZCrItpD3srxJyf4hoXkE%2FhTklEmqUSaX3MCrOLiY%2FQm6iIxzPCARmQQ2%2Fxxt5xBG0IY2Pa3YZhIKm6XHQX5WZsRCuAXXPkHht0kdrapdteccBMkV4U2HmvMXoCiNGFtwUrvDKMkUlTkpyO7OSpthA%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19GQVV2sl87B3yZwjgKJIJNg30pen9nES2OTPan4rCXgR%2B8iZgm%2F4ZdxIvdTJOfeBngM8gj1aWw0SVXFvHqByzbqvfmveME3Qi36ufwvr%2FilRRQriVI5acVBLsT7rfM6aBUStM0UnQavg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22d05891c9c1c0cecb625804bb9d22a4440e272bd131c67e72279fe01a34de7800%235002df05-9e6f-4ecd-acf8-7b994ca318b6%22%2C%22%24sesid%22%3A%5B1760631900854%2C%220199edd6-cab6-771b-9b3d-6dcc5f9ceb65%22%2C1760631900854%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-4ixah-u29378.vm.elestio.app%2Fsignin%3Fredirect%3D%25252Fhome%25252Fworkflows%22%7D%7D"
          },
          "params": {},
          "query": {
            "recordId": "reciBLOjjj7OchV25"
          },
          "body": {},
          "webhookUrl": "https://n8n-x3ktx-u28170.vm.elestio.app/webhook/scrape-now",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "UpdateLinkedinLeads": {
      "main": [
        [
          {
            "node": "UpdateDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Once per week": {
      "main": [
        [
          {
            "node": "GetRecord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetRecord": {
      "main": [
        [
          {
            "node": "UpdateStatus1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ScrapePosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapePosts": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateDate": {
      "main": [
        [
          {
            "node": "1 at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "5 at a time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1 at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Text": {
      "main": [
        [
          {
            "node": "Image Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract Image1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Image Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Text": {
      "main": [
        [
          {
            "node": "UpdateLinkedinLeads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Text1": {
      "main": [
        [
          {
            "node": "Extract Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateLinkedinLeads1": {
      "main": [
        [
          {
            "node": "UpdateDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateDate1": {
      "main": [
        [
          {
            "node": "5 at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Set Image Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image1": {
      "main": [
        [
          {
            "node": "Get Image URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Array": {
      "main": [
        [
          {
            "node": "UpdateLinkedinLeads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 at a time": {
      "main": [
        [],
        [
          {
            "node": "Analyze Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 at a time": {
      "main": [
        [
          {
            "node": "UpdateCompleted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Brand Guidelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Guidelines": {
      "main": [
        [
          {
            "node": "Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-2.5-pro": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Opus-4.1-thinking": {
      "ai_languageModel": [
        [
          {
            "node": "Post Generator",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "gpt-5-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post Generator": {
      "main": [
        [
          {
            "node": "Split Out Creatives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Post Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 seconds": {
      "main": [
        [
          {
            "node": "If Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Finished": {
      "main": [
        [
          {
            "node": "Set Image Array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateContent": {
      "main": [
        [
          {
            "node": "UpdateLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "RetrieveDetails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveDetails": {
      "main": [
        [
          {
            "node": "GetRecord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Array1": {
      "main": [
        [
          {
            "node": "UpdateContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateStatus1": {
      "main": [
        []
      ]
    },
    "UpdateCompleted": {
      "main": [
        []
      ]
    },
    "Split Out Creatives": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "Wait 10 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14ba50a3-9aa2-4972-bef9-3602dd8ce1bf",
  "meta": {
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "IINiuzB3nioeLzu7",
  "tags": []
}