sales/n8n-workspace/Fluxos n8n/Fluxos BASE - n8n do BPO da mottivme/2. MKT:Vendas/3. Vendas/CS Call Analyzer - Mottivme.json
{
  "name": "CS Call Analyzer - Mottivme",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "validate_transcript_id",
              "leftValue": "={{ $json.full_transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "615f731e-d3d6-4653-9a4d-dfc48ff6e267",
      "name": "Validate_Webhook_Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        1488
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Code').item.json.full_transcript }}",
        "attributes": {
          "attributes": [
            {
              "name": "Resumo",
              "description": "Resumo da conversa com no máximo 800 caracteres",
              "required": true
            },
            {
              "name": "Quantidade de Colaboradores",
              "description": "A quantidade de colaboradores na empresa do lead"
            },
            {
              "name": "CRM Atual",
              "description": "Ferramenta de CRM usada atualmente pela empresa"
            },
            {
              "name": "Próximos passos combinados",
              "description": "Uma lista dos próximos passos que ficaram definidos na conversa (em bullet points)"
            },
            {
              "name": "Ferramenta de Email marketing",
              "description": "Qual é a ferramenta de email marketing atual?"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        1008,
        1136
      ],
      "id": "d355a954-6e92-418f-a5e6-23140a883c89",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        1328
      ],
      "id": "1ef981ce-883d-4899-8665-4fb1dd3f1dd5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check_transcript_exists",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f54072cb-ed1d-4e52-ae6d-638432b9b383",
      "name": "Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        1344
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        1536
      ],
      "id": "ddb85f7a-b078-4a73-bd33-a637adca40ff",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nome da Reunião: {{ $('Get Transcript1').item.json.data.transcript.title }}\n\nResumo da Reunião: {{ $json.output.Resumo }}\n\nQuantidade de Colaboradores: {{ $json.output['Quantidade de Colaboradores'] }}\n\nCRM Atual: {{ $json.output['CRM Atual'] }}\n\nPróximos Passos: {{ $json.output['Próximos passos combinados'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Sua tarefa é registrar informações de uma reunião com lead no CRM Clickup. \n\nSOP:\n\n1. use \"get_tasks\" para listar todos os nomes de leads que estão atualmente abertos no CRM. \n2. Através do nome da reunião, encontre qual é o lead no CRM e separe o \"ID\" desse lead\n3. Use \"edit_fields\", passando o ID selecionado, para preencher os campos personalizados com as novas informações recebidas. Nessa etapa você deve passar o ID da Task e o ID do campo personalizad (que você encontra no json recebido anteriormente ao usar a tool \"get_tasks\"). \n\nImportante: \nCaso o número de colaboradores ou o CRM atual não seja identificado, preencha o campo com \"Não Identificado\". Nunca deixe um campo vazio.\n\nAo finalizar, responda com uma mensagem se sucesso ou erro, com um resumo curto do que foi executado. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1488,
        1136
      ],
      "id": "33865bb0-a98c-47f1-9713-1ad22ece6eac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        1408
      ],
      "id": "e5ed21be-4e63-4328-9241-92d5c4669c98",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "7868478942"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        1408
      ],
      "id": "b0fdcbe9-957e-49c9-8700-ae5ad3fdbbbe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fireflies.ai/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR-API-KEY-PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query TranscriptWithParticipants($transcriptId: String!) { transcript(id: $transcriptId) { id title participants sentences { text } } }\",\n  \"variables\": {\n    \"transcriptId\": \"{{ $json.body.meetingId }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        1488
      ],
      "id": "b0502049-4070-4183-806a-6d0f57717ea8",
      "name": "Get Transcript1"
    },
    {
      "parameters": {
        "jsCode": "// Obter os dados do transcript\nconst inputData = $input.first().json;\nconst sentences = inputData.data.transcript.sentences;\n\n// Concatenar todas as sentences em um texto completo\nconst fullTranscript = sentences\n  .map(sentence => sentence.text)\n  .join(' ')\n  .trim();\n\n// Retornar apenas o transcript completo\nreturn [{ \n  json: {\n    transcript_id: inputData.data.transcript.id,\n    title: inputData.data.transcript.title,\n    full_transcript: fullTranscript\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1488
      ],
      "id": "fc79300b-a450-4262-8271-45e5eccce16a",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "email@example.com",
        "subject": "Aprovação de Reunião > CRM",
        "message": "=Reunião: {{ $('Get Transcript1').item.json.data.transcript.title }}\n\nParticipantes: {{ $('Get Transcript1').item.json.data.transcript.participants[0] }}\n\nÉ um lead comercial?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": " SIM",
            "disapproveLabel": "NÃO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        1520
      ],
      "id": "6b0610b3-24ad-4826-b955-3fe5582672ee",
      "name": "Gmail",
      "webhookId": "f0134177-a9b2-460f-b6ac-9ce3aa4a0da6",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "TELEGRAM-CHAT-ID-PLACEHOLDER",
        "message": "=Reunião: {{ $('Get Transcript1').item.json.data.transcript.title }}\n\nParticipantes: {{ $('Get Transcript1').item.json.data.transcript.participants[0] }}\n\nÉ um lead comercial?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ SIM",
            "disapproveLabel": "❌ NÃO"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        1344
      ],
      "id": "e4467c0c-9ac3-43aa-b56c-6cbbe239b9ef",
      "name": "Telegram",
      "webhookId": "c196394a-7106-4f7d-a60f-5435f9c5d9d3",
      "credentials": {
        "telegramApi": {
          "id": "Rf6oPsfPtILTim44",
          "name": "telegram marcos"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=TELEGRAM-CHAT-ID-PLACEHOLDER",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        1008
      ],
      "id": "243ec7f2-e1f7-4d30-a99d-198aec7ae9f4",
      "name": "Mensagem Resposta",
      "webhookId": "a07d04b9-1e65-4926-83c4-6ba6c8ba4d74"
    },
    {
      "parameters": {
        "operation": "setCustomField",
        "task": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', `Preencha o ID da task que deseja atualizar`, 'string') }}",
        "field": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_ID', `Preencha o ID do campo que deseja atualizar. Você encontra essa informação no JSON que a tool \"get_tasks\" retorna.`, 'string') }}",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `As informações a serem adicionadas no campo`, 'string') }}"
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        1760,
        1408
      ],
      "id": "8f3bab4b-aca7-4d6f-b945-f7da58259c4b",
      "name": "edit_fields"
    },
    {
      "parameters": {
        "chatId": "TELEGRAM-CHAT-ID-PLACEHOLDER",
        "text": "A reunião de agora deu algum problema.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        1728
      ],
      "id": "7d154944-a8c3-4b76-938e-78c05df88f77",
      "name": "Telegram1",
      "webhookId": "28e3774f-2ad3-4522-8794-b752e4b496d0"
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "TEAM-ID-PLACEHOLDER",
        "space": "SPACE-ID-PLACEHOLDER",
        "folderless": true,
        "list": "LIST-ID-PLACEHOLDER",
        "filters": {
          "statuses": [
            "🤝 lead",
            "🤝 reunião realizada"
          ]
        }
      },
      "type": "n8n-nodes-base.clickUpTool",
      "typeVersion": 1,
      "position": [
        1632,
        1408
      ],
      "id": "5224432c-c367-4ca4-88dd-4344223266e4",
      "name": "get_tasks"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        1488
      ],
      "id": "f38ae71d-d6fe-4bf5-85f2-9b9b48dac858",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Webhook\nSubstitua esse nó por um nó \"webhook\".\nConfigure o método POST.\nCole a URL dentro das configurações do Fireflies.\nExecute o nó e espere pelo evento de \"transcript concluído\".\nSó depois disso, conecte ao restante do fluxo. ",
        "height": 400,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        1248
      ],
      "id": "611878e0-08e5-49fe-9563-5cc65b2d55fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "funcionando\n",
        "height": 944,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -1136
      ],
      "typeVersion": 1,
      "id": "d059dc27-ca85-411c-a2df-117eaf694998",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": "primary",
        "triggerOn": "specificCalendar",
        "options": {}
      },
      "id": "3970ba67-7e6c-4a2f-9975-4c57c670b024",
      "name": "Google Calendar - Nova Call",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.hangoutLink}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "79698bc2-f751-4adc-9436-e2dc9d087038",
      "name": "Filtrar Google Meet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        96,
        2048
      ]
    },
    {
      "parameters": {
        "url": "https://api.recall.ai/api/v1/bot/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{$credentials.recallApiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "meeting_url",
              "value": "={{$json.hangoutLink}}"
            },
            {
              "name": "bot_name",
              "value": "Assistente IA - MOTTIVME"
            },
            {
              "name": "transcription_options",
              "value": "={\"provider\": \"assembly_ai\"}"
            },
            {
              "name": "automatic_leave",
              "value": "={\"waiting_room_timeout\": 300, \"noone_joined_timeout\": 300}"
            },
            {
              "name": "bot_image",
              "value": "https://i.imgur.com/your-logo.png"
            }
          ]
        },
        "options": {}
      },
      "id": "a3aa2702-6c01-4bde-b3b1-e9151c533954",
      "name": "Recall.ai - Criar Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        320,
        2048
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HWXR7bwkc8xeWnqx",
          "name": "Rapidly - marcos"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-west-2.recall.ai/api/v1/bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token a002bd38ebc44196880d414d69cc9f8ad89706b0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"meeting_url\": \"YOUR_MEETING_URL\",\n  \"recording_config\": {\n    \"transcript\": {\n      \"provider\": {\n        \"recallai_streaming\": {\n          \"mode\": \"prioritize_low_latency\",\n          \"language_code\": \"en\"\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "id": "89f3beca-8ea8-4339-b970-613a3b9d679d",
      "name": "Recall.ai - Criar Bot1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        416,
        2176
      ]
    },
    {
      "parameters": {
        "path": "recall-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        624,
        2176
      ],
      "id": "9b9f9046-4af3-4655-9294-b030e4806414",
      "name": "Webhook",
      "webhookId": "443a5381-a462-497a-b2d0-f46259cb9212"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "list",
          "value": "asst_D5t6bNnNpenmfC7PmvywMqyR",
          "cachedResultName": "5minAI - Realtime Agent"
        },
        "prompt": "define",
        "text": "={{ \n     JSON.parse($('Insert Transcription Part').item.json.dialog)\n        .filter(item => item.date_updated && new Date(item.date_updated) >= new Date($('Insert Transcription Part').item.json.date_updated))\n        .sort((a, b) => a.order - b.order)\n        .map(item => `${item.words}\\n${item.speaker}`)\n        .join('\\n\\n')\n}}",
        "memory": "threadId",
        "threadId": "={{ $json.thread_id }}",
        "options": {}
      },
      "id": "76085acb-4737-403c-a791-8f0b743ae12e",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        720,
        3136
      ],
      "typeVersion": 1.6,
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"CallGenius AI\".data SET output = jsonb_set( output, '{dialog}', ( COALESCE((output->'dialog')::jsonb, '[]'::jsonb) || jsonb_build_object( 'order', (COALESCE(jsonb_array_length(output->'dialog'), 0) + 1), 'words', 'Let''s it works well.', 'speaker', 'Mark S.', 'language', 'null', 'speaker_id', ('100')::int, 'date_updated', to_jsonb('2025-11-11T01:56:49.025-03:00'::text) ) ) ) WHERE input->>'recall_bot_id' = $1 RETURNING input->>'openai_thread_id' AS thread_id;",
        "options": {
          "queryReplacement": "={{ $('Scenario 2 Start - Webhook').item.json.body.data.bot_id }}"
        }
      },
      "id": "246b221b-0f7d-4a03-abc6-fe6f43f6fda7",
      "name": "Insert Transcription Part",
      "type": "n8n-nodes-base.postgres",
      "position": [
        304,
        3136
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create note record.",
        "operation": "executeQuery",
        "query": "UPDATE public.data\nSET output = jsonb_set(\n    output,\n    '{notes}', \n    (\n        COALESCE(\n            (output->'notes')::jsonb, \n            '[]'::jsonb  -- Initialize as empty array if dialog does not exist\n        ) || jsonb_build_object(\n            'order', (COALESCE(jsonb_array_length(output->'notes'), 0) + 1),  -- Calculate the next order\n            'text', '{{ $fromAI(\"note\",\"Text of note.\") }}'\n        )\n    )\n)\nWHERE input->>'recall_bot_id' = $1",
        "options": {
          "queryReplacement": "={{ $('Scenario 2 Start - Webhook').item.json.body.data.bot_id }}"
        }
      },
      "id": "3f9975af-f333-4742-bab4-b12f6b0cb35d",
      "name": "Create Note",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        608,
        3312
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-west-2.recall.ai/api/v1/bot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meeting_url\":\"{{ $json.meeting_url }}\",\n  \"transcription_options\": {\n    \"provider\": \"assembly_ai\"\n  }\n,\n\"real_time_transcription\": {\n    \"destination_url\": \"https://n8n.lowcoding.dev/webhook/d074ca1e-52f9-47af-8587-8c24d431f9cd\"\n  },\n\"automatic_leave\": {\n  \"silence_detection\": {\n    \"timeout\": 300, \n    \"activate_after\": 600\n  },\n  \"bot_detection\": {\n    \"using_participant_events\": {\n      \"timeout\": 600, \n      \"activate_after\": 1200\n    }\n  },\n  \"waiting_room_timeout\": 600,\n  \"noone_joined_timeout\": 600,\n  \"everyone_left_timeout\": 2,\n  \"in_call_not_recording_timeout\": 600,\n  \"recording_permission_denied_timeout\": 600\n}\n}",
        "options": {}
      },
      "id": "9e506282-bbfd-4f42-b0e1-a4ad904ad496",
      "name": "Create Recall bot",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        368,
        2448
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9TMua7nIpQSpVuSU",
          "name": "Recall"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "9214f0bf-eecf-4e22-826b-cc9a032ce445",
      "name": "Create OpenAI thread",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        2448
      ],
      "typeVersion": 4.2,
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "tableId": "data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "input",
              "fieldValue": "={{ {\"openai_thread_id\": $('Create OpenAI thread').item.json.id, \"recall_bot_id\": $('Create Recall bot').item.json.id, \"meeting_url\":$('Webhook').item.json.body.meeting_url } }}"
            },
            {
              "fieldId": "output",
              "fieldValue": "={{ {\"dialog\":[]} }}"
            }
          ]
        }
      },
      "id": "f71caf1c-e116-4229-8536-55cd1bbce844",
      "name": "Create data record",
      "type": "n8n-nodes-base.supabase",
      "position": [
        736,
        2448
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "7FzYAj5WomuhJymg",
          "name": "Supabase Mottivme Sales"
        }
      }
    },
    {
      "parameters": {
        "content": "### ... or watch set up video [10 min]\n[![Youtube Thumbnail](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773273/Youtube%20Thumbs/Realtim%20AI%20Agent.png)](https://www.youtube.com/watch?v=rtaX6BMiTeo)\n",
        "height": 239.5888196628349,
        "width": 330.5152611046425,
        "color": 7
      },
      "id": "926c1b01-56ec-4720-a171-6fb542942b0d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        3056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![5min Logo](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773200/Skool%20Assets/ejm3hqnvhgwpnu2fv92s.png)\n## AI Agent for realtime insights on meetings\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nTranscribing meetings manually can be tedious and prone to error. This workflow automates the transcription process in real-time, ensuring that key discussions and decisions are accurately captured and easily accessible for later review, thus enhancing productivity and clarity in communications.\n\nThe workflow employs an AI-powered assistant to join virtual meetings and capture discussions through real-time transcription. Key functionalities include:\n- Automatic joining of meetings on platforms like Zoom, Google Meet, and others with the ability to provide real-time transcription.\n- Integration with transcription APIs (e.g., AssemblyAI) to deliver seamless and accurate capture of dialogue.\n- Structuring and storing transcriptions efficiently in a database for easy retrieval and analysis.\n\n1. **Real-Time Transcription**: The assistant captures audio during meetings and transcribes it in real-time, allowing participants to focus on discussions.\n2. **Keyword Recognition**: Key phrases can trigger specific actions, such as noting important points or making prompts to the assistant.\n3. **Structured Data Management**: The assistant maintains a database of transcriptions linked to meeting details for organized storage and quick access later.",
        "height": 657,
        "width": 636,
        "color": 7
      },
      "id": "9d17517b-1cb8-48ba-80b5-0183c7baceea",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        2368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Set up steps\n\n#### Preparation\n\n1. **Create Recall.ai API key**\n2. **Setup Supabase account and table**\n```\ncreate table\n  public.data (\n    id uuid not null default gen_random_uuid (),\n    date_created timestamp with time zone not null default (now() at time zone 'utc'::text),\n    input jsonb null,\n    output jsonb null,\n    constraint data_pkey primary key (id),\n  ) tablespace pg_default;\n\n```\n3. **Create OpenAI API key**\n\n#### Development\n\n1. **Bot Creation**: \n   - Use a node to create the bot that will join meetings. Provide the meeting URL and set transcription options within the API request.\n\n2. **Authentication**: \n   - Configure authentication settings via a Bearer YOUR_TOKEN_HERE for interacting with your transcription service.\n\n3. **Webhook Setup**: \n   - Create a webhook to receive real-time transcription updates, ensuring timely data capture during meetings.\n\n4. **Join Meeting**: \n   - Set the bot to join the specified meeting and actively listen to capture conversations.\n\n5. **Transcription Handling**: \n   - Combine transcription fragments into cohesive sentences and manage dialog arrays for coherence.\n\n6. **Trigger Actions on Keywords**: \n   - Set up keyword recognition that can initiate requests to the OpenAI API for additional interactions based on captured dialogue.\n\n7. **Output and Summary Generation**: \n   - Produce insights and summary notes from the transcriptions that can be stored back into the database for future reference.",
        "height": 626,
        "width": 280,
        "color": 7
      },
      "id": "b8d82076-2f00-457c-ab9f-c5579504186a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        3056
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4891fa6e-2dd5-4433-925c-5497ec82e8ab",
              "name": "meeting_url",
              "type": "string",
              "value": "https://meet.google.com/iix-vrav-kuc"
            }
          ]
        },
        "options": {}
      },
      "id": "71b29589-fce1-4d16-a00f-1da5df5f4c29",
      "name": "Scenario 1 Start - Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        160,
        2448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d074ca1e-52f9-47af-8587-8c24d431f9cd",
        "options": {}
      },
      "id": "53bb2d78-ddee-4284-b97d-3b4db504b368",
      "name": "Scenario 2 Start - Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        96,
        3136
      ],
      "webhookId": "7f176935-cb83-4147-ac14-48c8d747863a",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ba6c2ae5-d0f4-4242-9cf8-97cb84335a93",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $('Scenario 2 Start - Webhook').item.json.body.data.transcript.words.map(word => word.text.replace(/'/g, \"''\")).join(\" \") }}",
              "rightValue": "=Jimmy"
            }
          ]
        },
        "options": {}
      },
      "id": "54f92e19-91c0-4b2f-8d1e-6e5f257f9b31",
      "name": "If Jimmy word",
      "type": "n8n-nodes-base.if",
      "position": [
        496,
        3136
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "### Replace Supabase credentials",
        "height": 80,
        "width": 270,
        "color": 3
      },
      "id": "0be2e152-5b80-4682-a0a2-573201932f74",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        3312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace server location\n\n",
        "height": 80,
        "width": 200,
        "color": 3
      },
      "id": "8f328c24-6b73-403a-8b64-c121aafc727a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace OpenAI credentials",
        "height": 80,
        "width": 270,
        "color": 4
      },
      "id": "e4e31964-3c36-4f8b-9f9b-c1c1b3e14539",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        3328
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace credentials",
        "height": 80,
        "width": 290,
        "color": 3
      },
      "id": "e9f439dc-d9ec-4393-9518-a0a76bcc37bc",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Replace meeting url\n\n",
        "height": 80,
        "width": 200,
        "color": 3
      },
      "id": "a755a718-7a80-4af4-a327-431520eb3f1f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scenario 1\n\n",
        "height": 400,
        "width": 920
      },
      "id": "3fec4c31-fb42-4cca-af81-4981cf739740",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scenario 2\n\n",
        "height": 420,
        "width": 1020
      },
      "id": "0c4ae02c-12ba-4dc7-8e34-6724d06887ae",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-west-2.recall.ai/api/v1/bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token a002bd38ebc44196880d414d69cc9f8ad89706b0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"meeting_url\": \"YOUR_MEETING_URL\",\n  \"recording_config\": {\n    \"transcript\": {\n      \"provider\": {\n        \"recallai_streaming\": {\n          \"mode\": \"prioritize_low_latency\",\n          \"language_code\": \"en\"\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        2848
      ],
      "id": "50c665ac-b140-4058-ae6e-c61df2371190",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cs-call-analyzer",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "4930186a-d782-4df4-b0d4-1a4268595c5c",
      "name": "Webhook - Recebe Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4224,
        1808
      ],
      "webhookId": "cs-call-analyzer"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  const body = $json.body || $json;\n  \n  return {\n    call_id: body.call_id || `call_${Date.now()}`,\n    cliente_id: body.cliente_id || body.contact_id,\n    cliente_nome: body.cliente_nome || body.contact_name,\n    cliente_email: body.cliente_email || body.contact_email,\n    empresa: body.empresa || body.company_name,\n    vertical: body.vertical || 'nao_identificada',\n    plano_atual: body.plano || body.current_plan,\n    mrr: body.mrr || 0,\n    tipo_call: body.tipo_call || 'acompanhamento',\n    audio_url: body.audio_url || body.recording_url,\n    transcricao_existente: body.transcricao || null,\n    participantes: body.participantes || [],\n    duracao_segundos: body.duracao || body.duration || 0,\n    data_call: body.data_call || new Date().toISOString(),\n    cs_responsavel: body.cs_responsavel || 'Karine',\n    notas_previas: body.notas || ''\n  };\n}}",
        "options": {}
      },
      "id": "848dd59e-3e27-4682-8020-15ddf09911aa",
      "name": "Parse Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4448,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-transcription",
              "leftValue": "={{ $json.transcricao_existente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "67b76d64-92be-4657-8544-869d841e711e",
      "name": "Tem Transcrição?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4672,
        1808
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "options": {}
      },
      "id": "1490592d-0289-40ee-ad6e-8ffed44d7d29",
      "name": "Download Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        1904
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt",
          "temperature": 0
        }
      },
      "id": "7f3d5b42-b2a2-428d-ab81-a8263e6b0205",
      "name": "OpenAI Whisper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5104,
        1904
      ],
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nconst input = $('Parse Input').first().json;\nconst transcricao = $json.text || $('Parse Input').first().json.transcricao_existente;\nconst segments = $json.segments || [];\n\n// Formatar transcrição com timestamps\nlet transcricaoFormatada = '';\nif (segments.length > 0) {\n  transcricaoFormatada = segments.map(s => {\n    const mins = Math.floor(s.start / 60);\n    const secs = Math.floor(s.start % 60);\n    const timestamp = `${mins.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;\n    return `[${timestamp}] ${s.text}`;\n  }).join('\\n');\n} else {\n  transcricaoFormatada = transcricao;\n}\n\nreturn {\n  ...input,\n  transcricao: transcricaoFormatada,\n  transcricao_raw: transcricao,\n  segments: segments,\n  duracao_detectada: segments.length > 0 ? segments[segments.length - 1].end : input.duracao_segundos\n};\n}}",
        "options": {}
      },
      "id": "60037237-e733-4883-96db-069f6cb627a4",
      "name": "Formatar Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5328,
        1808
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nconst input = $('Parse Input').first().json;\nreturn {\n  ...input,\n  transcricao: input.transcricao_existente,\n  transcricao_raw: input.transcricao_existente,\n  segments: [],\n  duracao_detectada: input.duracao_segundos\n};\n}}",
        "options": {}
      },
      "id": "348ca9de-35dd-41bf-b408-61af81d83311",
      "name": "Usar Transcrição Existente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4880,
        1712
      ]
    },
    {
      "parameters": {},
      "id": "a757b632-c913-4fa1-8cb0-853b3cf76775",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5552,
        1808
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "system-prompt",
              "name": "system_prompt",
              "value": "={{ $('System Prompt CS Analyzer').first().json.prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fc476206-3d5c-4a4c-8481-77f5d4aa74c5",
      "name": "Carregar System Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5760,
        1808
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=Você é o CS Call Analyzer da Mottivme.\n\nSua função é analisar a transcrição de calls de Customer Success e gerar um relatório estruturado.\n\n## CONTEXTO DO CLIENTE\n- Nome: {{ $json.cliente_nome }}\n- Empresa: {{ $json.empresa }}\n- Vertical: {{ $json.vertical }}\n- Plano Atual: {{ $json.plano_atual }}\n- MRR: R${{ $json.mrr }}\n- CS Responsável: {{ $json.cs_responsavel }}\n- Tipo da Call: {{ $json.tipo_call }}\n\n## TRANSCRIÇÃO DA CALL\n{{ $json.transcricao }}\n\n## SUA TAREFA\n\nAnalise a transcrição acima e retorne um JSON com a seguinte estrutura:\n\n{\n  \"resumo_executivo\": {\n    \"health_score\": <0-100>,\n    \"health_status\": \"saudavel|atencao|risco|critico\",\n    \"insight_principal\": \"<uma frase resumindo o estado do cliente>\"\n  },\n  \"analise\": {\n    \"sentimento\": \"positivo|neutro|negativo\",\n    \"uso_plataforma\": \"alto|medio|baixo|nao_mencionado\",\n    \"satisfacao\": \"positiva|neutra|negativa\",\n    \"resultados_mencionados\": <true|false>,\n    \"resultados_detalhes\": \"<o que foi mencionado>\"\n  },\n  \"riscos\": [\n    {\n      \"tipo\": \"churn|insatisfacao|baixo_uso|preco\",\n      \"evidencia\": \"<frase exata ou paráfrase>\",\n      \"timestamp\": \"<se disponível>\",\n      \"severidade\": \"alta|media|baixa\"\n    }\n  ],\n  \"oportunidades\": [\n    {\n      \"tipo\": \"upsell|cross_sell|indicacao|expansao\",\n      \"evidencia\": \"<frase exata ou paráfrase>\",\n      \"produto_sugerido\": \"<se aplicável>\",\n      \"valor_potencial\": <número ou null>\n    }\n  ],\n  \"acoes\": [\n    {\n      \"descricao\": \"<ação necessária>\",\n      \"responsavel\": \"<quem deve fazer>\",\n      \"prazo\": \"<em dias ou data>\",\n      \"prioridade\": \"alta|media|baixa\"\n    }\n  ],\n  \"decisoes_tomadas\": [\"<lista de decisões da call>\"],\n  \"momentos_chave\": [\n    {\n      \"timestamp\": \"<se disponível>\",\n      \"descricao\": \"<o que aconteceu>\",\n      \"importancia\": \"alta|media|baixa\"\n    }\n  ],\n  \"alertas\": [\n    {\n      \"tipo\": \"churn_iminente|oportunidade_urgente|escalacao\",\n      \"mensagem\": \"<descrição do alerta>\",\n      \"destinatario\": \"<quem deve receber>\"\n    }\n  ]\n}\n\n## REGRAS DE ANÁLISE\n\n1. Health Score:\n   - 80-100: Saudável (🟢)\n   - 60-79: Atenção (🟡)\n   - 40-59: Risco (🟠)\n   - 0-39: Crítico (🔴)\n\n2. Sinais de Risco (procurar ativamente):\n   - \"não estou usando\", \"não vi resultado\", \"está caro\"\n   - \"pensando em cancelar\", \"avaliar outras opções\"\n   - Tom frustrado, respostas curtas, desânimo\n\n3. Sinais de Oportunidade:\n   - \"quero aumentar\", \"preciso de mais\", \"funciona muito bem\"\n   - \"meu colega também precisa\", \"vocês fazem X?\"\n   - Entusiasmo, perguntas sobre features premium\n\n4. Seja objetivo e baseado em evidências\n5. Priorize riscos sobre oportunidades\n6. Cite frases exatas quando possível\n\nRetorne APENAS o JSON, sem texto adicional.",
        "options": {}
      },
      "id": "380bd4df-80cc-47e5-855f-0f54373b1fbc",
      "name": "System Prompt CS Analyzer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5760,
        2000
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Carregar System Prompt').first().json.system_prompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 8000,
          "temperature": 0.3
        }
      },
      "id": "9b648060-9c4f-4dbb-9e34-599ab86748c5",
      "name": "Claude - Analisar Call",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        5984,
        1808
      ],
      "credentials": {
        "anthropicApi": {
          "id": "nNkFTZpNoiBCbO1I",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nconst input = $('Merge').first().json;\nconst response = $json.message?.content?.[0]?.text || $json.content || $json.text || '';\n\nlet analise;\ntry {\n  // Tentar extrair JSON da resposta\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  analise = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  console.error('Erro ao parsear resposta:', e);\n  analise = {\n    resumo_executivo: {\n      health_score: 50,\n      health_status: 'atencao',\n      insight_principal: 'Análise inconclusiva - revisar manualmente'\n    },\n    analise: {\n      sentimento: 'neutro',\n      uso_plataforma: 'nao_mencionado',\n      satisfacao: 'neutra',\n      resultados_mencionados: false,\n      resultados_detalhes: ''\n    },\n    riscos: [],\n    oportunidades: [],\n    acoes: [{\n      descricao: 'Revisar análise manualmente',\n      responsavel: 'CS',\n      prazo: '1 dia',\n      prioridade: 'alta'\n    }],\n    decisoes_tomadas: [],\n    momentos_chave: [],\n    alertas: [],\n    erro_parsing: true,\n    resposta_raw: response\n  };\n}\n\nreturn {\n  call_id: input.call_id,\n  cliente: {\n    id: input.cliente_id,\n    nome: input.cliente_nome,\n    email: input.cliente_email,\n    empresa: input.empresa,\n    vertical: input.vertical,\n    plano_atual: input.plano_atual,\n    mrr: input.mrr\n  },\n  call_info: {\n    data: input.data_call,\n    duracao_segundos: input.duracao_detectada || input.duracao_segundos,\n    tipo: input.tipo_call,\n    participantes: input.participantes,\n    cs_responsavel: input.cs_responsavel\n  },\n  ...analise,\n  transcricao: {\n    texto_completo: input.transcricao,\n    momentos_chave: analise.momentos_chave || []\n  },\n  metadata: {\n    processado_em: new Date().toISOString(),\n    modelo_transcricao: 'whisper-1',\n    modelo_analise: 'claude-sonnet-4'\n  }\n};\n}}",
        "options": {}
      },
      "id": "6311a88a-c76f-494d-96ae-f77046593904",
      "name": "Formatar Output Final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6272,
        1808
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "high-risk",
              "leftValue": "={{ $json.resumo_executivo?.health_score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "29201887-f4b8-41fb-b188-e255a57345b9",
      "name": "Risco Alto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6432,
        1808
      ]
    },
    {
      "parameters": {
        "url": "https://api.z-api.io/instances/YOUR_INSTANCE/token/YOUR_TOKEN/send-text",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"5511999999999\",\n  \"message\": \"🚨 *ALERTA CS - RISCO DE CHURN*\\n\\n📊 Health Score: {{ $json.resumo_executivo.health_score }}/100\\n👤 Cliente: {{ $json.cliente.nome }}\\n🏢 Empresa: {{ $json.cliente.empresa }}\\n💰 MRR: R${{ $json.cliente.mrr }}\\n\\n💡 {{ $json.resumo_executivo.insight_principal }}\\n\\n⚠️ Riscos detectados:\\n{{ $json.riscos.map(r => '• ' + r.evidencia).join('\\\\n') }}\\n\\n📋 Ação recomendada: Agendar call de recovery em 24h\"\n}",
        "options": {}
      },
      "id": "40dd4816-7159-418a-95c2-b5e8df040e77",
      "name": "Alerta WhatsApp Marcos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6640,
        1712
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json.cliente.id }}",
        "updateFields": {},
        "requestOptions": {}
      },
      "id": "6635f346-4da7-4dd8-80ed-2530d35befe0",
      "name": "Atualizar GoHighLevel",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        6704,
        1904
      ],
      "credentials": {
        "highLevelApi": {
          "id": "h5ZqGGyisGP6D4Hk",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "ccde8973-2940-4d81-8466-d5481fb96aa1",
      "name": "Salvar Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6864,
        1808
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "54dfdf5b-07df-4ff1-b615-8b8bd94ba178",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7088,
        1808
      ]
    },
    {
      "parameters": {
        "content": "## 🎧 CS CALL ANALYZER\n\n### Fluxo:\n1. Recebe call (audio URL ou transcrição)\n2. Transcreve com Whisper se necessário\n3. Analisa com Claude\n4. Alerta se risco alto\n5. Atualiza CRM\n6. Salva análise completa\n\n### Configurar:\n- Credenciais OpenAI, Anthropic, GHL, Supabase\n- Número WhatsApp do alerta\n- Custom fields no GHL\n- Tabela no Supabase",
        "height": 400,
        "width": 300,
        "color": 4
      },
      "id": "fadd61c4-928f-4c2f-b543-b2a78d6f8cae",
      "name": "Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3936,
        1232
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -560
      ],
      "id": "0d7ecf51-c768-43aa-a70a-e297307520f5",
      "name": "📥 Download Arquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar dados do node anterior (Extract From Text File)\nconst item = $input.first();\n\n// Pegar dados originais do Download (antes do Extract)\nconst downloadNode = $('📥 Download Arquivo').first();\n\n// CORREÇÃO: Pegar o fileName do node de download original\nconst fileName = downloadNode.json.name || 'Arquivo sem nome';\n\n// Pegar a transcrição que foi extraída\nlet transcricao = item.json.data || '';\n\n// Limpar HTML se vier com tags (Google Docs às vezes retorna HTML)\nif (transcricao.includes('<html>') || transcricao.includes('<li>')) {\n  // Remover tags HTML básicas\n  transcricao = transcricao\n    .replace(/<style[^>]*>.*?<\\/style>/gs, '')\n    .replace(/<script[^>]*>.*?<\\/script>/gs, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Extrair informações do nome do arquivo\nconst partes = fileName.split(' - ');\nlet clienteNome = 'Não identificado';\nlet dataCall = new Date().toISOString().split('T')[0];\n\nif (partes.length >= 2) {\n  clienteNome = partes[1].trim();\n}\n\n// Tentar extrair data do nome do arquivo\nconst regexData = /(\\d{4})_(\\d{2})_(\\d{2})/;\nconst matchData = fileName.match(regexData);\nif (matchData) {\n  dataCall = `${matchData[1]}-${matchData[2]}-${matchData[3]}`;\n}\n\n// Log para debug\nconsole.log('=== DEBUG ===');\nconsole.log('Nome do arquivo:', fileName);\nconsole.log('Cliente:', clienteNome);\nconsole.log('Data:', dataCall);\nconsole.log('Tamanho da transcrição:', transcricao.length, 'caracteres');\nconsole.log('Primeiros 200 chars:', transcricao.substring(0, 200));\n\n// Retornar dados estruturados para a IA\nreturn [{\n  json: {\n    // Metadados do arquivo\n    arquivo_id: downloadNode.json.id,\n    arquivo_nome: fileName,\n    arquivo_link: downloadNode.json.webViewLink,\n    data_call: dataCall,\n    \n    // Dados do cliente\n    cliente_nome: clienteNome,\n    empresa: '',\n    vertical: '',\n    plano_atual: '',\n    mrr: '',\n    cs_responsavel: '',\n    tipo_call: 'Customer Success',\n    \n    // Transcrição completa (limpa)\n    transcricao: transcricao,\n    \n    // Timestamp\n    processado_em: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -560
      ],
      "id": "a7621027-4ec7-4439-8ce9-65147b4211e6",
      "name": "⚙️ Processar Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "=Você é o CS Call Analyzer da Mottivme.\n\nSua função é analisar a transcrição de calls de Customer Success e gerar um relatório estruturado.\n\n## CONTEXTO DO CLIENTE\n- Nome: {{ $json.cliente_nome }}\n- Empresa: {{ $json.empresa || 'Não informado' }}\n- Vertical: {{ $json.vertical || 'Não informado' }}\n- Plano Atual: {{ $json.plano_atual || 'Não informado' }}\n- MRR: {{ $json.mrr || 'Não informado' }}\n- CS Responsável: {{ $json.cs_responsavel || 'Não informado' }}\n- Tipo da Call: {{ $json.tipo_call }}\n- Data da Call: {{ $json.data_call }}\n\n## TRANSCRIÇÃO DA CALL\n{{ $json.transcricao }}\n\n## SUA TAREFA\n\nAnalise a transcrição acima e retorne um JSON com a seguinte estrutura:\n\n```json\n{\n  \"resumo_executivo\": {\n    \"health_score\": 0-100,\n    \"health_status\": \"saudavel|atencao|risco|critico\",\n    \"insight_principal\": \"uma frase resumindo o estado do cliente\"\n  },\n  \"analise\": {\n    \"sentimento\": \"positivo|neutro|negativo\",\n    \"uso_plataforma\": \"alto|medio|baixo|nao_mencionado\",\n    \"satisfacao\": \"positiva|neutra|negativa\",\n    \"resultados_mencionados\": true/false,\n    \"resultados_detalhes\": \"o que foi mencionado\",\n    \"principais_topicos\": [\"lista\", \"de\", \"topicos\"]\n  },\n  \"riscos\": [\n    {\n      \"tipo\": \"churn|insatisfacao|baixo_uso|preco|outro\",\n      \"evidencia\": \"frase exata ou paráfrase da transcrição\",\n      \"severidade\": \"alta|media|baixa\",\n      \"acao_sugerida\": \"o que fazer sobre isso\"\n    }\n  ],\n  \"oportunidades\": [\n    {\n      \"tipo\": \"upsell|cross_sell|indicacao|expansao\",\n      \"evidencia\": \"frase exata ou paráfrase\",\n      \"produto_sugerido\": \"se aplicável\",\n      \"valor_potencial_estimado\": \"estimativa em reais ou null\"\n    }\n  ],\n  \"acoes_imediatas\": [\n    {\n      \"descricao\": \"ação necessária\",\n      \"responsavel\": \"CS|Gestor|Comercial|Tech\",\n      \"prazo\": \"24h|3dias|1semana|1mes\",\n      \"prioridade\": \"alta|media|baixa\"\n    }\n  ],\n  \"decisoes_tomadas\": [\n    \"lista de decisões acordadas na call\"\n  ],\n  \"proximos_passos\": [\n    {\n      \"acao\": \"descrição\",\n      \"responsavel\": \"quem\",\n      \"prazo\": \"quando\"\n    }\n  ],\n  \"momentos_chave\": [\n    {\n      \"descricao\": \"o que aconteceu\",\n      \"importancia\": \"alta|media|baixa\",\n      \"citacao\": \"frase relevante se houver\"\n    }\n  ],\n  \"alertas\": [\n    {\n      \"tipo\": \"churn_iminente|oportunidade_urgente|escalacao|suporte_tecnico\",\n      \"mensagem\": \"descrição do alerta\",\n      \"destinatario\": \"CS Manager|CEO|Suporte|Comercial\",\n      \"urgencia\": \"alta|media|baixa\"\n    }\n  ],\n  \"metricas_extraidas\": {\n    \"ticket_medio_mencionado\": null,\n    \"volume_vendas_mencionado\": null,\n    \"roi_mencionado\": null,\n    \"tempo_uso_plataforma\": null,\n    \"nps_percebido\": \"0-10 ou null\"\n  },\n  \"resumo_narrativo\": \"Um parágrafo resumindo a call de forma humanizada e executiva, como se você estivesse contando para o CEO o que rolou.\"\n}\n```\n\n## REGRAS DE ANÁLISE\n\n### Health Score (0-100):\n- **80-100 - Saudável 🟢**: Cliente engajado, usando bem, resultados positivos, sem sinais de risco\n- **60-79 - Atenção 🟡**: Cliente ok mas com alguns pontos de melhoria ou dúvidas\n- **40-59 - Risco 🟠**: Sinais claros de problemas, baixo uso, insatisfação moderada\n- **0-39 - Crítico 🔴**: Risco iminente de churn, frustração alta, não está usando\n\n### Sinais de Risco (procure ativamente):\n- ❌ \"não estou usando\", \"não vi resultado\", \"está caro\", \"não vale a pena\"\n- ❌ \"pensando em cancelar\", \"vou avaliar outras opções\", \"pausar por um tempo\"\n- ❌ Tom frustrado, respostas curtas, evasivas, desânimo\n- ❌ \"não tenho tempo\", \"muito complicado\", \"não entendo\"\n- ❌ Reclamações sobre suporte, bugs, lentidão\n\n### Sinais de Oportunidade (procure ativamente):\n- ✅ \"quero aumentar\", \"preciso de mais\", \"funciona muito bem\", \"adorando\"\n- ✅ \"meu colega/sócio também precisa\", \"vocês fazem X?\", \"tem feature Y?\"\n- ✅ Entusiasmo, perguntas sobre features premium, interesse em novos produtos\n- ✅ Menções de crescimento, expansão, novos projetos\n- ✅ Satisfação com resultados, ROI positivo\n\n### Instruções Importantes:\n1. **Seja objetivo e baseado em evidências** - cite frases quando possível\n2. **Priorize RISCOS sobre oportunidades** - é melhor prevenir churn\n3. **Extraia métricas concretas** quando mencionadas\n4. **Identifique o sentimento geral** da conversa\n5. **Sugira ações práticas e específicas**\n6. **Se não houver informação, use null ou array vazio** - não invente\n\n## FORMATO DE RESPOSTA\n\nRetorne APENAS o JSON válido, sem markdown, sem ```json, sem texto adicional antes ou depois."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        320,
        -560
      ],
      "id": "b439001d-0966-450d-a494-a634ea01765c",
      "name": "🤖 IA - Análise de CS",
      "notesInFlow": true,
      "notes": "Analisa a transcrição e gera relatório estruturado"
    },
    {
      "parameters": {
        "jsCode": "// Processar resposta da IA e preparar para salvar\nconst inputData = $input.first().json;\n\n// Pegar dados originais do processamento\nconst dadosOriginais = $('⚙️ Processar Dados').first().json;\n\n// Tentar fazer parse do JSON retornado pela IA\nlet analiseIA = {};\n\ntry {\n  let jsonString = '';\n  \n  // A IA pode retornar como string ou já como objeto\n  if (typeof inputData.output === 'string') {\n    jsonString = inputData.output;\n  } else if (inputData.output) {\n    analiseIA = inputData.output;\n  } else {\n    jsonString = JSON.stringify(inputData);\n  }\n  \n  // CORREÇÃO: Limpar markdown (```json e ```) da resposta\n  if (jsonString) {\n    jsonString = jsonString\n      .replace(/```json\\n?/g, '')  // Remove ```json\n      .replace(/```\\n?/g, '')       // Remove ```\n      .trim();\n    \n    analiseIA = JSON.parse(jsonString);\n  }\n  \n  console.log('✅ Parse da IA realizado com sucesso!');\n  console.log('Health Score:', analiseIA.resumo_executivo?.health_score);\n  \n} catch (error) {\n  console.error('❌ Erro ao fazer parse do JSON da IA:', error.message);\n  console.log('Resposta original:', inputData.output?.substring(0, 500));\n  \n  analiseIA = {\n    erro: 'Erro ao processar resposta da IA',\n    erro_detalhes: error.message,\n    resposta_original: inputData\n  };\n}\n\n// Montar objeto final para salvar\nconst resultado = {\n  // Metadados\n  id: `cs_${dadosOriginais.arquivo_id}_${Date.now()}`,\n  arquivo_id: dadosOriginais.arquivo_id,\n  arquivo_nome: dadosOriginais.arquivo_nome,\n  arquivo_link: dadosOriginais.arquivo_link,\n  \n  // Dados do cliente\n  cliente_nome: dadosOriginais.cliente_nome,\n  data_call: dadosOriginais.data_call,\n  tipo_call: dadosOriginais.tipo_call,\n  \n  // Análise completa da IA\n  analise: analiseIA,\n  \n  // Status e health\n  health_score: analiseIA.resumo_executivo?.health_score || 0,\n  health_status: analiseIA.resumo_executivo?.health_status || 'nao_analisado',\n  sentimento: analiseIA.analise?.sentimento || 'neutro',\n  \n  // Flags importantes\n  tem_risco_churn: (analiseIA.riscos?.some(r => r.tipo === 'churn') || false),\n  tem_oportunidade: ((analiseIA.oportunidades?.length || 0) > 0),\n  requer_atencao_urgente: (analiseIA.alertas?.some(a => a.urgencia === 'alta') || false),\n  \n  // Resumos\n  insight_principal: analiseIA.resumo_executivo?.insight_principal || '',\n  resumo_narrativo: analiseIA.resumo_narrativo || '',\n  \n  // Contadores\n  qtd_riscos: analiseIA.riscos?.length || 0,\n  qtd_oportunidades: analiseIA.oportunidades?.length || 0,\n  qtd_acoes: analiseIA.acoes_imediatas?.length || 0,\n  qtd_alertas: analiseIA.alertas?.length || 0,\n  \n  // Timestamps\n  processado_em: new Date().toISOString(),\n  criado_em: new Date().toISOString()\n};\n\nconsole.log('📊 Resultado final preparado:');\nconsole.log('- Cliente:', resultado.cliente_nome);\nconsole.log('- Health Score:', resultado.health_score);\nconsole.log('- Status:', resultado.health_status);\nconsole.log('- Riscos:', resultado.qtd_riscos);\nconsole.log('- Oportunidades:', resultado.qtd_oportunidades);\n\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -560
      ],
      "id": "60a7d4f9-479b-4f6f-8cc4-63cc24c14e9f",
      "name": "📊 Processar Resultado"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -128,
        -560
      ],
      "id": "08cc7aa0-a30d-44e3-b210-6a2a796cb2e7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        -336
      ],
      "id": "f835f698-a562-4e47-97a1-1bbf62f6cb94",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "WVbQ0d3w6cnLwPtX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        -560
      ],
      "id": "6c84001d-9e20-43fa-a9d1-4384a0d5a2c4",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        1920
      ],
      "typeVersion": 1,
      "id": "29542db8-b283-4037-8d18-a3b7348530d5",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {
    "Create Recall bot": [
      {
        "json": {
          "id": "ab35fa56-e42b-47c6-b716-eac8d12af601",
          "join_at": null,
          "metadata": {},
          "recording": null,
          "video_url": null,
          "recordings": [],
          "meeting_url": {
            "platform": "google_meet",
            "meeting_id": "zst-ymag-zoa"
          },
          "status_changes": [
            {
              "code": "ready",
              "message": null,
              "sub_code": null,
              "created_at": "2024-11-01T11:29:32.364684Z"
            }
          ],
          "meeting_metadata": null,
          "calendar_meetings": [],
          "meeting_participants": []
        }
      }
    ],
    "Scenario 2 Start - Webhook": [
      {
        "json": {
          "body": {
            "data": {
              "bot_id": "0032c6e2-78e9-46e7-a2ef-41d7b853ef48",
              "transcript": {
                "words": [
                  {
                    "text": "Let's",
                    "end_time": 11.88,
                    "start_time": 11.68
                  },
                  {
                    "text": "it",
                    "end_time": 12.12,
                    "start_time": 11.88
                  },
                  {
                    "text": "works",
                    "end_time": 12.44,
                    "start_time": 12.12
                  },
                  {
                    "text": "well.",
                    "end_time": 12.48,
                    "start_time": 12.44
                  }
                ],
                "source": "smart_annotator",
                "speaker": "Mark S.",
                "is_final": true,
                "language": null,
                "speaker_id": 100,
                "original_transcript_id": 32
              },
              "recording_id": "ee1ad589-39fe-4ed5-b96f-cd14c63f3bc2"
            },
            "event": "bot.transcription"
          },
          "query": {},
          "params": {},
          "headers": {
            "host": "n8n.lowcoding.dev",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "495",
            "accept-encoding": "gzip",
            "x-forwarded-for": "52.10.191.34",
            "x-forwarded-host": "n8n.lowcoding.dev",
            "x-forwarded-proto": "https"
          },
          "webhookUrl": "https://n8n.lowcoding.dev/webhook/d074ca1e-52f9-47af-8587-8c24d431f9cd",
          "executionMode": "production"
        }
      }
    ],
    "Google Drive Trigger1": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A&exportFormat=txt"
          },
          "parents": [
            "1WTJrbMl8HLppIHIeHT94Qsbog9XpxOx2"
          ],
          "lastModifyingUser": {
            "displayName": "Marcos Daniel",
            "kind": "drive#user",
            "me": true,
            "permissionId": "17593624161997979916",
            "emailAddress": "ceo@marcosdaniels.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
          },
          "owners": [
            {
              "displayName": "Marcos Daniel",
              "kind": "drive#user",
              "me": true,
              "permissionId": "17593624161997979916",
              "emailAddress": "ceo@marcosdaniels.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "04781390080190356985",
              "type": "user",
              "emailAddress": "hallennaiane@gmail.com",
              "role": "writer",
              "displayName": "hallennaiane",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUrOu8WKyR8TMCIzVsXhnK7_ZWphq8_wP3HGGvwf4KVlozrn1c=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "17593624161997979916",
              "type": "user",
              "emailAddress": "ceo@marcosdaniels.com",
              "role": "owner",
              "displayName": "Marcos Daniel",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIxThQOKn67oYJ_d9CnClrZihFO_WHmcBS38rmK-BOgakQn-Cek4A=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "04781390080190356985",
            "17593624161997979916"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A",
          "name": "Custommer Success - Milton de Abreu - 2025_11_28 17_00 GMT-03_00 - Anotações do Gemini (1)",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "6",
          "webViewLink": "https://docs.google.com/document/d/1CsCAUA5v47XBz333vyf8I0g-9XjVuwAIegWbssYDR9A/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNTFush_4up9eAiq9ct_K84lrzpRMLZ7m5S1Rt_4XkELlhnKEY1qdarfo7pZYiEpgD3LbGfdFOCEaOyDclyHwwFJaczL3DKi1Cfz40JNqmCvapD-NrCCEoS_fiVFQ=s220",
          "thumbnailVersion": "2",
          "viewedByMe": true,
          "viewedByMeTime": "2025-11-29T17:42:32.409Z",
          "createdTime": "2025-11-29T17:42:32.409Z",
          "modifiedTime": "2025-11-29T17:42:32.645Z",
          "modifiedByMeTime": "2025-11-29T17:42:32.645Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "45000",
          "quotaBytesUsed": "45000",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Validate_Webhook_Data": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Mensagem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Validate_Webhook_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit_fields": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Nova Call": {
      "main": [
        [
          {
            "node": "Filtrar Google Meet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Google Meet": {
      "main": [
        [
          {
            "node": "Recall.ai - Criar Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "ai_tool": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Jimmy word": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Recall bot": {
      "main": [
        [
          {
            "node": "Create OpenAI thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create OpenAI thread": {
      "main": [
        [
          {
            "node": "Create data record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Transcription Part": {
      "main": [
        [
          {
            "node": "If Jimmy word",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario 2 Start - Webhook": {
      "main": [
        [
          {
            "node": "Insert Transcription Part",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scenario 1 Start - Edit Fields": {
      "main": [
        [
          {
            "node": "Create Recall bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Recebe Call": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Tem Transcrição?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Transcrição?": {
      "main": [
        [
          {
            "node": "Usar Transcrição Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Áudio": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "Formatar Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Transcrição": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Usar Transcrição Existente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Carregar System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar System Prompt": {
      "main": [
        [
          {
            "node": "Claude - Analisar Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Prompt CS Analyzer": {
      "main": [
        [
          {
            "node": "Carregar System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Analisar Call": {
      "main": [
        [
          {
            "node": "Formatar Output Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Output Final": {
      "main": [
        [
          {
            "node": "Risco Alto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risco Alto?": {
      "main": [
        [
          {
            "node": "Alerta WhatsApp Marcos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar GoHighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta WhatsApp Marcos": {
      "main": [
        [
          {
            "node": "Atualizar GoHighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar GoHighLevel": {
      "main": [
        [
          {
            "node": "Salvar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Supabase": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Download Arquivo": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Processar Dados": {
      "main": [
        [
          {
            "node": "🤖 IA - Análise de CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 IA - Análise de CS": {
      "main": [
        [
          {
            "node": "📊 Processar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "⚙️ Processar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 IA - Análise de CS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "📥 Download Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d954c4c8-d81c-49cb-a369-8b94f74605e7",
  "meta": {
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "MAKmkfG6WMSTQwvb",
  "tags": [
    {
      "updatedAt": "2025-07-23T11:01:09.394Z",
      "createdAt": "2025-07-23T11:01:09.394Z",
      "id": "Blg6snZl1dbsR9Xd",
      "name": "crm"
    },
    {
      "updatedAt": "2025-07-23T11:01:09.423Z",
      "createdAt": "2025-07-23T11:01:09.423Z",
      "id": "uYNYn660KvI1oUo3",
      "name": "automation"
    }
  ]
}