mottivme-sales-total/projects/n8n-workspace/Fluxos n8n/Fluxos BASE - n8n do BPO da mottivme/1. BPO ADM:FinanceiroIA/workflows/agente-contratos/tools/tool-buscar-cliente-contato.json
{
  "name": "[TOOL] Buscar Cliente por Contato",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar cliente por contact_id, telefone ou nome\nSELECT \n  id,\n  nome,\n  documento,\n  tipo,\n  razao_social,\n  nacionalidade,\n  profissao,\n  estado_civil,\n  data_nascimento,\n  telefone,\n  email,\n  endereco,\n  cep,\n  cidade,\n  estado,\n  ghl_contact_id,\n  created_at\nFROM fin_clientes_fornecedores\nWHERE \n  (ghl_contact_id = '{{ $json.contact_id }}' AND NULLIF('{{ $json.contact_id }}', '') IS NOT NULL)\n  OR (telefone LIKE '%' || RIGHT(REGEXP_REPLACE('{{ $json.telefone }}', '[^0-9]', '', 'g'), 9) || '%' AND NULLIF('{{ $json.telefone }}', '') IS NOT NULL)\n  OR (LOWER(nome) LIKE LOWER('%{{ $json.nome }}%') AND NULLIF('{{ $json.nome }}', '') IS NOT NULL)\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        -128
      ],
      "id": "e5ff8d47-6bb1-4705-9a31-c2b9df142c15",
      "name": "Buscar Cliente",
      "credentials": {
        "postgres": {
          "id": "WsU3bciJm7aMyAoC",
          "name": "postgress - financeiro - mottivme sales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta\nconst cliente = $json;\n\nif (!cliente.id) {\n  return {\n    json: {\n      encontrado: false,\n      mensagem: 'Cliente não encontrado no sistema. Será necessário coletar todos os dados.',\n      dados_faltantes: [\n        'nome', 'documento', 'nacionalidade', 'profissao', 'estado_civil',\n        'data_nascimento', 'endereco', 'cep', 'cidade', 'estado', 'email'\n      ]\n    }\n  };\n}\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return null;\n  const data = new Date(dataStr);\n  return data.toLocaleDateString('pt-BR');\n};\n\n// Identificar dados faltantes\nconst dadosFaltantes = [];\nif (!cliente.nome) dadosFaltantes.push('nome');\nif (!cliente.documento) dadosFaltantes.push('documento (CPF/CNPJ)');\nif (!cliente.nacionalidade) dadosFaltantes.push('nacionalidade');\nif (!cliente.profissao) dadosFaltantes.push('profissao');\nif (!cliente.estado_civil) dadosFaltantes.push('estado_civil');\nif (!cliente.data_nascimento) dadosFaltantes.push('data_nascimento');\nif (!cliente.endereco) dadosFaltantes.push('endereco');\nif (!cliente.cep) dadosFaltantes.push('cep');\nif (!cliente.cidade) dadosFaltantes.push('cidade');\nif (!cliente.estado) dadosFaltantes.push('estado');\nif (!cliente.email) dadosFaltantes.push('email');\n\nreturn {\n  json: {\n    encontrado: true,\n    cliente_id: cliente.id,\n    dados_existentes: {\n      nome: cliente.nome || null,\n      documento: cliente.documento || null,\n      tipo: cliente.tipo === 'pf' ? 'Pessoa Física' : 'Pessoa Jurídica',\n      razao_social: cliente.razao_social || null,\n      nacionalidade: cliente.nacionalidade || null,\n      profissao: cliente.profissao || null,\n      estado_civil: cliente.estado_civil || null,\n      data_nascimento: formatarData(cliente.data_nascimento),\n      telefone: cliente.telefone || null,\n      email: cliente.email || null,\n      endereco: cliente.endereco || null,\n      cep: cliente.cep || null,\n      cidade: cliente.cidade || null,\n      estado: cliente.estado || null\n    },\n    dados_faltantes: dadosFaltantes,\n    cadastro_completo: dadosFaltantes.length === 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -128
      ],
      "id": "70bbb938-7617-4fd8-a1c4-707f59618a31",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        -128
      ],
      "id": "c83efb19-ea44-43d1-981c-f24eaad67080",
      "name": "Respond to Workflow"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "contact_id"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -128
      ],
      "id": "b39edd74-3bcf-4203-9044-7b34336c5af2",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ce18dfe-255c-465a-aa7b-5edd34f9c9e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "GAmDsrgHzVowt0nk",
  "tags": []
}