mottivme-sales-total/projects/Mottivme Strategy 2026/_workspace/clientes/Fluxos para modelar/BPO Financeiro - Mottivme Sales/n8n-workflows/tool-buscar-movimentacoes.json
{
  "name": "[TOOL] Buscar Movimentações",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  m.id, \n  m.tipo, \n  m.descricao, \n  m.valor_previsto, \n  m.valor_realizado,\n  m.data_vencimento, \n  m.data_realizado, \n  m.quitado,\n  m.tipo_entidade,\n  c.nome as cliente_fornecedor, \n  cat.nome as categoria\nFROM movimentacoes_financeiras m\nLEFT JOIN clientes_fornecedores c ON m.cliente_fornecedor_id = c.id\nLEFT JOIN categorias_financeiras cat ON m.categoria_id = cat.id\nWHERE 1=1\n{{ $json.filtro_tipo ? \"AND m.tipo = '\" + $json.filtro_tipo + \"'\" : '' }}\n{{ $json.filtro_quitado !== undefined && $json.filtro_quitado !== '' ? \"AND m.quitado = \" + $json.filtro_quitado : '' }}\n{{ $json.data_inicio ? \"AND m.data_vencimento >= '\" + $json.data_inicio + \"'\" : '' }}\n{{ $json.data_fim ? \"AND m.data_vencimento <= '\" + $json.data_fim + \"'\" : '' }}\nORDER BY m.data_vencimento DESC\nLIMIT 20",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 300],
      "id": "postgres-buscar-movimentacoes",
      "name": "Buscar Movimentações",
      "credentials": {
        "postgres": {
          "id": "supabase-bpo",
          "name": "Supabase - BPO Financeiro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && Object.keys(items[0].json).length === 0)) {\n  return {\n    json: {\n      encontrado: false,\n      message: 'Nenhuma movimentação encontrada com os filtros informados',\n      movimentacoes: []\n    }\n  };\n}\n\nconst movimentacoes = items.map(item => {\n  const m = item.json;\n  const valorFormatado = new Intl.NumberFormat('pt-BR', {\n    style: 'currency',\n    currency: 'BRL'\n  }).format(m.valor_previsto || 0);\n  \n  const dataVenc = m.data_vencimento ? new Date(m.data_vencimento + 'T00:00:00').toLocaleDateString('pt-BR') : 'N/A';\n  \n  return {\n    id: m.id,\n    tipo: m.tipo,\n    descricao: m.descricao,\n    valor: valorFormatado,\n    valor_numerico: m.valor_previsto,\n    data_vencimento: dataVenc,\n    quitado: m.quitado,\n    cliente_fornecedor: m.cliente_fornecedor || 'Não informado',\n    categoria: m.categoria || 'Não categorizado',\n    tipo_entidade: m.tipo_entidade\n  };\n});\n\n// Calcular totais\nconst totalReceitas = items.filter(i => i.json.tipo === 'receita').reduce((sum, i) => sum + (i.json.valor_previsto || 0), 0);\nconst totalDespesas = items.filter(i => i.json.tipo === 'despesa').reduce((sum, i) => sum + (i.json.valor_previsto || 0), 0);\n\nreturn {\n  json: {\n    encontrado: true,\n    quantidade: movimentacoes.length,\n    total_receitas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalReceitas),\n    total_despesas: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalDespesas),\n    movimentacoes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "format-response",
      "name": "Formatar Resposta"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar Movimentações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Movimentações": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-bpo-financeiro"
  },
  "id": "tool-buscar-movimentacoes",
  "tags": []
}
