mottivme-sales-total/projects/Mottivme Strategy 2026/_workspace/clientes/Fluxos para modelar/BPO Financeiro - Mottivme Sales/n8n-workflows/tool-inadimplencia.json
{
  "name": "[TOOL] Relatório de Inadimplência",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "trigger",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Resumo geral de inadimplência\nSELECT \n  COUNT(DISTINCT m.cliente_fornecedor_id) as total_clientes_inadimplentes,\n  COUNT(m.id) as total_titulos_vencidos,\n  SUM(m.valor_previsto) as valor_total_inadimplente,\n  AVG(CURRENT_DATE - m.data_vencimento) as media_dias_atraso,\n  MAX(CURRENT_DATE - m.data_vencimento) as maior_atraso_dias\nFROM movimentacoes_financeiras m\nWHERE \n  m.tipo = 'receita'\n  AND m.quitado = false\n  AND m.data_vencimento < CURRENT_DATE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 200],
      "id": "query-resumo",
      "name": "Resumo Geral",
      "credentials": {
        "postgres": {
          "id": "supabase-bpo",
          "name": "Supabase - BPO Financeiro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Top 10 maiores devedores\nSELECT \n  c.id as cliente_id,\n  c.nome as cliente_nome,\n  c.telefone,\n  c.email,\n  c.tipo as tipo_cliente,\n  COUNT(m.id) as qtd_titulos,\n  SUM(m.valor_previsto) as valor_total,\n  MIN(m.data_vencimento) as vencimento_mais_antigo,\n  MAX(CURRENT_DATE - m.data_vencimento) as dias_atraso,\n  CASE \n    WHEN MAX(CURRENT_DATE - m.data_vencimento) <= 7 THEN 'leve'\n    WHEN MAX(CURRENT_DATE - m.data_vencimento) <= 30 THEN 'moderado'\n    WHEN MAX(CURRENT_DATE - m.data_vencimento) <= 90 THEN 'grave'\n    ELSE 'critico'\n  END as nivel_risco\nFROM movimentacoes_financeiras m\nJOIN clientes_fornecedores c ON m.cliente_fornecedor_id = c.id\nWHERE \n  m.tipo = 'receita'\n  AND m.quitado = false\n  AND m.data_vencimento < CURRENT_DATE\nGROUP BY c.id, c.nome, c.telefone, c.email, c.tipo\nORDER BY valor_total DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 360],
      "id": "query-devedores",
      "name": "Top Devedores",
      "credentials": {
        "postgres": {
          "id": "supabase-bpo",
          "name": "Supabase - BPO Financeiro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Distribuição por faixa de atraso\nSELECT \n  CASE \n    WHEN CURRENT_DATE - data_vencimento <= 7 THEN '1-7 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 15 THEN '8-15 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 30 THEN '16-30 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 60 THEN '31-60 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 90 THEN '61-90 dias'\n    ELSE 'Mais de 90 dias'\n  END as faixa_atraso,\n  COUNT(*) as qtd_titulos,\n  SUM(valor_previsto) as valor_total,\n  COUNT(DISTINCT cliente_fornecedor_id) as qtd_clientes\nFROM movimentacoes_financeiras\nWHERE \n  tipo = 'receita'\n  AND quitado = false\n  AND data_vencimento < CURRENT_DATE\nGROUP BY \n  CASE \n    WHEN CURRENT_DATE - data_vencimento <= 7 THEN '1-7 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 15 THEN '8-15 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 30 THEN '16-30 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 60 THEN '31-60 dias'\n    WHEN CURRENT_DATE - data_vencimento <= 90 THEN '61-90 dias'\n    ELSE 'Mais de 90 dias'\n  END\nORDER BY \n  MIN(CURRENT_DATE - data_vencimento);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 520],
      "id": "query-faixas",
      "name": "Por Faixa de Atraso",
      "credentials": {
        "postgres": {
          "id": "supabase-bpo",
          "name": "Supabase - BPO Financeiro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatar relatório de inadimplência\nconst resumo = $('Resumo Geral').first().json;\nconst devedores = $('Top Devedores').all().filter(i => i.json.cliente_id);\nconst faixas = $('Por Faixa de Atraso').all().filter(i => i.json.faixa_atraso);\n\nconst formatarValor = (valor) => new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(valor || 0);\n\nconst formatarData = (dataStr) => {\n  if (!dataStr) return '-';\n  const data = new Date(dataStr + 'T00:00:00');\n  return data.toLocaleDateString('pt-BR');\n};\n\nconst getNivelEmoji = (nivel) => {\n  switch(nivel) {\n    case 'leve': return '🟢';\n    case 'moderado': return '🟡';\n    case 'grave': return '🟠';\n    case 'critico': return '🔴';\n    default: return '⚪';\n  }\n};\n\n// Se não há inadimplentes\nif (!resumo.total_clientes_inadimplentes || resumo.total_clientes_inadimplentes === '0') {\n  return {\n    json: {\n      titulo: 'Relatório de Inadimplência',\n      mensagem: '✅ Parabéns! Não há clientes inadimplentes no momento.',\n      resumo: {\n        total_clientes: 0,\n        total_titulos: 0,\n        valor_total: formatarValor(0)\n      }\n    }\n  };\n}\n\n// Montar relatório\nconst relatorio = {\n  titulo: 'Relatório de Inadimplência',\n  data_geracao: new Date().toLocaleDateString('pt-BR') + ' ' + new Date().toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'}),\n  resumo: {\n    total_clientes_inadimplentes: parseInt(resumo.total_clientes_inadimplentes),\n    total_titulos_vencidos: parseInt(resumo.total_titulos_vencidos),\n    valor_total_inadimplente: formatarValor(resumo.valor_total_inadimplente),\n    media_dias_atraso: Math.round(parseFloat(resumo.media_dias_atraso) || 0),\n    maior_atraso: parseInt(resumo.maior_atraso_dias) + ' dias'\n  },\n  distribuicao_por_faixa: faixas.map(f => ({\n    faixa: f.json.faixa_atraso,\n    titulos: parseInt(f.json.qtd_titulos),\n    valor: formatarValor(f.json.valor_total),\n    clientes: parseInt(f.json.qtd_clientes)\n  })),\n  top_devedores: devedores.map(d => ({\n    cliente: d.json.cliente_nome,\n    tipo: d.json.tipo_cliente === 'pf' ? 'Pessoa Física' : 'Pessoa Jurídica',\n    telefone: d.json.telefone || 'Não informado',\n    titulos: parseInt(d.json.qtd_titulos),\n    valor_total: formatarValor(d.json.valor_total),\n    dias_atraso: parseInt(d.json.dias_atraso),\n    nivel_risco: `${getNivelEmoji(d.json.nivel_risco)} ${d.json.nivel_risco.toUpperCase()}`,\n    vencimento_mais_antigo: formatarData(d.json.vencimento_mais_antigo)\n  }))\n};\n\n// Adicionar alerta se houver casos críticos\nconst criticos = devedores.filter(d => d.json.nivel_risco === 'critico');\nif (criticos.length > 0) {\n  relatorio.alerta = `⚠️ ATENÇÃO: ${criticos.length} cliente(s) em situação CRÍTICA (mais de 90 dias de atraso)`;\n}\n\nreturn { json: relatorio };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 360],
      "id": "formatar-relatorio",
      "name": "Formatar Relatório"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resumo Geral",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top Devedores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Por Faixa de Atraso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Geral": {
      "main": [
        [
          {
            "node": "Formatar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Devedores": {
      "main": [
        [
          {
            "node": "Formatar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Por Faixa de Atraso": {
      "main": [
        [
          {
            "node": "Formatar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-bpo-financeiro"
  },
  "id": "tool-inadimplencia",
  "tags": []
}
