mottivme-sales-total/projects/n8n-workspace/Fluxos n8n/Fluxos BASE - n8n do BPO da mottivme/2. MKT:Vendas/2. Pré Vendas/Tools Agentes SDR/Atualizar Work Permit GHL (Otimizado).json
{
  "name": "Atualizar Work Permit GHL (Otimizado)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "API_KEY"
            },
            {
              "name": "location_id"
            },
            {
              "name": "contact_id"
            },
            {
              "name": "workPermitValue"
            }
          ]
        }
      },
      "id": "de257c81-3583-4ed4-b29b-cd9a581c2b05",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1904,
        -1360
      ]
    },
    {
      "parameters": {
        "content": "v1 - tava dando erro na hora de agendar pq nao tava buscando a disponibilidade",
        "height": 688,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        -1648
      ],
      "typeVersion": 1,
      "id": "1e4a0394-5539-4832-b12d-bea59c73ab2f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "contact_id",
              "value": "={{ $json.contact_id }}"
            },
            {
              "key": "workPermit",
              "value": "={{ $json.workPermitValue }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -1360
      ],
      "id": "6472e1cf-1cc1-41ad-a2aa-3834dc62d927",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Start').item.json.API_KEY }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": [\n    {\n      \"id\": \"{{ $json.fieldId }}\",\n      \"value\": \"{{ $json.workPermitValue }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -1360
      ],
      "id": "7a92dcd4-6122-48d8-97db-ce98efad4191",
      "name": "🔄 Atualizar Work Permit",
      "notes": "Atualiza o campo customizado work_permit no contato"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dea4eade-a0b7-4fa8-be10-478ffe2fed82",
              "name": "fieldId",
              "value": "={{ $json.fieldId }}",
              "type": "string"
            },
            {
              "id": "8c5d3e2f-1a3b-4c5e-9f2a-7b8c9d0e1f2a",
              "name": "contactId",
              "value": "={{ $('Start').item.json.contact_id }}",
              "type": "string"
            },
            {
              "id": "3f4e5d6c-7b8a-9c0d-1e2f-3a4b5c6d7e8f",
              "name": "workPermitValue",
              "value": "={{ $('Start').item.json.workPermitValue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -1360
      ],
      "id": "a788ef70-31be-4164-8db5-883178062b6d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/locations/{{ $json.location_id }}/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.API_KEY }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -1360
      ],
      "id": "d58f1346-3df2-47a4-986a-e77ed26e9db7",
      "name": "1️⃣ Listar todos os campos",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Pega a lista de custom fields do input anterior\nconst customFields = $input.first().json.customFields;\n\n// Encontra o campo \"Work Permit\"\nconst workPermitField = customFields.find(field => \n  field.name === \"Work Permit\"\n);\n\nif (!workPermitField) {\n  throw new Error(\"Campo 'Work Permit' não encontrado!\");\n}\n\n// Retorna apenas o ID do campo\nreturn [{\n  json: {\n    fieldId: workPermitField.id  // YFFXi3ByB0DuISqrq6MW\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -1360
      ],
      "id": "6f87bcc3-6154-40c8-8266-6d6cb813304f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "API_KEY": "pit-7f333e6f-a839-4f58-b371-778fed9dc2ea",
          "location_id": "Bgi2hFMgiLLoRlOO0K5b",
          "contact_id": "z4KaXKrTuZmAiyb3hFcZ",
          "workPermitValue": "Sim"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "1️⃣ Listar todos os campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "🔄 Atualizar Work Permit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Listar todos os campos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "657ebb16-bb45-4aa3-890e-59a24d12b3b9",
  "meta": {
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  },
  "id": "3Dd8d5AnpD4iLPwG",
  "tags": [
    {
      "updatedAt": "2025-11-03T19:28:46.270Z",
      "createdAt": "2025-11-03T19:28:46.270Z",
      "id": "3znkt8vlq1yubGAB",
      "name": "on"
    }
  ]
}