sales/n8n-workspace/Fluxos n8n/Fluxos BASE - n8n do BPO da mottivme/2. MKT:Vendas/2. Pré Vendas/GHL - Mottivme -EUA - COM REAGENDAMENTO - COM TOKEN TRACKING.json
{
  "name": "GHL - Mottivme -EUA - COM REAGENDAMENTO - COM TOKEN TRACKING",
  "nodes": [
    {
      "parameters": {
        "content": "# Fluxo de Reagendamento Automatico por TAG\n\n## Como funciona:\n1. GHL adiciona TAG 'reagendar' ao lead (manual ou automacao)\n2. Webhook dispara este fluxo\n3. IA gera mensagem UNICA e personalizada\n4. Mensagem e enviada ao lead\n5. Tracking e ativado para Follow Up Eterno continuar\n\n## Anti-Bloqueio:\n- Cada mensagem e gerada pela IA de forma unica\n- Variacao de estilo, tom e abordagem\n- Personalizacao com dados do lead\n- Nunca a mesma mensagem duas vezes\n\n## Token Tracking:\n- Custos de IA sao registrados automaticamente\n- Dados enviados para Supabase via sub-workflow",
        "height": 420,
        "width": 600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -1296
      ],
      "id": "e5fd8b23-6f1d-421d-b8d9-918ac8b74895",
      "name": "INSTRUCOES"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-id",
              "name": "contact_id",
              "value": "={{ $json.body.customData.ID }}",
              "type": "string"
            },
            {
              "id": "location-id",
              "name": "location_id",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "first-name",
              "name": "first_name",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "telefone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body?.contact?.attributionSource?.medium === 'instagram' ? 'instagram' : 'whatsapp' }}",
              "type": "string"
            },
            {
              "id": "api-key",
              "name": "api_key",
              "value": "={{ $json.body?.api_key || 'pit-7f333e6f-a839-4f58-b371-778fed9dc2ea' }}",
              "type": "string"
            },
            {
              "id": "tags",
              "name": "tags",
              "value": "={{ $json.body?.contact?.tags?.join(',') || $json.body?.tags || '' }}",
              "type": "string"
            },
            {
              "id": "location-name",
              "name": "location_name",
              "value": "={{ $json.body.location.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -608
      ],
      "id": "e99143a5-6692-4107-b2b6-3cbddcef545a",
      "name": "Extrair Info Lead"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -608
      ],
      "id": "729c06d3-d4bc-44ed-8178-f4977632cd73",
      "name": "Buscar Lead GHL",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Extrair Info Lead').first().json.contact_id }}/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extrair Info Lead').first().json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -704
      ],
      "id": "1c94b24b-446b-4ad3-8fac-62f580745abc",
      "name": "Buscar Appointments",
      "retryOnFail": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "limit": 20,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Extrair Info Lead').first().json.contact_id }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -512
      ],
      "id": "4defc0cf-77e1-426f-bc56-3ab0b6bfd06d",
      "name": "Buscar Historico",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -624
      ],
      "id": "29800104-f29c-477f-83be-adf0d4d27ddb",
      "name": "Merge Dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nome-lead",
              "name": "nome",
              "value": "={{ $('Buscar Lead GHL').first().json.contact?.firstName || $('Extrair Info Lead').first().json.first_name || '' }}",
              "type": "string"
            },
            {
              "id": "responsavel",
              "name": "responsavel",
              "value": "={{ $('Buscar Lead GHL').first().json.contact?.assignedTo || 'o especialista' }}",
              "type": "string"
            },
            {
              "id": "ultimo-appointment",
              "name": "ultimo_appointment",
              "value": "={{ $('Buscar Appointments').first().json.events?.[0]?.startTime || 'nao encontrado' }}",
              "type": "string"
            },
            {
              "id": "historico-resumo",
              "name": "historico_resumo",
              "value": "={{ $('Buscar Historico').all().slice(0, 10).map(h => h.json.message?.content || '').filter(m => m).join(' | ') || 'Sem historico' }}",
              "type": "string"
            },
            {
              "id": "tentativa-numero",
              "name": "tentativa_numero",
              "value": "={{ ($('Buscar Historico').all().filter(h => (h.json.message?.content || '').toLowerCase().includes('nao deu pra') || (h.json.message?.content || '').toLowerCase().includes('vi que')).length || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "hora-atual",
              "name": "hora_atual",
              "value": "={{ $now.hour }}",
              "type": "number"
            },
            {
              "id": "dia-semana",
              "name": "dia_semana",
              "value": "={{ $now.weekday }}",
              "type": "number"
            },
            {
              "id": "f9823ec6-e1c7-483d-91ce-8f5255a5a908",
              "name": "contact.id",
              "value": "={{ $('Buscar Lead GHL').item.json.contact.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -608
      ],
      "id": "4c8672f0-ca98-4b64-bc45-4db99d3f17ac",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1256,
        -224
      ],
      "id": "1bafedf5-f9ab-4237-aaa9-b10c8f8eec7d",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "4ut0CD80SN7lbITM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere UMA mensagem de abertura para recuperar este lead que deu no-show.\n\nContexto:\n- Nome: {{ $('Preparar Contexto').first().json.nome || 'Lead' }}\n- Tentativa: {{ $('Preparar Contexto').first().json.tentativa_numero }}\n- Hora atual: {{ $('Preparar Contexto').first().json.hora_atual }}h\n- Historico resumido: {{ $('Preparar Contexto').first().json.historico_resumo }}",
        "options": {
          "systemMessage": "=# GERADOR DE MENSAGENS DE REAGENDAMENTO - ANTI-BLOQUEIO\n\nVoce e um especialista em criar mensagens UNICAS para recuperar leads que deram no-show.\n\n## OBJETIVO\nGerar UMA mensagem curta, casual e personalizada para abordar o lead.\nCADA mensagem deve ser DIFERENTE - nunca repita padroes.\n\n## REGRAS ABSOLUTAS\n\n1. **VARIACAO OBRIGATORIA**: Cada mensagem deve ser unica\n2. **MAX 80 CARACTERES**: Mensagem curta para WhatsApp\n3. **TOM CASUAL**: Use vc, ta, pra, to, q, tb\n4. **SEM DOIS PONTOS**: Nunca use \":\"\n5. **SEM EMOJIS EXCESSIVOS**: Maximo 1 emoji (ou nenhum)\n6. **NAO MENCIONE NO-SHOW DIRETAMENTE**: Seja sutil\n7. **NUNCA DIGA 'REUNIAO' NA PRIMEIRA MSG**: Seja casual primeiro\n\n## VARIACOES DE ABERTURA (escolha aleatorio)\n\n### ESTILO 1 - Checagem casual\n- \"Oi [nome], tudo bem por ai?\"\n- \"E ai [nome], como ta?\"\n- \"Oi [nome]! Sumiu rs\"\n- \"Fala [nome], beleza?\"\n\n### ESTILO 2 - Mencao sutil ao compromisso\n- \"Oi [nome], vi que nao deu pra gente se falar\"\n- \"E ai [nome], ficou tudo bem ontem?\"\n- \"Oi [nome], aconteceu algo?\"\n\n### ESTILO 3 - Preocupacao genuina\n- \"Oi [nome], ta tudo certo?\"\n- \"[nome], tudo bem com vc?\"\n- \"Oi! Fiquei preocupada, ta bem?\"\n\n### ESTILO 4 - Retomada direta (tentativa 2+)\n- \"Oi [nome], consegui um horario especial pra vc\"\n- \"[nome], ainda consigo te encaixar essa semana\"\n- \"Oi! Sobrou uma vaga, pensei em vc\"\n\n## PERSONALIZACAO POR HORA\n\n- Manha (6-12h): \"Bom dia [nome]...\"\n- Tarde (12-18h): \"Oi [nome]...\" ou \"E ai [nome]...\"\n- Noite (18-22h): \"Boa noite [nome]...\" ou \"Oi [nome]...\"\n\n## PERSONALIZACAO POR TENTATIVA\n\n- Tentativa 1: Apenas checagem casual, sem mencionar reuniao\n- Tentativa 2: Pode mencionar que viu que nao deu pra falar\n- Tentativa 3: Pode ser mais direto com oferta de horario\n\n## EXEMPLOS DE OUTPUT\n\n\"Oi Maria, tudo bem por ai?\"\n\"E ai Joao, como ta?\"\n\"Boa noite Ana! Sumiu rs\"\n\"Oi Pedro, vi que nao deu ontem. Ta tudo certo?\"\n\"Fala Carlos, beleza?\"\n\"Oi Lucia, aconteceu algo? Fiquei preocupada\"\n\n## FORMATO DE SAIDA\n\nRetorne APENAS a mensagem, sem explicacoes.\nNao use aspas na saida.\nNao inclua [nome] - substitua pelo nome real.",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1184,
        -608
      ],
      "id": "f15d732f-6474-4e86-99c0-532ed5011657",
      "name": "IA Gerador Mensagem",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// Limpar e validar a mensagem gerada\nlet mensagem = $('IA Gerador Mensagem').first().json.output || '';\n\n// Remover aspas, quebras de linha, espacos extras\nmensagem = mensagem\n  .replace(/^\"|\"$/g, '')  // Remove aspas no inicio/fim\n  .replace(/^'|'$/g, '')  // Remove aspas simples\n  .replace(/\\n/g, ' ')    // Remove quebras de linha\n  .replace(/\\s+/g, ' ')   // Remove espacos duplos\n  .replace(/:/g, '')      // Remove dois pontos\n  .trim();\n\n// Validacoes\nconst valida = mensagem.length > 5 && mensagem.length < 150;\nconst contemTools = mensagem.toLowerCase().includes('tool');\nconst contemError = mensagem.toLowerCase().includes('error');\n\n// Se invalida, usar fallback\nif (!valida || contemTools || contemError) {\n  const nome = $('Preparar Contexto').first().json.nome || '';\n  const hora = $('Preparar Contexto').first().json.hora_atual;\n  \n  const fallbacks = [\n    `Oi${nome ? ' ' + nome : ''}, tudo bem por ai?`,\n    `E ai${nome ? ' ' + nome : ''}, como ta?`,\n    `Oi${nome ? ' ' + nome : ''}! Sumiu rs`,\n    `Fala${nome ? ' ' + nome : ''}, beleza?`,\n    `${nome || 'Oi'}, ta tudo certo?`\n  ];\n  \n  // Escolher aleatoriamente\n  mensagem = fallbacks[Math.floor(Math.random() * fallbacks.length)];\n}\n\nreturn {\n  json: {\n    mensagem_final: mensagem,\n    mensagem_original: $('IA Gerador Mensagem').first().json.output,\n    validacao: {\n      tamanho: mensagem.length,\n      valida: mensagem.length > 5 && mensagem.length < 150\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -608
      ],
      "id": "a3e56a2f-9e2b-42a8-92fe-babd542982b1",
      "name": "Validar e Limpar Mensagem"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_schedule_tracking (unique_id, location_id, ativo, source, last_message_from, last_message_at, follow_up_count, created_at)\nVALUES (\n  '{{ $('Code in JavaScript').first().json.contact_id }}',\n  '{{ $('Code in JavaScript').first().json.location_id }}',\n  true,\n  '{{ $('Code in JavaScript').first().json.source }}',\n  'ia',\n  NOW(),\n  0,\n  NOW()\n)\nON CONFLICT (unique_id) DO UPDATE SET\n  ativo = true,\n  source = EXCLUDED.source,\n  last_message_at = NOW(),\n  last_message_from = 'ia',\n  follow_up_count = 0",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3100,
        -896
      ],
      "id": "cb1cb1e6-a305-4006-8b64-7f4c839887e3",
      "name": "Ativar Tracking",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "lead_id",
              "value": "={{ $('Extrair Info Lead').first().json.contact_id }}"
            },
            {
              "key": "mensagem_enviada",
              "value": "={{ $('Validar e Limpar Mensagem').first().json.mensagem_final }}"
            },
            {
              "key": "tentativa",
              "value": "={{ $('Preparar Contexto').first().json.tentativa_numero }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        3548,
        -896
      ],
      "id": "6d905bb5-785d-4c2c-9755-2169e8af2821",
      "name": "Salvar Execution Data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-tag-reagendar-mottivme",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        -608
      ],
      "id": "9964da9a-5daa-487f-8aca-0e01b30c090c",
      "name": "Webhook TAG Reagendar2",
      "webhookId": "ghl-tag-reagendar-mottivme",
      "notes": "Configure no GHL: Automation > Tag Added 'reagendar' > Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "verificar-tag-reagendar",
              "leftValue": "={{ $json.body?.tags || $json.body?.contact?.tags?.join(',') || '' }}",
              "rightValue": "reagendar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        -608
      ],
      "id": "46b18346-60e4-4670-9f90-ab5e19c06288",
      "name": "TAG e Reagendar?1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={\n  \"type\": \"ai\",\n  \"content\": {{ JSON.stringify($('Validar e Limpar Mensagem').first().json.mensagem_final) }},\n  \"tool_calls\": [],\n  \"additional_kwargs\": { \"source\": \"reagendamento_noshow\" }\n}",
            "session_id": "={{ $('Code in JavaScript').first().json.contact_id }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3324,
        -896
      ],
      "id": "224edf6d-6877-44f4-afe4-23569401cab0",
      "name": "Salvar no Historico1",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc8eebd5-5ea5-481c-9676-4592406002b7",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2876,
        -608
      ]
    },
    {
      "parameters": {},
      "id": "81fc655c-c795-43de-ae71-df21b0877468",
      "name": "no.op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3772,
        -536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info').first().json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Info').first().json.lead_id }}\",\n  \"message\": \"{{ $json.output }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3324,
        -512
      ],
      "id": "df2c9db9-4e47-4373-902d-395b3b7bc203",
      "name": "Instagram",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Code in JavaScript').first().json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Code in JavaScript').first().json.contact_id }}\",\n  \"message\": \"{{ $json.output }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3324,
        -704
      ],
      "id": "17d8d1e3-1bb1-49e5-9527-b3fc9a3c1c78",
      "name": "Whatsapp",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').first().json.source }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5034094-22ae-449d-a556-1fc1bc216e49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21897a45-e463-4f12-aa85-a06b148d7ecb",
                    "leftValue": "={{ $('Code in JavaScript').first().json.source }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3100,
        -608
      ],
      "id": "f2fbb84f-4dea-4299-a39c-1d0ca467ca7f",
      "name": "Canal"
    },
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "807232e2-9eec-4a7e-b11e-08df9861a4f2",
      "name": "1.5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3548,
        -608
      ],
      "webhookId": "797b3aee-c794-439d-9ef4-1d53cc744fcf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1832,
        -16
      ],
      "id": "17af27d4-24b7-4608-929d-56d915c4e914",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "4ut0CD80SN7lbITM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "43e1518d-9f58-4b7e-a514-5de1a06b4586",
      "name": "Segmentos1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2652,
        -608
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff19cb21-f08f-4c45-9e0c-bf15cc3a8c63",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"json\") }}",
              "rightValue": "json",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "6495fa85-2af7-493f-bf75-e3d46220f622",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"{\") }}",
              "rightValue": "{{",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "9862c89d-b15e-4ca9-819b-1d78ce50969e",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"output\") }}",
              "rightValue": "output",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "221b46a6-b8e2-4876-91e5-1e63c832c3ec",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"parsed\") }}",
              "rightValue": "parsed",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "dbfb7464-ce46-4d5d-9b0b-716ef05a823d",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"split\") }}",
              "rightValue": "split",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "45b8f555-eada-41a5-abc8-a115b34d9e4d",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"properties\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "7a3e9dac-e029-44cd-8c7c-ed187ec77bd7",
              "leftValue": "={{ $json.output.messages.join().toLowerCase()?.includes(\"type\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2204,
        -608
      ],
      "id": "99c383a4-a208-4c6f-b5f3-08f05d60e076",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do usuário a ser formatada: {{ $json.mensagem_final }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=REGRA OBRIGATORIA: Gere EXATAMENTE 2 mensagens no array. Nem mais, nem menos.\n\nFormato JSON obrigatorio:\n{\n  \"messages\": [\n    \"primeira parte da mensagem\",\n    \"segunda parte da mensagem\"\n  ]\n}\n\nVoce e especialista em dividir mensagens para WhatsApp de forma natural.\n\nComo dividir:\n- Mensagem 1: Saudacao + pergunta casual (ex: 'Oi Maria, tudo bem?')\n- Mensagem 2: Continuacao ou complemento (ex: 'Consegui um tempinho pra gente conversar')\n\nRegras de formatacao:\n- Substitua ** por *\n- Remova # e emojis\n- Remova quebras de linha\n- Use aspas simples ao inves de duplas\n- NAO adicione explicacoes, apenas o JSON\n- SEMPRE retorne exatamente 2 mensagens no array\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1760,
        -608
      ],
      "id": "d09c2e9e-9a2b-490e-9d6a-b15acd7cbfc7",
      "name": "Parser  Chain",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1836,
        -224
      ],
      "id": "b72652e9-371d-44c7-ae55-07bf8209ab5b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "a_lead_ia",
              "value": "={{ $json.output.messages.join(\"\\n\\n\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        2428,
        -608
      ],
      "id": "a21d3b03-a385-4efa-b653-76d64767213c",
      "name": "Execution Data2"
    },
    {
      "parameters": {
        "jsCode": "// Verifica se tem telefone válido e muda o source para whatsapp\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // Se tem telefone válido, prioriza WhatsApp\n  if (data.telefone && data.telefone.trim() !== '') {\n    data.source = 'whatsapp';\n  }\n  \n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -608
      ],
      "id": "a7e052ea-1fac-4f06-9ebc-1f914f8c5aed",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "supplyData",
        "jsCode": "// Token Tracker - Interceptador LangChain para IA Gerador Mensagem\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\nconst tool = await this.getInputConnectionData('ai_tool', 0);\n\n// Obtem dados do contexto\nconst workflowId = $workflow.id;\nconst executionId = $execution.id;\n\n// Tenta obter dados do lead do contexto\nlet location_id = '';\nlet location_name = '';\nlet contact_id = '';\nlet contact_name = '';\nlet canal = '';\nlet tipo_acao = 'reagendamento';\n\ntry {\n  const codeInJS = $('Code in JavaScript').first()?.json;\n  const extrairInfo = $('Extrair Info Lead').first()?.json;\n  const prepararCtx = $('Preparar Contexto').first()?.json;\n  \n  location_id = codeInJS?.location_id || extrairInfo?.location_id || '';\n  location_name = extrairInfo?.location_name || '';\n  contact_id = codeInJS?.contact_id || extrairInfo?.contact_id || '';\n  contact_name = prepararCtx?.nome || extrairInfo?.first_name || '';\n  canal = codeInJS?.source || 'whatsapp';\n} catch (e) {\n  // Silently continue if context not available\n}\n\n// Define o callback para registrar o uso de tokens\nllm.callbacks = [{\n  handleLLMEnd: async ({ generations }) => {\n    try {\n      const gen = generations[0][0];\n      const usage = gen.message?.usage_metadata \n        || gen.message?.additional_kwargs?.usage_metadata\n        || gen.generationInfo?.usage_metadata \n        || {\n            input_tokens: gen.generationInfo?.promptTokenCount || gen.generationInfo?.input_tokens || gen.generationInfo?.promptTokens || 0,\n            output_tokens: gen.generationInfo?.candidatesTokenCount || gen.generationInfo?.output_tokens || gen.generationInfo?.completionTokens || 0,\n            total_tokens: gen.generationInfo?.totalTokenCount || gen.generationInfo?.total_tokens || gen.generationInfo?.totalTokens || 0\n        };\n\n      const input_tokens = usage.input_tokens || usage.promptTokens || 0;\n      const output_tokens = usage.output_tokens || usage.completionTokens || 0;\n      const total_tokens = usage.total_tokens || (input_tokens + output_tokens);\n\n      await tool.invoke({\n        date: new Date().toISOString(),\n        model: llm.modelName || llm.model || 'gemini-2.0-flash',\n        input_tokens,\n        output_tokens,\n        total_tokens,\n        workflowId,\n        executionId,\n        location_id,\n        location_name,\n        contact_id,\n        contact_name,\n        canal,\n        tipo_acao\n      });\n    } catch (err) {\n      console.error('Erro ao registrar uso da LLM:', err);\n    }\n  }\n}];\n\nreturn llm;",
        "inputs": {
          "ai_languageModel": [
            {
              "type": "ai_languageModel",
              "displayName": "Model",
              "required": true
            }
          ],
          "ai_tool": [
            {
              "type": "ai_tool",
              "displayName": "Tool",
              "required": true
            }
          ]
        },
        "outputs": {
          "ai_languageModel": {
            "type": "ai_languageModel",
            "displayName": "Model"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        1256,
        -384
      ],
      "id": "token-tracker-agent-001",
      "name": "Token Tracker Agent"
    },
    {
      "parameters": {
        "mode": "supplyData",
        "jsCode": "// Token Tracker - Interceptador LangChain para Parser Chain\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\nconst tool = await this.getInputConnectionData('ai_tool', 0);\n\n// Obtem dados do contexto\nconst workflowId = $workflow.id;\nconst executionId = $execution.id;\n\n// Tenta obter dados do lead do contexto\nlet location_id = '';\nlet location_name = '';\nlet contact_id = '';\nlet contact_name = '';\nlet canal = '';\nlet tipo_acao = 'parser_mensagem';\n\ntry {\n  const codeInJS = $('Code in JavaScript').first()?.json;\n  const extrairInfo = $('Extrair Info Lead').first()?.json;\n  const prepararCtx = $('Preparar Contexto').first()?.json;\n  \n  location_id = codeInJS?.location_id || extrairInfo?.location_id || '';\n  location_name = extrairInfo?.location_name || '';\n  contact_id = codeInJS?.contact_id || extrairInfo?.contact_id || '';\n  contact_name = prepararCtx?.nome || extrairInfo?.first_name || '';\n  canal = codeInJS?.source || 'whatsapp';\n} catch (e) {\n  // Silently continue if context not available\n}\n\n// Define o callback para registrar o uso de tokens\nllm.callbacks = [{\n  handleLLMEnd: async ({ generations }) => {\n    try {\n      const gen = generations[0][0];\n      const usage = gen.message?.usage_metadata \n        || gen.message?.additional_kwargs?.usage_metadata\n        || gen.generationInfo?.usage_metadata \n        || {\n            input_tokens: gen.generationInfo?.promptTokenCount || gen.generationInfo?.input_tokens || gen.generationInfo?.promptTokens || 0,\n            output_tokens: gen.generationInfo?.candidatesTokenCount || gen.generationInfo?.output_tokens || gen.generationInfo?.completionTokens || 0,\n            total_tokens: gen.generationInfo?.totalTokenCount || gen.generationInfo?.total_tokens || gen.generationInfo?.totalTokens || 0\n        };\n\n      const input_tokens = usage.input_tokens || usage.promptTokens || 0;\n      const output_tokens = usage.output_tokens || usage.completionTokens || 0;\n      const total_tokens = usage.total_tokens || (input_tokens + output_tokens);\n\n      await tool.invoke({\n        date: new Date().toISOString(),\n        model: llm.modelName || llm.model || 'gemini-2.0-flash',\n        input_tokens,\n        output_tokens,\n        total_tokens,\n        workflowId,\n        executionId,\n        location_id,\n        location_name,\n        contact_id,\n        contact_name,\n        canal,\n        tipo_acao\n      });\n    } catch (err) {\n      console.error('Erro ao registrar uso da LLM:', err);\n    }\n  }\n}];\n\nreturn llm;",
        "inputs": {
          "ai_languageModel": [
            {
              "type": "ai_languageModel",
              "displayName": "Model",
              "required": true
            }
          ],
          "ai_tool": [
            {
              "type": "ai_tool",
              "displayName": "Tool",
              "required": true
            }
          ]
        },
        "outputs": {
          "ai_languageModel": {
            "type": "ai_languageModel",
            "displayName": "Model"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        1832,
        -176
      ],
      "id": "token-tracker-parser-001",
      "name": "Token Tracker Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Registrar Custos IA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1340,
        -224
      ],
      "id": "tool-registrar-custos-agent-001",
      "name": "Registrar Custos Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Registrar Custos IA"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1920,
        -16
      ],
      "id": "tool-registrar-custos-parser-001",
      "name": "Registrar Custos Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Extrair Info Lead": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead GHL": {
      "main": [
        [
          {
            "node": "Buscar Appointments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Appointments": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Historico": {
      "main": [
        [
          {
            "node": "Merge Dados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Dados": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "IA Gerador Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Token Tracker Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Token Tracker Agent": {
      "ai_languageModel": [
        [
          {
            "node": "IA Gerador Mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Custos Agent": {
      "ai_tool": [
        [
          {
            "node": "Token Tracker Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IA Gerador Mensagem": {
      "main": [
        [
          {
            "node": "Validar e Limpar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar e Limpar Mensagem": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativar Tracking": {
      "main": [
        [
          {
            "node": "Salvar no Historico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook TAG Reagendar2": {
      "main": [
        [
          {
            "node": "TAG e Reagendar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAG e Reagendar?1": {
      "main": [
        [
          {
            "node": "Extrair Info Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Historico1": {
      "main": [
        [
          {
            "node": "Salvar Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Ativar Tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no.op": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "1.5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal": {
      "main": [
        [
          {
            "node": "Whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.5s": {
      "main": [
        [
          {
            "node": "no.op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Token Tracker Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Token Tracker Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Custos Parser": {
      "ai_tool": [
        [
          {
            "node": "Token Tracker Parser",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Segmentos1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execution Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data2": {
      "main": [
        [
          {
            "node": "Segmentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Buscar Lead GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  }
}
