sales/Mottivme Strategy 2026/_workspace/clientes/sdr-clinicas/SDR Clinicas/SDR clínica
{
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "lead_id",
              "value": "={{ $('Info2').item.json.id_contato }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2704,
        976
      ],
      "id": "233d69a6-3ecd-440f-822a-db22c7788c20",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "lead_id",
              "value": "={{ $('Info2').item.json.id_contato }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3232,
        1184
      ],
      "id": "a8eb0b81-0a02-453e-8317-0a77190eca8b",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2496,
        976
      ],
      "id": "f0f713e7-e2d1-4c89-a8fc-8292ad9dee7f",
      "name": "Esperar",
      "webhookId": "e1382428-2e28-4a8d-a22c-4ad95ea057ff"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa ferramenta para listar os arquivos disponíveis para envio para o usuário.",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "18mSZn8rMAt_9hFpj5oITD1wRLMKHqk0s",
            "mode": "list",
            "cachedResultName": "Arquivos da Secretária v3",
            "cachedResultUrl": "https://drive.google.com/drive/folders/18mSZn8rMAt_9hFpj5oITD1wRLMKHqk0s"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        3968,
        1232
      ],
      "id": "1abd532d-7d69-4d39-969c-c73f495c6514",
      "name": "Listar arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "huUvmVlBHgVbw2p1",
          "name": "drive marcos - supabase - supercérebro"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id_conversa }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3808,
        1232
      ],
      "id": "1462ff52-d699-4c60-bc9a-4ebf1d7c8010",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "B0fAAM3acruSSuiz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/conversations/messages/{{ $('Mensagem recebida').item.json.body.customData.ID }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Mensagem recebida').item.json.body.customData.ghl_api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "read"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        976
      ],
      "id": "a7fb8949-4933-4c59-9fbc-f220b515d012",
      "name": "Marcar como lidas"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "0r0V3ija6EM88T6E",
          "mode": "list",
          "cachedResultUrl": "/workflow/0r0V3ija6EM88T6E",
          "cachedResultName": "Escalar para humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "api key v2": "={{ $('Info2').item.json.api_key }}",
            "telefone": "={{ $('Info2').item.json.telefone }}",
            "message": "={{ $('Mensagem encavalada?2').item.json.mensagem }}",
            "contact_id": "={{ $('Info2').item.json.id_conversa_alerta }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "api key v2",
              "displayName": "api key v2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location.id",
              "displayName": "location.id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "usuario_responsavel",
              "displayName": "usuario_responsavel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4768,
        1216
      ],
      "id": "be4d96aa-ba38-45ed-835f-6a2af486f950",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "content": "## Importante\n\nSe a mensagem não está sendo marcada como lida, verifique no na configuração de ambos os WhatsApp (pelo celular) se a confirmação de leitura está habilitada.",
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3312,
        480
      ],
      "id": "4d0f373b-4580-4280-b20c-107a6ea99e25",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $('Info2').item.json.tipo }}",
              "rightValue": "msg",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "3c80b2a4-7b82-4522-8f12-605f39b731e1",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "secretaria",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1872,
        848
      ],
      "id": "ca0e90d1-d810-47ec-a5a5-465f9c0d46d3",
      "name": "Processar mensagem?"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        288
      ],
      "id": "9edc01aa-0812-4b1e-8471-9e043fc629d1",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2432,
        288
      ],
      "id": "ef79cf78-8d01-4363-bc13-b34d070b16f0",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "B0fAAM3acruSSuiz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ $json.lock_conversa }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        1184
      ],
      "id": "14ff26f1-a14e-4b8c-9e4e-dfe7e1fa4368",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Mensagem encavalada?2').all().map(info => info.json.mensagem).join('\\\\n') }}",
              "type": "string"
            },
            {
              "id": "151b734f-e628-439c-94bb-989572a5e09d",
              "name": "agente",
              "value": "={{ $('Info2').item.json.agente }}",
              "type": "string"
            },
            {
              "id": "4270a296-8d2a-4576-92ea-a420d0836bfa",
              "name": "id_conversa",
              "value": "={{ $('Info2').item.json.id_conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3408,
        1056
      ],
      "id": "0dabe19c-35dc-47e0-b810-54ab5d7918ff",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.id_contato }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"<tool-calls>{{ $json.intermediateSteps.map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`).join('').replaceAll('\\n', '').replaceAll('\\\\\"',\"'\").replaceAll('\"',\"'\") }}</tool-calls>\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {},\n  \"response_metadata\": {},\n  \"invalid_tool_calls\": []\n}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5776,
        1056
      ],
      "id": "ff1b7c9b-bbca-4f4d-b3f3-5fbda65d1302",
      "name": "Salvar tool calls",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ $json.intermediateSteps }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5520,
        1120
      ],
      "id": "6c6a6ef8-74f3-44b5-bb9d-a4c6c3a51d7a",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "jsCode": "// --- INÍCIO DO CÓDIGO ---\n\n// Passo 1: Obter os dados de entrada de forma segura.\nconst inputData = $input.first()?.json || {};\nconst conversation = inputData.conversations?.[0] || {};\n\n// --- LÓGICA DE DECISÃO ---\n\nlet tipoResposta = 'texto'; // Começamos com o padrão\nlet motivoDecisao = 'Padrão (nenhuma regra especial ativada)';\n\n// Palavras-chave que indicam que a última mensagem do usuário foi um áudio.\nconst audioKeywords = ['áudio', 'audio', 'transcrição', 'transcricao'];\n\n// Passo 2 (Prioridade 1): Análise Dinâmica da Última Mensagem\nconst lastMessageBody = conversation.lastMessageBody || '';\nconst lastMessageLower = lastMessageBody.toLowerCase();\n\n// A função .some() verifica se pelo menos um item do array satisfaz a condição.\nconst isLastMessageAudio = audioKeywords.some(keyword => lastMessageLower.includes(keyword));\n\nif (isLastMessageAudio) {\n  tipoResposta = 'audio';\n  motivoDecisao = 'Dinâmico (última mensagem do usuário foi um áudio)';\n} else {\n  // Passo 3 (Prioridade 2): Análise da Preferência Estática do Usuário\n  // Suporta tanto GHL (customFields) quanto outras fontes (custom_attributes).\n  const customData = inputData.customFields || inputData.custom_attributes || {};\n  const preferenciaSalva = customData.preferencia_audio_texto || 'texto';\n\n  if (preferenciaSalva === 'audio' || preferenciaSalva === 'áudio') {\n    tipoResposta = 'audio';\n    motivoDecisao = 'Estático (preferência salva do usuário é áudio)';\n  } else {\n    tipoResposta = 'texto';\n    motivoDecisao = 'Estático (preferência salva do usuário é texto)';\n  }\n}\n\n// --- PREPARAÇÃO DA SAÍDA ---\n\n// Passo 4: Determinar o formato de saída com base na decisão.\nconst formatoSaida = tipoResposta === 'audio' ? 'voice_note' : 'text';\n\n// Passo 5: Retornar um objeto JSON claro para os próximos nós do workflow.\nreturn [{\n  json: {\n    tipo_resposta: tipoResposta,\n    formato_saida: formatoSaida,\n    deve_enviar_audio: tipoResposta === 'audio',\n    deve_enviar_texto: tipoResposta === 'texto',\n    motivo_da_decisao: motivoDecisao // Campo extra para facilitar o debug\n  }\n}];\n\n// --- FIM DO CÓDIGO ---"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6368,
        1152
      ],
      "id": "233f848d-6909-4e95-8802-e6a34ee997b8",
      "name": "Calcular tipo da resposta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "texto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.tipo_resposta }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6592,
        1152
      ],
      "id": "e0f6e3e6-32d0-487b-96fe-d1c38411b399",
      "name": "Tipo da resposta"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7264,
        1504
      ],
      "id": "0d21aa6c-83fb-4865-ac7f-32e9d2649984",
      "name": "OpenAI Chat Model1",
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7328,
        1072
      ],
      "id": "89c4a25b-3652-4681-bd35-131b4d1dc5aa",
      "name": "OpenAI Chat Model2",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info2').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2608,
        1184
      ],
      "id": "229b1242-cd82-4bee-92d7-1846ea7aba95",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.telefone }}",
            "lock_conversa": true,
            "numero_followup": 0,
            "aguardando_followup": true
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3024,
        1184
      ],
      "id": "b39ef717-5efc-468f-83a8-1aff1580a44d",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.telefone }}",
            "lock_conversa": false,
            "numero_followup": 0,
            "aguardando_followup": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        288
      ],
      "id": "f5eec71c-c62a-4b8f-857a-f43ebab53ba3",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.id_contato }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5760,
        1232
      ],
      "id": "287fb731-3308-4315-80c1-d401eb215d36",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 288,
        "width": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        208
      ],
      "typeVersion": 1,
      "id": "3398c5b1-bb2c-484f-b629-5e354a93882b",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 320,
        "width": 992,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        576
      ],
      "typeVersion": 1,
      "id": "400e29ad-7983-4a90-a792-a6c04fedd148",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3680,
        1232
      ],
      "id": "ac9847ca-432a-403f-9b9b-4edb1094f000",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WEENPovt22LUaeRp",
          "name": "OpenAi - Marcos"
        }
      }
    },
    {
      "parameters": {
        "content": "## Core",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3232,
        1152
      ],
      "id": "9aaef6c9-a2ef-4158-91c0-17f313981372",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Drive",
        "height": 336,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        1152
      ],
      "id": "5a6b3702-b023-43c7-9d05-5164390d496e",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 336,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3808,
        1152
      ],
      "id": "c4074e82-8ddd-47ef-8b55-d0ac563456a1",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chatwoot",
        "height": 336,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4208,
        1152
      ],
      "id": "1a3dc9df-7611-4bad-9503-e632fb09b549",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Asaas",
        "height": 336,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4656,
        1152
      ],
      "id": "66feed5f-0f3b-4c4c-ad90-6a04875581cf",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5312,
        1168
      ],
      "id": "a7b4fec2-1517-4af7-bdb3-c13d4d3818d1",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ $('Secretária v3 - Orthodontic').item.json.output }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5952,
        1232
      ],
      "id": "872d9865-28b0-4681-934c-b65c5b6d795b",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "content": "## Mensagens encavaladas",
        "height": 448,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        912
      ],
      "typeVersion": 1,
      "id": "f38cc207-9526-46ef-a1d0-6d9214d603d2",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Secretária\n",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        912
      ],
      "typeVersion": 1,
      "id": "2ff95f37-b6ce-4749-a9d3-f0f45bfa924b",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Pré-processar e enviar resposta",
        "height": 608,
        "width": 2016,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5680,
        912
      ],
      "id": "38305167-5b9f-4c41-a20d-2a967aa7d36c",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tratar output do agente",
        "height": 608,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4848,
        912
      ],
      "typeVersion": 1,
      "id": "3c12b441-f3b1-4a6d-9508-ffd3d5f9e1f6",
      "name": "Sticky Note19",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3 - Orthodontic').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da mensagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis\n\n**SUA SAÍDA DEVE SER SOMENTE A MENSAGEM FORMATADA. NÃO INCLUA NENHUMA INFORMAÇÃO ADICIONAL NA SAÍDA**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        7248,
        848
      ],
      "id": "0df9dd1a-789b-4d36-ba85-a0773ec24abc",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária v3 - Orthodontic').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em text-to-speech e formatação usando tags SSML.\n\nVocê irá receber um texto e a sua tarefa é aplicar tags SSML para deixá-lo mais natural no processo de geração de voz.\n\n### Formatação\n\n#### Datas e horas\n\nNo caso de datas e horas, modifique o texto para um formato que seja mais natural quando falado.\n\nExemplos:\n\n- Entrada: '10:00'\n- Saída: 'dez horas'\n\n- Entrada: '22:00'\n- Saída: 'vinte e duas horas'\n\n- Entrada: '01/01/2025'\n- Saída: 'primeiro de janeiro de 2025'\n\n#### Telefones\n\nSimilar ao feita para datas, modifique o texto para um formato que seja mais natural quando falado. Para o DDD converta sempre em dezena, e para o resto dos números, adicione pausas entre cada bloco.\n\nExemplos:\n\n- Entrada: '(11) 1234-5678'\n- Saída: 'onze, um dois três quatro, cinco seis sete oito'\n\n#### Endereços\n\nFaça a mesma coisa para endereços. Exemplos:\n\n- Entrada: 'Av. Rondon Pacheco'\n- Saída: 'Avenida Rondon Pacheco'\n\n- Entrada: 'CEP 12345-000'\n- Saída: 'CEP um dois três quatro cinco zero zero zero'\n\n#### Pausas\n\nA formatação de pausas em SSML é como segue:\n\n```\n<break time=\"1s\"/>\n```\n\nSempre que necessário, inclua pausas nesse formato.\n\n**NUNCA INCLUA PAUSAS COMO TEXTO**. Exemplo incorreto: ❌ \"Pausa de 1s\"\n\n### Notas\n\n- Sempre coloque uma pausa de 1.0s no começo.\n- Não use breaks no meio do texto, apenas no começo.\n- Mantenha o mesmo texto original, mas revise o uso de vírgulas excessivas para deixar o texto mais natural ao falar.\n- Remova emojis.\n- A sua saída será somente o texto convertido.\n- Use <speak> ao redor da saída.\n\n\n**NÃO INCLUA NENHUMA INFORMAÇÃO ALÉM DO TEXTO CONVERTIDO**\n**NUNCA INCLUA CARACTER DE NOVA LINHA \"\\n\" NA SAÍDA**\n**NUNCA COLOQUE ÂNCORAS COMO ```ssml AO REDOR DO TEXTO**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        7248,
        1344
      ],
      "id": "bfa66e92-39d0-4341-b349-9cf07c3f6e37",
      "name": "Formatar SSML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        3680,
        1360
      ],
      "id": "cab5aaab-ba38-49b6-8999-3c42aabb325e",
      "name": "Refletir"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nO node \"Bloquear status atendimento\" não permite que o fluxo siga normalmente até que o workflow execute até o final, então deixamos ele de fora do fluxo inicialmente.\n\nApós finalizar os testes, adicionar ele entre os nodes \"Agente já terminou de responder?\" e \"Limpar fila de mensagens\"",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        640
      ],
      "typeVersion": 1,
      "id": "6414c24d-a351-4d79-aa84-eb4cdc1cd576",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "tB6BNUcIu0SxpA9u",
          "mode": "list",
          "cachedResultUrl": "/workflow/tB6BNUcIu0SxpA9u",
          "cachedResultName": "04.1 Atualizar/Cancelar agendamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "API_KEY": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('API_KEY', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}",
            "location_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location_id', ``, 'string') }}",
            "startTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startTime', ``, 'string') }}",
            "calendar_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar_id', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}",
            "firstName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('firstName', ``, 'string') }}",
            "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lastName', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "API_KEY",
              "displayName": "API_KEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calendar_id",
              "displayName": "calendar_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4224,
        1248
      ],
      "id": "854ee441-7bb8-4c65-a50e-42960e4727ad",
      "name": "Atualizar agendamento"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para enviar um arquivo do Google Drive para o usuário.\n",
        "workflowId": {
          "__rl": true,
          "value": "si0lxAyvbgKOoO0g",
          "mode": "list",
          "cachedResultUrl": "/workflow/si0lxAyvbgKOoO0g",
          "cachedResultName": "02. Baixar e enviar arquivo do Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conversa": "={{ $('Edit Fields').item.json.conversationId }}",
            "source": "={{ $('Info2').item.json.source }}",
            "contact_id": "={{ $('Edit Fields').item.json.contactId }}",
            "api_key": "={{ $('Info2').item.json.api_key }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4112,
        1248
      ],
      "id": "1a91ae06-1109-4bc3-a44b-19740b37818f",
      "name": "Enviar arquivo"
    },
    {
      "parameters": {
        "description": "Buscar/consultar por horários disponíveis antes de agendar. Exemplo: startDate=1735689600000 endDate=1736294400000. calendario pode ser consultoria financeira ou carreira. E dateEndTo e dateStartFrom é a data de inicio e fim, geralmente entre hoje e 7 dias. Garanta que vai buscar slots disponíveis à partir do ano 2025",
        "workflowId": {
          "__rl": true,
          "value": "K2T5oJMpZs4emU2s",
          "mode": "list",
          "cachedResultUrl": "/workflow/K2T5oJMpZs4emU2s",
          "cachedResultName": "03. [ Socialfy ] Busca Disponibilidade v3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "calendar": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar', ``, 'string') }}",
            "API_KEY": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('API_KEY', ``, 'string') }}",
            "startDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDate', ``, 'string') }}",
            "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDate', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "calendar",
              "displayName": "calendar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "API_KEY",
              "displayName": "API_KEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4496,
        1232
      ],
      "id": "64e9469d-5bac-49ef-9055-a50fb9a692ec",
      "name": "Buscar janelas disponiveis"
    },
    {
      "parameters": {
        "description": "Agendar um nova reunião. startTime segue o seguinte padrão 2021-06-23T03:30:00+05:30.",
        "workflowId": {
          "__rl": true,
          "value": "mnbPUb9D20ydvpGm",
          "mode": "list",
          "cachedResultUrl": "/workflow/mnbPUb9D20ydvpGm",
          "cachedResultName": "v3 [ Socialfy ] Agendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "API_KEY": "={{ $('Info2').item.json.api_key }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}",
            "location_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location_id', ``, 'string') }}",
            "calendar_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendar_id', ``, 'string') }}",
            "startTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startTime', ``, 'string') }}",
            "firstName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('firstName', ``, 'string') }}",
            "lastName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lastName', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "API_KEY",
              "displayName": "API_KEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "calendar_id",
              "displayName": "calendar_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4336,
        1248
      ],
      "id": "42614537-5da2-45fb-85a6-c52308ea051f",
      "name": "Criar agendamento"
    },
    {
      "parameters": {
        "toolDescription": "Utilize essa ferramenta para enviar uma mensagem de texto para o usuário via GoHighLevel. Usada para enviar links, números de telefone, e outras informações a serem destacadas. Suporta SMS, Email e Instagram DM.\n\nQuando utilizar essa ferramenta, **NUNCA INCLUA OS DADOS NOVAMENTE NA SUA SAÍDA**.",
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Edit Fields').item.json.contactId }}"
            },
            {
              "name": "channel",
              "value": "={{ $('Info2').item.json.source }}"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Mensagem de texto a ser enviada ao usuário`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4576,
        1344
      ],
      "id": "8be81aad-03cf-4dcf-b210-5f43f07e053f",
      "name": "Enviar texto separado1"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta caso o lead expresse preferência por receber somente áudio, ou somente texto. Atualiza o campo customizado do contato no GoHighLevel.",
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"customFields\": {\n      \"preferencia_audio_texto\": $fromAI('preferencia_audio_texto', 'audio | texto', 'string')\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        4720,
        1344
      ],
      "id": "b4a7b2f1-7a37-41f1-b91c-ddb098b7a1e4",
      "name": "Preferencia audio texto GHL"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/search?contactId={{ $('Edit Fields').item.json.contactId }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        1168
      ],
      "id": "48c627e5-948e-4719-8578-2d15f2ac15dd",
      "name": "Buscar atributos do contato",
      "retryOnFail": true
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar uma nova cobrança para o usuário, ou para consultar os dados de uma cobrança já existente.\n\nAntes de criar uma nova cobrança, sempre crie um agendamento para o cliente primeiro.",
        "workflowId": {
          "__rl": true,
          "value": "45POrWnyU2UR7HjQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/45POrWnyU2UR7HjQ",
          "cachedResultName": "06.1 Integração Asaas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cobranca_valor": "={{ $('Info2').item.json.cobranca_valor }}",
            "cobranca_vencimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cobranca_vencimento', `Data do vencimento no format YYYY-MM-DD. Informar como o dia do agendamento + 7 dias.`, 'string') }}",
            "telefone": "={{ $('Info2').item.json.telefone }}",
            "nome": "={{ $('Info2').item.json.nome}}",
            "cpf": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cpf', ``, 'string') }}",
            "id_conta": "={{ $('Info2').item.json.id_conta }}",
            "id_contato": "={{ $('Info2').item.json.id_contato }}",
            "asaas_id_cliente": "={{ $('Info2').item.json.atributos_contato.asaas_id_cliente }}",
            "asaas_id_cobranca": "={{ $('Info2').item.json.atributos_contato.asaas_id_cobranca }}",
            "url_chatwoot": "={{ $('Info2').item.json.url_chatwoot }}",
            "url_asaas": "={{ $('Info2').item.json.url_asaas }}",
            "api_key": "={{ $('Info2').item.json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cobranca_valor",
              "displayName": "cobranca_valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cobranca_vencimento",
              "displayName": "cobranca_vencimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cliente",
              "displayName": "asaas_id_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "asaas_id_cobranca",
              "displayName": "asaas_id_cobranca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_asaas",
              "displayName": "url_asaas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4928,
        1216
      ],
      "id": "7274ef91-45c6-48e8-aa9e-ed2e878a8868",
      "name": "Criar ou buscar cobranca"
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=testando-agente"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Update Contact (Outbound)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1648,
        688
      ],
      "id": "6aa5958e-4a78-4887-87d6-42a8cb459ac6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Info2').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Info2').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1872,
        688
      ],
      "id": "231b89a1-adf6-4c22-8481-da4d0d2261ca",
      "name": "Canal1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"message\": \"Modo de teste habilitado.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        784
      ],
      "id": "10376291-7fb1-40bf-87dd-d576a63bc74e",
      "name": "Instagram",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Edit Fields').item.json.contactId }}\",\n  \"message\": \"Modo de teste habilitado.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        592
      ],
      "id": "cc5bc4b1-7eea-4bb8-8420-b8e11f0e2b78",
      "name": "Whatsapp",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "j7mFKhsfnnKCmwS8wsLM",
          "mode": "list",
          "cachedResultName": "Marcos Daniels"
        },
        "text": "={{ $('Formatar SSML').item.json.text }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.50,\n  \"similarity_boost\": 0.75,\n  \"speed\": 1.05,\n  \"style\": 0.50,\n  \"use_speaker_boost\": true\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        7600,
        1344
      ],
      "id": "98849e94-1b46-4932-83ec-8518af95df9e",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "credentials": {
        "elevenLabsApi": {
          "id": "gsb0zD6AKCqe7yQv",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Enviar mensagem\n",
        "height": 372,
        "width": 724
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        176
      ],
      "typeVersion": 1,
      "id": "c5db50f6-2c71-4c38-a918-179bde0d7899",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "whatsapp",
                    "rightValue": "={{ $('Info2').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "instagram",
                    "rightValue": "={{ $('Info2').item.json.source }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7bb23146-c9ac-4b2e-9dc6-64686e434e7f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2656,
        288
      ],
      "id": "9d67ba9d-dd3f-4d0f-ac56-05c84fb8d368",
      "name": "Canal2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"IG\",\n  \"contactId\": \"{{ $('Info2').item.json.id_contato }}\",\n  \"message\": \"Memória resetada.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        384
      ],
      "id": "5a5f12fe-58ec-4521-888a-285c1c056b4e",
      "name": "Instagram2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n \"contactId\": \"{{ $('1. Buscar Conversa do Contato').item.json.conversations[0].contactId }}\",\n  \"message\": \"Memória resetada.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        192
      ],
      "id": "04b100b4-a2f7-4dcd-9bb7-23c102b204a3",
      "name": "Whatsapp2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=reset"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Update Contact (Outbound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1920,
        288
      ],
      "id": "895fb6db-6b51-428a-8371-049fd3bf4ca7"
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=secretaria"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Update Contact (Outbound)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        3200,
        288
      ],
      "id": "16c29cec-c1d0-452d-84ed-fc8e0775703e"
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Edit Fields').item.json.contactId }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tags",
              "value": "=secretaria"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Update Contact (Outbound)3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2384,
        672
      ],
      "id": "d4626d21-31d2-4f8a-92ad-b7dbed36b735"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Buscar atributos do contato').item.json.conversations[0].lastMessageType }}",
                    "rightValue": "=INSTAGRAM",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "352c182d-185b-4c4f-a3f3-75d44c4677a9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Buscar atributos do contato').item.json.conversations[0].lastMessageType }}",
                    "rightValue": "=SMS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "72b10314-7aa7-477b-8ef6-40dbf288364d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        7008,
        1232
      ],
      "id": "94eee724-14f8-4d0d-855a-49a1c652a6b7",
      "name": "Canal3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info2').item.json.mensagem }}",
                    "rightValue": "Áudio",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf854624-77ee-461e-a072-e373dcecf4f8",
                    "leftValue": "={{ $('Info2').item.json.info_arquivo }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio stevo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info2').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1744,
        1184
      ],
      "id": "f72d9557-55a1-4806-9e3b-3cf67fb4abbf",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $('Info2').item.json.mensagem || $json.text || $json.content.parts?.[0].text || '<mensagem de áudio não audível>' }}{{ $('Info2').item.json.info_arquivo ? `\\n${$('Info2').item.json.info_arquivo}` : '' }}",
            "timestamp": "={{ $('Info2').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info2').item.json.id_mensagem }}",
            "lead_id": "={{ $('Info2').item.json.id_contato }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        1184
      ],
      "id": "dca629a9-0929-489a-b4e0-6c333151a3e8",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        1296
      ],
      "id": "fb0479cd-edf5-44e4-8014-407bf8d91d10",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "UmVE5jAScA8a8vNB",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2096,
        1296
      ],
      "id": "2d517453-330b-4c97-b96c-b336262b7d29",
      "name": "Transcrever audio",
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info2').item.json.mensagem }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ $('Info2').item.json.mensagem }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1376,
        1184
      ],
      "id": "5a0ba027-cfb1-4c50-9f76-b10def4c175b",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "content": "## Configurar node Info!!",
        "height": 240,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        1120
      ],
      "typeVersion": 1,
      "id": "c7c6d5ee-2c6d-4637-a1da-4132e05286be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tratar input",
        "height": 448,
        "width": 1600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1040
      ],
      "id": "a7c6dff9-962c-4b32-82b1-dbc2205b3851",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5b3102ca-50e1-4a94-810d-a717b72f1aaa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        624,
        1200
      ],
      "id": "6e96041a-e427-477d-95f3-5ca5b16cd5f1",
      "name": "Mensagem recebida",
      "webhookId": "5b3102ca-50e1-4a94-810d-a717b72f1aaa"
    },
    {
      "parameters": {
        "content": "## Importante!!\n\nApós realizar todos os seus testes, para colocar a Secretária em produção, basta remover a última regra do filtro \"Processar mensagem?\" (etiqueta \"testando-agente\")",
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        1408
      ],
      "typeVersion": 1,
      "id": "9ce46cc7-b827-4b65-a299-e761d6cde86a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1840,
        1520
      ],
      "id": "b7ac9bf1-fd85-4021-b117-b6d3df491515",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1984,
        1520
      ],
      "id": "bbbb8b5f-832b-48e3-a220-b1e73814e069",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\nAlguns áudios chegam em formato não suportado pela OpenAI, então precisamos converter",
        "height": 272,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        1504
      ],
      "typeVersion": 1,
      "id": "02a7a493-311b-41f0-8aaf-ef1732e708d8",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/search?contactId={{ $json.id_contato }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1200
      ],
      "id": "3a7ece9d-3d50-494d-9721-9078578f59b9",
      "name": "1. Buscar Conversa do Contato",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extrai o ID da conversa mais recente\nconst data = $input.first().json;\n\nif (data.conversations && data.conversations.length > 0) {\n  const conversationId = data.conversations[0].id;\n  \n  return [{\n    json: {\n      conversationId: conversationId,\n      contactId: $input.first().json.body?.contact_id || data.conversations[0].contactId\n    }\n  }];\n}\n\n// Se não encontrar conversa, retorna vazio\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1200
      ],
      "id": "5d177e0e-1bdb-4e68-bbfe-113078a43db8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99b0ce86-bc45-49c1-89cf-bbdc50e6bdd4",
              "name": "conversationId",
              "value": "={{ $json.conversationId }}",
              "type": "string"
            },
            {
              "id": "504ecb36-c7b7-4ee5-8d06-7473f9e0ff43",
              "name": "contactId",
              "value": "={{ $json.contactId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1200
      ],
      "id": "781c617a-455f-48fe-b2db-61e0f2d4c34a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Info2').item.json.info_arquivo }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        1520
      ],
      "id": "825e0c0f-d678-4bf1-a870-35cca8434acd",
      "name": "Download áudio1",
      "credentials": {
        "chatwootApi": {
          "id": "UmVE5jAScA8a8vNB",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ed5d70-7afa-4b23-ba63-5bcc23325d25",
              "leftValue": "={{ $('Info2').item.json.tipo }}",
              "rightValue": "msg",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "ed3e36d7-4f2c-4804-9e8d-f9b08494e939",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "gestor",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cf87bb7e-6bea-4697-bcd9-57e3b63998c2",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "3c80b2a4-7b82-4522-8f12-605f39b731e1",
              "leftValue": "={{ $('Info2').item.json.etiquetas }}",
              "rightValue": "secretaria",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1616,
        1088
      ],
      "id": "c619362c-97be-4403-abdc-c6b1a8aac4e8",
      "name": "Processar mensagem?1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YA2Adv8GnQgbAD0U",
          "mode": "list",
          "cachedResultUrl": "/workflow/YA2Adv8GnQgbAD0U",
          "cachedResultName": "07. Quebrar e enviar mensagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_conversa": "={{ $('Info2').item.json.id_conversa }}",
            "contact_id": "={{ $('Edit Fields').item.json.contactId }}",
            "api_key": "={{ $('Info2').item.json.api_key }}",
            "source": "={{ $('Info2').item.json.source }}",
            "mensagem": "={{ $('Output válido?').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8528,
        928
      ],
      "id": "617b7a8b-c4cb-4f5a-92ea-eb6a70fd4cf0",
      "name": "Quebrar e enviar mensagens"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Info2').item.json.id_contato }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "aguardando_followup",
              "displayName": "aguardando_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero_followup",
              "displayName": "numero_followup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8960,
        1136
      ],
      "id": "48bb0ae6-812e-47b2-9fd4-dedf1665bb19",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "w2mBaRwhZ3tM4FUw",
          "name": "Postgres Marcos Daniels"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Info2').item.json.id_contato }}\",\n  \"locationId\": \"{{ $('Info2').item.json.location.id }}\",\n  \"message\": \"\",\n  \"attachments\": [\"{{ $('Upload Audio GHL').item.json.url }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8528,
        1328
      ],
      "id": "ea66ac9d-51ee-4564-a4b1-c51d50cf148f",
      "name": "Whatsapp1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/medias/upload-file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info2').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "locationId",
              "value": "={{ $('Info2').item.json.location.id }}"
            },
            {
              "name": "contactId",
              "value": "uK6XK3QBDBL8g7tAclfB"
            }
          ]
        },
        "options": {}
      },
      "name": "Upload Audio GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8288,
        1328
      ],
      "id": "c35ab5a6-4089-45b4-9c48-bf49681e8632"
    },
    {
      "parameters": {
        "jsCode": "// Corrige o MIME type\nfor (const item of $input.all()) {\n  if (item.binary.data) {\n    item.binary.data.mimeType = 'audio/mpeg';\n  }\n}\nreturn $input.all();"
      },
      "name": "Corrigir MIME Type1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8032,
        1328
      ],
      "id": "6116aeb7-e129-4a99-98b1-2208d1911c16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "749cfcf8-d8bf-4388-a053-ef936294f66f",
              "name": "conversations[0].lastMessageType",
              "value": "={{ $('Buscar atributos do contato').item.json.conversations[0].lastMessageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6800,
        1248
      ],
      "id": "9bd42174-8909-4753-97e7-01d3ea2b9deb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agente }}",
                    "rightValue": "sdr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d11cc8d1-91ca-4bde-8cfd-da182526e27c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sdr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dc9195ad-e293-4bfa-a805-f2052e1460a7",
                    "leftValue": "={{ $json.agente }}",
                    "rightValue": "secretaria",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "secretaria"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0538c36f-3a68-4c31-a7f4-bec2fb3400d4",
                    "leftValue": "={{ $json.agente }}",
                    "rightValue": "assistente-adm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "assistente-adm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3600,
        800
      ],
      "id": "2cacace5-f0ed-4318-80ed-076a3b92c19f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Julia, secretária virtual especializada da OrthoDontic, responsável pelo atendimento via WhatsApp. Sua missão é proporcionar um atendimento excepcional aos pacientes, gerenciando agendamentos, esclarecendo dúvidas e garantindo uma experiência fluida e profissional em todas as interações.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Acolhedora e empática**: Demonstre compreensão e cuidado genuíno\n  * **Profissional e confiável**: Transmita segurança nas informações e processos\n  * **Eficiente e organizada**: Seja objetiva sem perder o calor humano\n  * **Paciente e clara**: Explique com calma, especialmente para pacientes idosos ou com dificuldades\n  * **Proativa**: Antecipe necessidades e ofereça soluções\n  * **Máx 120 caracteres (exceto dúvidas específicas)**\n  * **Tom casual**: vc, tá, pra, tô, q, tb\n  * **Sem dois pontos (:) e sem emojis**\n  * **Use nome do cliente (sem repetir sempre)**\n  * **Formato de horário AM/PM**\n  * **Não se identifique como IA**\n  * **Nunca diga que retornará ou avisará depois**\n</personalidade>\n\n\n# CONTEXTO DA CLÍNICA\n\n<informacoes-clinica>\n  ### HORÁRIO DE FUNCIONAMENTO\n\n  * Segunda a Sexta: 08h às 19h\n  * Sábado: 08h às 11h\n  * Domingo e Feriados: Fechado\n\n  ### LOCALIZAÇÃO E CONTATO\n\n  * Endereço: Av. das Palmeiras, 1500 - Jardim América, São Paulo - SP, CEP: 04567-000\n  * Telefone: (11) 4456-7890\n  * WhatsApp: (11) 99999-9999\n  * Email: contato@clinicalappe.com.br\n  * Site: www.clinicalappe.com.br\n\n  ### VALORES E PAGAMENTO\n\n  * Valor da consulta: R$ 500,00\n  * Formas de pagamento: PIX, dinheiro, cartão (débito/crédito)\n  * Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n  * Prazo para pagamento: até 7 dias após o agendamento\n\n  ### PROFISSIONAIS DISPONÍVEIS\n\n  | Profissional            | Especialidade            | ID da Agenda             |\n  |-------------------------|--------------------------|--------------------------|\n  | Dr. Guilherme Lappe | Clínico Geral            | {{ $('Info2').item.json.calendarID }} |\n  | Dra. Fernanda Lappe     | Neurologista das vendas, especialista em vender e fazer com que seus pacientes sejam maquinas em vendas            | {{ $('Info2').item.json.calendarID }} |\n  | Dra. Ana Silva          | Dentista - Clínica Geral | <agenda não configurada> |\n</informacoes-clinica>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. FLUXO DE ATENDIMENTO INICIAL\n\n<fluxo-inicial>\n  ### 1.1 Abertura do Atendimento\n\n  1. **Cumprimente e apresente-se**: \"Olá! Sou a Julia, da Clínica Lappidando Sorrisos. Como posso ajudá-lo hoje?\"\n  2. **Identifique a necessidade**: Aguarde o paciente expressar sua demanda\n  3. **Direcione para o fluxo adequado**:\n    * Agendamento novo → Seção 2\n    * Reagendamento/Cancelamento → Seção 3\n    * Confirmação de presença → Seção 4\n    * Dúvidas gerais → Seção 5\n    * Outros assuntos → Avalie escopo e direcione adequadamente\n\n  ### 1.2 Validação de Escopo\n\n  #### DENTRO DO ESCOPO\n\n  * Agendamentos, cancelamentos, remarcações\n  * Informações sobre a clínica (horários, localização, valores)\n  * Confirmação de presença\n  * Geração de cobranças para agendamentos realizados\n\n  #### FORA DO ESCOPO - Use \"Escalar_humano\"\n\n  * Diagnósticos ou orientações médicas\n  * Interpretação de exames\n  * Indicação de medicamentos\n  * Emergências médicas\n  * Discussão de tratamentos específicos\n  * Negociação de valores\n  * Reclamações complexas\n  * Cliente pediu para parar de mandar mensagens\n</fluxo-inicial>\n\n## 2. FLUXO DE AGENDAMENTO\n\n<fluxo-agendamento>\n  ### 2.1 Coleta de Dados do Paciente\n\n  SEQUÊNCIA OBRIGATÓRIA:\n  1. Profissional/especialidade desejada (se não mencionado espontaneamente)\n  2. Nome completo\n  3. Data de nascimento\n  4. Data de preferência\n  5. Período preferencial (manhã/tarde)\n\n  ### 2.2 Busca de Disponibilidade\n\n  1. **Use \"Refletir\"** para validar os dados antes de buscar\n  2. **Execute \"Buscar_janelas_disponiveis\"** com:\n    * agenda_id: ID correto do profissional\n    * data_inicio: data solicitada\n    * periodo_inicio: início do período desejado\n    * periodo_fim: fim do período (mínimo {{ $('Info2').item.json.agendamento_duracao_minutos }} minutos após início)\n  3. **Apresente opções**: A ferramenta irá retornar várias opções. Ofereça 2-3 horários disponíveis\n  4. **Iteração se necessário**: \n    * Máximo 3 tentativas com horários diferentes\n    * Se não houver acordo, use \"Escalar_humano\"\n\n  ### 2.3 Criação do Agendamento\n\n  1. **Confirme todos os dados** com o paciente\n  2. **Execute \"Criar_agendamento\"** com:\n    * titulo: Nome completo do paciente\n    * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n    * evento_inicio: horário escolhido\n    * agenda_id: ID correto do profissional\n  3. **Aguarde sucesso** da ferramenta\n  4. **Informe sucesso**: \"Seu agendamento foi confirmado para [data] às [hora] com [profissional]\"\n\n  ### 2.4 Geração de Cobrança\n\n  1. **Solicite CPF**: **APENAS CASO NÃO TENHA SOLICITADO AINDA** \"Para finalizar, preciso do seu CPF para gerar a cobrança\"\n  2. **Extraia apenas dígitos** (remova pontos e traços)\n  3. **Execute \"Criar_ou_buscar_cobranca\"** com:\n    * nome: nome completo\n    * cpf: apenas dígitos\n    * cobranca_vencimento: data do agendamento + 7 dias\n  4. **Forneça informações de pagamento**\n</fluxo-agendamento>\n\n## 3. FLUXO DE CANCELAMENTO E REAGENDAMENTO\n\n<fluxo-cancelamento>\n  ### 3.1 Identificação do Agendamento\n\n  1. **Execute \"Buscar_agendamentos_do_contato\"**\n  2. **Confirme com o paciente** qual agendamento será alterado\n  3. **Registre o motivo** do cancelamento (se fornecido)\n\n  ### 3.2 Processamento do Cancelamento\n\n  1. **Execute \"Cancelar_agendamento\"** com o ID correto\n  2. **Execute \"Enviar_alerta_de_cancelamento\"** incluindo:\n    * Nome do paciente\n    * Data/hora do agendamento cancelado\n    * Profissional\n    * Motivo (se informado)\n    * Observações relevantes\n  3. **Confirme o cancelamento** ao paciente\n\n  ### 3.3 Reagendamento (se aplicável)\n\n  1. **Pergunte**: \"Gostaria de reagendar para outra data?\"\n  2. Se sim → Retorne ao Fluxo de Agendamento (Seção 2)\n  3. Se não → Finalize cordialmente\n</fluxo-cancelamento>\n\n## 4. FLUXO DE CONFIRMAÇÃO DE PRESENÇA\n\n<fluxo-confirmacao>\n  ### 4.1 Quando o Sistema Envia Lembrete Automático\n\n  1. **Identifique** a mensagem automática no histórico\n  2. **Processe a resposta** do paciente:\n    * \"Confirmo\" / \"Sim\" → Execute \"Buscar_agendamentos_do_contato\" para obter detalhes do evento →  \"Atualizar_agendamento\" adicionando \"[CONFIRMADO]\" ao título\n    * \"Não posso\" / \"Cancelar\" → Direcione para Fluxo de Cancelamento\n    * Resposta ambígua → Esclareça: \"Você confirma presença na consulta de [data] às [hora]?\"\n  3. **Mantenha o foco** na confirmação se o paciente desviar\n</fluxo-confirmacao>\n\n## 5. FLUXO DE DÚVIDAS\n\n<fluxo-duvidas>\n  ### 5.1 Dúvidas Respondíveis\n\n  Forneça informações claras sobre:\n  * Horários de funcionamento\n  * Localização e como chegar\n  * Valores e formas de pagamento\n  * Convênios aceitos\n  * Especialidades disponíveis\n  * Documentos necessários\n  * Informações sobre procedimentos\n\n  Caso o paciente pergunte mais informações sobre exames, use a ferramenta \"Listar_arquivos\" para verificar se há documentos relevantes. Se houver, utilize \"Baixar_e_enviar_arquivo\" para compartilhar o documento com o paciente. Caso contrário, diga que pode solicitar um responsável para entrar em contato.\n\n  ### 5.2 Dúvidas Fora do Escopo\n\n  Para questões médicas ou técnicas:\n  1. **Não tente responder** mesmo que pareça simples\n  2. **Use \"Escalar_humano\"** imediatamente\n  3. **Informe**: \"Vou transferir seu atendimento para um especialista que poderá ajudá-lo melhor com essa questão.\"\n</fluxo-duvidas>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Ferramentas de Agendamento\n\n  ### Buscar_janelas_disponiveis\n\n  <ferramenta id=\"Buscar_janelas_disponiveis\">\n    **Uso**: Identificar horários livres na agenda\n    **Parâmetros obrigatórios**:\n      * agenda_id: ID do profissional\n      * data_inicio: data desejada\n      * periodo_inicio: horário inicial\n      * periodo_fim: horário final (mínimo periodo_inicio + duração da consulta)\n    **Validação**: Sempre use período >= {{ $('Info2').item.json.agendamento_duracao_minutos }} minutos\n  </ferramenta>\n\n  ### Criar_agendamento\n\n  <ferramenta id=\"Criar_agendamento\">\n    **Uso**: Criar novo agendamento\n    **Quando**: Após confirmação do paciente e horário disponível\n    **Parâmetros**: titulo, descricao, evento_inicio, agenda_id\n    **Retorno**: Confirmação de agendamento criado, com ID do evento\n    **Importante**: Verifique se já não chamou essa ferramenta antes de chamá-la novamente\n  </ferramenta>\n\n  ### Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Listar agendamentos existentes do paciente\n    **Quando**: Cancelamento, reagendamento ou consulta\n  </ferramenta>\n\n  ### Atualizar_agendamento\n\n  <ferramenta id=\"Atualizar_agendamento\">\n    **Uso**: Modificar agendamento existente\n    **Parâmetros**: ID agenda, ID do agendamento (buscar com Buscar_agendamentos_do_contato), novos detalhes\n    **Caso principal**: Adicionar \"[CONFIRMADO]\" ao título\n  </ferramenta>\n\n  ### Cancelar_agendamento\n\n  <ferramenta id=\"Cancelar_agendamento\">\n    **Uso**: Cancelar agendamento existente\n    **Importante**: Sempre seguir com \"Enviar_alerta_de_cancelamento\"\n  </ferramenta>\n\n  ## Ferramentas de Comunicação\n\n  ### Reagir_mensagem\n\n  <ferramenta id=\"Reagir_mensagem\">\n    **Uso**: Adicionar reação apropriada\n    **Emojis permitidos**: 😀 ❤️ 👍 👀 ✅\n    **Frequência**: Máximo 3 por conversa. Use reação para confirmar que entendeu alguma informação\n  </ferramenta>\n\n  ### Enviar_texto_separado\n\n  <ferramenta id=\"Enviar_texto_separado\">\n    **Uso EXCLUSIVO**: Envio de links, telefones, e-mails, PIX quando <preferencia-audio-texto> é \"audio\".\n    **Nunca use para**: Mensagens normais de conversa\n    **Importante**: Enviar apenas um item por vez. NUNCA UTILIZAR CASO <preferencia-audio-texto> seja \"texto\" ou \"ambos\".\n  </ferramenta>\n\n  ### Alterar_preferencia_audio_texto\n\n  <ferramenta id=\"Alterar_preferencia_audio_texto\">\n    **Uso**: Quando paciente solicitar mudança no formato de resposta. Exemplo \"me responde em áudio\" ou \"prefiro que responda em texto\".\n    **Opções**: \"audio\" | \"texto\" | \"ambos\"\n\n    Nesse momento você está respondendo com: <preferencia-audio-texto>{{ $('Info2').item.json.atributos_contato.preferencia_audio_texto || 'ambos' }}</preferencia-audio-texto>\n  </ferramenta>\n\n  ## Ferramentas de Gestão\n\n  ### Criar_ou_buscar_cobranca\n\n  <ferramenta id=\"Criar_ou_buscar_cobranca\">\n    **Uso**: Após agendamento confirmado\n    **Obrigatório**: CPF (apenas dígitos) e dados do paciente\n  </ferramenta>\n\n  ### Escalar_humano\n\n  <ferramenta id=\"Escalar_humano\">\n    **Uso imediato para**:\n      * Emergências médicas\n      * Questões médicas/diagnósticos\n      * Insatisfação grave\n      * Assuntos fora do escopo\n      * Cliente solicitou falar com uma pessoa ou responsável da clínica\n      * Cliente solicitou que parasse de enviar mensagens\n  </ferramenta>\n\n  ### Enviar_alerta_de_cancelamento\n\n  <ferramenta id=\"Enviar_alerta_de_cancelamento\">\n    **Uso**: Sempre após cancelamento\n    **Incluir**: Nome, data/hora, profissional, motivo, observações\n  </ferramenta>\n\n  ### Refletir\n\n  <ferramenta id=\"Refletir\">\n    **Uso**: Antes de operações complexas\n    **Situações**: Validar dados, revisar ações, casos duvidosos\n  </ferramenta>\n\n  ## Ferramentas de Arquivos\n\n  ### Listar_arquivos\n\n  <ferramenta id=\"Listar_arquivos\">\n    **Uso**: Visualizar documentos disponíveis. Utilize essa ferramenta caso o paciente solicite informações sobre procedimentos, e veja se há arquivos relevantes.\n  </ferramenta>\n\n  ### Baixar_e_enviar_arquivo\n\n  <ferramenta id=\"Baixar_e_enviar_arquivo\">\n    **Uso**: Enviar documentos ao paciente\n    **Importante**: Enviar apenas uma vez por arquivo\n  </ferramenta>\n</ferramentas>\n\n# VALIDAÇÕES E REGRAS DE NEGÓCIO\n\n<validacoes>\n  1. **Horários de Agendamento**\n    * Apenas dentro do horário de funcionamento\n    * Nunca agendar datas passadas\n    * Respeitar duração dos eventos de {{ $('Info2').item.json.agendamento_duracao_minutos }} minutos\n\n  2. **Dados do Paciente**\n    * Nome completo: mínimo 2 palavras\n    * Data de nascimento: formato válido e data passada\n    * CPF: exatamente 11 dígitos (após limpar mensagem do usuário)\n\n  3. **Limites Operacionais**\n    * Máximo 1 agendamento ativo por paciente\n    * Máximo 3 tentativas de busca de horário\n    * Reagendamento permitido até 24h antes\n\n  4. **Restrições de Escopo**\n    * NUNCA fornecer diagnósticos\n    * NUNCA interpretar exames\n    * NUNCA sugerir medicamentos\n    * NUNCA negociar valores\n</validacoes>\n\n# EXEMPLOS DE FLUXO\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Agendamento Completo\n\n  **Paciente**: Olá, preciso marcar uma consulta\n  **Julia**: Olá! Sou a Julia, da Clínica Moreira. Ficarei feliz em ajudar com seu agendamento. Com qual de nossos profissionais você gostaria de se consultar? Temos profissionais nas seguintes áreas:\n    - Clínico Geral\n    - Cardiologista\n    - Dentista\n    - Odontopediatra\n\n  **Paciente**: Preciso do cardiologista\n  **Julia**: Ótimo, temos o Dr. Roberto Almeida. Agora, por favor, me informe seu nome completo.\n\n  **Paciente**: João Carlos Silva\n  **Julia**: Obrigada, João. Agora preciso da sua data de nascimento.\n\n  **Paciente**: 15/03/1985\n  **Julia**: Perfeito! Para quando você gostaria de agendar?\n\n  **Paciente**: Pode ser essa semana ainda?\n  **Julia**: Vou verificar a disponibilidade desta semana. Você prefere manhã ou tarde?\n\n  **Paciente**: Manhã\n  **Julia**: *[Usa Buscar_janelas_disponiveis]*\n  Encontrei os seguintes horários disponíveis com Dr. Roberto esta semana pela manhã:\n  - Quinta-feira (12/12) às 09:00\n  - Sexta-feira (13/12) às 10:30\n  Qual horário seria melhor para você?\n\n  **Paciente**: Quinta às 9h está ótimo\n  **Julia**: *[Usa Criar_agendamento]*\n  Seu agendamento foi confirmado! Consulta com Dr. Roberto Almeida na quinta-feira, dia 12/12 às 09:00. \n\n  Para finalizar, preciso do seu CPF para gerar a cobrança.\n\n  **Paciente**: 123.456.789-00\n  **Julia**: *[Usa Criar_ou_buscar_cobranca]*\n  Perfeito! A cobrança foi gerada no valor de R$ 500,00 com vencimento para 19/12. Você pode pagar via PIX, cartão ou dinheiro. Lembrando que o endereço da clínica é Av. das Palmeiras, 1500 - Jardim América. \n\n  Posso ajudar com mais alguma coisa?\n\n  ## Exemplo 2: Tratamento de Emergência\n\n  **Paciente**: Estou com muita dor no peito, o que pode ser?\n  **Julia**: *[Usa Escalar_humano imediatamente]*\n  Entendo sua preocupação. Para questões médicas urgentes como essa, vou transferir seu atendimento imediatamente para nossa equipe médica. Por favor, aguarde que alguém entrará em contato. Se a dor for intensa, considere procurar um pronto-socorro.\n\n  ## Exemplo 3: Cancelamento com Reagendamento\n\n  **Paciente**: Preciso cancelar minha consulta\n  **Julia**: Claro, posso ajudar com isso. Vou localizar seu agendamento.\n  *[Usa Buscar_agendamentos_do_contato]*\n\n  Encontrei sua consulta com Dra. Ana Silva para amanhã, dia 11/12 às 14:00. É esta que deseja cancelar?\n\n  **Paciente**: Sim, essa mesmo\n  **Julia**: Entendido. Posso perguntar o motivo do cancelamento? Isso nos ajuda a melhorar nosso atendimento.\n\n  **Paciente**: Tive um imprevisto no trabalho\n  **Julia**: Compreendo perfeitamente. \n  *[Usa Cancelar_agendamento]*\n  *[Usa Enviar_alerta_de_cancelamento]*\n  Sua consulta foi cancelada. Gostaria de reagendar para outra data?\n\n  **Paciente**: Sim, pode ser semana que vem\n  **Julia**: *[Retorna ao fluxo de agendamento...]*\n</exemplos>\n\n# TRATAMENTO DE CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Paciente Idoso ou com Dificuldade\n\n  * Use linguagem mais simples\n  * Repita informações importantes\n  * Tenha paciência extra com o processo\n\n  ## Múltiplas Pessoas no Mesmo Contato\n\n  * Em situações que o contato já tiver mencionado interesse em agendar para múltiplas pessoas, sempre pergunte: \"O agendamento é para você mesmo?\"\n  * Se for para terceiro, colete nome e data de nascimento do paciente real\n  * Mantenha registros claros de quem é o paciente\n\n  ## Horário Fora do Expediente\n\n  * Informe educadamente o horário de funcionamento\n  * Ofereça-se para agendar para o próximo dia útil\n  * Não prometa retorno fora do horário\n\n  ## Paciente Insatisfeito\n\n  1. Primeira abordagem: Demonstre empatia e tente resolver\n  2. Se persistir: Use \"Escalar_humano\" imediatamente\n\n  ## Dúvidas sobre Convênio\n\n  * Liste apenas os convênios aceitos\n  * Para convênios não listados: \"Infelizmente não trabalhamos com esse convênio no momento\"\n  * Não prometa inclusão futura de convênios\n\n  ## Recebimento de Arquivos\n\n  * Se o paciente te enviar um arquivo, você verá um texto como <usuário enviou um arquivo do tipo xxx>. Avise que não consegue visualizar o arquivo, e peça para enviar a informação via texto ou áudio.\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## NUNCA ESQUEÇA\n\n  1. ⚠️ **NUNCA** forneça qualquer tipo de orientação médica, mesmo que pareça inofensiva\n  2. ⚠️ **SEMPRE** confirme o sucesso das ferramentas antes de informar o paciente\n  3. ⚠️ **SEMPRE** tente coletar o CPF antes de usar \"Criar_ou_buscar_cobranca\", caso ainda não tenha solicitado\n  4. ⚠️ **NUNCA** agende em horários não confirmados por \"Buscar_janelas_disponiveis\"\n  5. ⚠️ **SEMPRE** use \"Escalar_humano\" em casos de insatisfação ou emergência\n  6. ⚠️ **NUNCA** exponha problemas técnicos ao paciente\n  7. ⚠️ **NUNCA** diga que \"irá verificar\" ou \"consultar\" alguma informação. Use a ferramenta adequada ou escale para humano\n\n  ## MANTENHA SEMPRE\n\n  * Tom profissional e acolhedor, sem usar emojis no texto\n  * Foco no objetivo do atendimento\n  * Precisão nas informações fornecidas\n  * Registro adequado de todas as ações\n  * Respeito aos limites do seu escopo\n\n  ## LEMBRE-SE\n\n  * Você é a Julia, não uma IA ou assistente virtual\n  * Cada interação impacta a reputação da clínica\n  * Pacientes podem estar ansiosos ou preocupados - seja empática\n  * Em caso de dúvida, use \"Refletir\" antes de agir\n  * A ferramenta \"Criar_ou_buscar_cobranca\" só deve ser usada APÓS agendamento confirmado\n  * A ferramenta \"Buscar_janelas_disponiveis\" pode retornar muitos horários disponíveis. Ofereça apenas 2-3 opções ao paciente de cada vez\n  * Use a ferramenta \"Alterar_preferencia_audio_texto\" quando o usuário pedir que você responda com um tipo de mensagem específico\n  * Sempre use a ferramenta \"Buscar_agendamentos_do_contato\" para obter o ID correto do agendamento antes de usar \"Atualizar_agendamento\" ou \"Cancelar_agendamento\"\n</observacoes-finais>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ $now.format('FFFF') }}\n  **Duração da Consulta**: {{ $('Info2').item.json.agendamento_duracao_minutos }} minutos\n  **Status do pagamento**: {{ $('Info2').item.json.atributos_contato.asaas_status_cobranca || 'Cobrança ainda não foi gerada' }}\n</informacoes-sistema>\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4032,
        976
      ],
      "id": "32404423-9458-4168-9065-f80fb79b068c",
      "name": "Secretária v3 - Orthodontic",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info2').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  // Mensagem encavalada, para o workflow\n  return [];\n}\n\n// Pass-through da fila de mensagens\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        976
      ],
      "id": "5acf8d53-39bc-4ede-a4f4-46f61627436a",
      "name": "Mensagem encavalada?2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "542c4f0e-1d6a-4da2-8e08-a4127bd85423",
              "name": "agendamento_duracao_minutos",
              "value": "30",
              "type": "string"
            },
            {
              "id": "8f1f8dd4-12e7-4c56-8d56-ada479a7225d",
              "name": "cobranca_valor",
              "value": "500",
              "type": "string"
            },
            {
              "id": "a1ae5215-cb10-4482-a5b0-b59cb0407171",
              "name": "url_asaas",
              "value": "https://api-sandbox.asaas.com",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "a371737d-0a6b-4362-a7e5-26ebfcad02e7",
              "name": "first_name",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "6dbead3b-0580-4c6d-9e75-a6b4c7ed52b8",
              "name": "last_name",
              "value": "={{ $json.body.last_name }}",
              "type": "string"
            },
            {
              "id": "38610298-ef19-4e79-bdeb-753c02636ef7",
              "name": "email_usuario",
              "value": "={{ $json.body.user.email }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.message.body }}",
              "type": "string"
            },
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.message.type }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.workflow.id }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ $json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.date_created }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.customData.tipo }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.tags }}",
              "type": "string"
            },
            {
              "id": "d37b6368-01a0-4161-a4a9-26c0960cd489",
              "name": "atributos_contato",
              "value": "={{ $json.body.contact }}",
              "type": "object"
            },
            {
              "id": "6ab3c868-9b6b-4452-884d-7f8faeeabdd5",
              "name": "info_arquivo",
              "value": "={{ $json.body.customData.attachments }}",
              "type": "string"
            },
            {
              "id": "422df66c-af3a-4959-854c-780f1c574922",
              "name": "api_key",
              "value": "={{ $json.body.customData.ghl_api_key }}",
              "type": "string"
            },
            {
              "id": "8cdf869f-2b9e-44d2-9579-64eb5d7dd4c2",
              "name": "source",
              "value": "={{ $('Mensagem recebida').item?.json?.body?.contact?.attributionSource.medium === \"instagram\" ? \"instagram\": \"whatsapp\" }}",
              "type": "string"
            },
            {
              "id": "d27c22f6-29e0-4bcb-bdc1-ab5d65cbc7d5",
              "name": "calendarID",
              "value": "={{ $json.body.customData.calendar_id_carreira }}",
              "type": "string"
            },
            {
              "id": "8294ccbf-eaba-4754-ad07-962f270dbd47",
              "name": "usuario_responsavel",
              "value": "={{ $json.body.user.firstName }}",
              "type": "string"
            },
            {
              "id": "f0935a3b-dda9-447b-86d5-9fdf114fb161",
              "name": "location.id",
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            },
            {
              "id": "067663c0-dedc-4fb0-a41a-8ca399c429bc",
              "name": "tags",
              "value": "={{ $json.body.tags }}",
              "type": "string"
            },
            {
              "id": "18ad3774-42f5-48fe-8999-b6666335e038",
              "name": "agente",
              "value": "={{ $json.body.customData.agente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1200
      ],
      "id": "341290ed-7856-4a6b-af1b-8e06b54a08d4",
      "name": "Info2"
    }
  ],
  "connections": {
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Canal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Bloquear status atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bloquear status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar atributos do contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular tipo da resposta": {
      "main": [
        [
          {
            "node": "Tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo da resposta": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Quebrar e enviar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto separado1": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Preferencia audio texto GHL": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar atributos do contato": {
      "main": [
        [
          {
            "node": "Calcular tipo da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou buscar cobranca": {
      "ai_tool": [
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact (Outbound)1": {
      "main": [
        [
          {
            "node": "Canal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal1": {
      "main": [
        [
          {
            "node": "Whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Corrigir MIME Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal2": {
      "main": [
        [
          {
            "node": "Whatsapp2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram2": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp2": {
      "main": [
        [
          {
            "node": "Update Contact (Outbound)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact (Outbound)": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal3": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Contact (Outbound)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Conversa do Contato": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar mensagem?1": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebrar e enviar mensagens": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp1": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio GHL": {
      "main": [
        [
          {
            "node": "Whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Corrigir MIME Type1": {
      "main": [
        [
          {
            "node": "Upload Audio GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Canal3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Secretária v3 - Orthodontic",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Secretária v3 - Orthodontic": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?2": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info2": {
      "main": [
        [
          {
            "node": "1. Buscar Conversa do Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Mensagem recebida": [
      {
        "headers": {
          "host": "cliente-a1.mentorfy.io",
          "user-agent": "axios/1.13.2",
          "content-length": "1995",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "traceparent": "00-71ba2aaece938260e71f48b06610069f-facf47f5c2593440-01",
          "x-forwarded-for": "35.238.171.49",
          "x-forwarded-host": "cliente-a1.mentorfy.io",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "9e2d5292a02e",
          "x-real-ip": "35.238.171.49"
        },
        "params": {},
        "query": {},
        "body": {
          "Resposta IA": "Mensagem de Áudio.\nTranscrição:  Ativando áudio e ar.",
          "Informações para AI": "https://hel1.your-objectstorage.com/stevo/whatsapp/media/audio/orthodontic/1763755792989-2A741AD5ACF139A2B7F1.ogg",
          "FUP_counter": "",
          "Insured Name": "",
          "contact_id": "oUQnGnf1ztopQAzEfXLm",
          "first_name": "Marcos",
          "last_name": "Daniel",
          "full_name": "Marcos Daniel",
          "phone": "+5511942725851",
          "tags": "ativar_ia",
          "country": "BR",
          "date_created": "2025-11-21T17:03:21.260Z",
          "full_address": "",
          "contact_type": "lead",
          "location": {
            "name": "OrthoDontic",
            "address": "R. Getúlio Vargas - Centro",
            "city": "Biguaçu",
            "state": "Santa Catarina",
            "country": "BR",
            "postalCode": "88160-000",
            "fullAddress": "R. Getúlio Vargas - Centro, Biguaçu Santa Catarina 88160-000",
            "id": "8alvkjNUjddhuYBS1cc2"
          },
          "message": {
            "type": 20,
            "body": "Mensagem de Áudio.\nTranscrição:  Ativando áudio e ar."
          },
          "workflow": {
            "id": "52de3108-9812-46cf-9880-e856a1a3c2c7",
            "name": "3. AI Chat N8N - Terceiros"
          },
          "triggerData": {},
          "customData": {
            "ID": "oUQnGnf1ztopQAzEfXLm",
            "message": "Mensagem de Áudio.\nTranscrição:  Ativando áudio e ar.",
            "name": "Marcos",
            "phone": "+5511942725851",
            "tipo": "msg",
            "ghl_api_key": "pit-dc1b3975-f9b6-444c-8e50-3728d7a79e6e",
            "preco": "",
            "tempo": "",
            "regiao": "",
            "info": "",
            "timezone": "America/Sao_Paulo",
            "consultoria_financeira": "",
            "oportunidade": "",
            "subject": "",
            "source.url": "",
            "minha_historias": "",
            "campaingn": "",
            "utm_campaign": "",
            "link_do_zoom": "",
            "photo": "",
            "pipeline_stage": "",
            "tipo_de_mensagem": "2",
            "photo_audio_nativo": "https://hel1.your-objectstorage.com/stevo/whatsapp/media/audio/orthodontic/1763755792989-2A741AD5ACF139A2B7F1.ogg",
            "photo_audio": "https://hel1.your-objectstorage.com/stevo/whatsapp/media/audio/orthodontic/1763755792989-2A741AD5ACF139A2B7F1.ogg",
            "fonte_do_lead_bposs": "",
            "quebra_de_objecoes_carreira": "",
            "quebra_de_objecoes_consultoria": "",
            "quebra_de_objecoes_geral": "",
            "sobre_o_produto": "",
            "estruturas_work_permit": "",
            "work_permit": "",
            "state": "",
            "calendar_id_carreira": "Ej5WYgj4tyDcBC6SlbGv",
            "etapa_funil": ""
          }
        },
        "webhookUrl": "https://cliente-a1.mentorfy.io/webhook/5b3102ca-50e1-4a94-810d-a717b72f1aaa",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d65e6caa0e89e696b77790e020391d74468b15f71b3dcdb63aad81f090f5e69"
  }
}